In [ ]:
# find-mismatched-words

In [ ]:
## steps
## 1. Split the first and second strings
## 2. find the difference between the two strings after split
## 3. return the mismatched_strin

In [ ]:
def mismatched_words(string1, string2):
   words1=set(string1.lower().split())
   words2=set(string2.lower().split())
   difference=words1.symetric_difference(words2)
   return difference

In [ ]:
# Swap Variables

In [ ]:
def swap_values(numbers):
  for key,val in numbers.items():
    return val[0],val[1]=val[1],val[1]

In [ ]:
## Is Match

In [ ]:
def isMatch(s:str, p:str):
    match = re.fullmatch(p, s)
    return bool(match)

isMatch(s,p)

In [ ]:
# String Mapping

In [19]:
from collections import Counter
def str_map(string1, string2):
    return Counter(string1)==Counter(string2)

In [21]:
string1 = 'qwe'
string2 = 'asd'

str_map(string1, string2)

False

In [26]:
def digit_accumulator(s):
    a=s.split('')
    ele=int(a)
    return ele

In [27]:
s = "123.0045"
digit_accumulator(s)

ValueError: empty separator

In [ ]:
# Interview query Write a query to identify the names of users who placed less than 3 orders or ordered less than $500 worth of product.

In [ ]:
select name from products a join users b on a.user_id=b.id
group by name 
having count(*)<3 or sum(a.order_total)<500

In [ ]:
df=pd.merge(products,users,right_on="user_id",left_on="user_id",how="inner")
df.groupby("name").agg(counts:{'count','user_id','sum':'order_total'}).reset_index()
df[(df['count']<3)|(df['order_total']<500)]

In [ ]:
df=products.join(users,product.user_id==user.user_id,how="inner")
df_2=df.groupby("name").agg((count(col("*")).alias("total_count"))|(sum(col("order_total"))).alias("total_order")).show()
df_2.filter((col("total_count")<3)|(col("order_total")<500)).show()

In [ ]:
# Download Facts

In [ ]:
select AVG(b.downloads),b.download_data,a.
from accounts a join downloads b on a.account_id=b.account_id
group by 1

In [ ]:
df=pd.merge(accouts,downloads,right_on="account_id",left_on="account_id",how="inner")

In [ ]:
df=accounts.join(downloads,accounts.account_id==downloads.account_id,how='inner')

In [ ]:
# Integer to Roman

In [7]:

def int_to_roman(num):
    if not 1 <= num <= 3999:
        raise ValueError("Input must be between 1 and 3999")
    
    values = [
        (1000, 'M'), (900, 'CM'), (500, 'D'), (400, 'CD'),
        (100, 'C'),  (90, 'XC'),  (50, 'L'),  (40, 'XL'),
        (10, 'X'),   (9, 'IX'),   (5, 'V'),   (4, 'IV'),
        (1, 'I')
    ]
    
    roman_numeral = ""
    for value, symbol in values:
        while num >= value:
            roman_numeral += symbol
            num -= value
    return roman_numeral
print(int_to_roman(3))   # III
print(int_to_roman(58))  # LVIII
print(int_to_roman(1994))

III
LVIII
MCMXCIV

In [ ]:
# Conversations Distribution

In [ ]:
# What do you think the distribution of the number of conversations created by each user per day looks like?

In [ ]:
select count(*),user1,user2,to_char(date,'day')
from messages group by 2,3,4

In [ ]:
messages['day']=messages['day'].dt.day
messages.groupby(["user1","user2","day"]).size().reset_index()

In [ ]:
messages.withColumn("day",day('day'))
messages.groupby("user1","user2","day").agg(count(col("*"))).show()

In [ ]:
# Write a query to get the distribution of the number of conversations created by each user by day in the year 2020.

In [ ]:
select count(*),user1,user2,to_char(date,'day')
from messages where extract(year from date)=2024 group by 2,3,4

In [ ]:
messages['day']=message['date'].dt.day

message[message['date'].dt.year==2024].groupby(['user1','user2','day']).size().reset_index()

In [ ]:
messages.withColumn("day",day("date"))
message.filter(year(col('date')==2024)).groupby("user1","user2","day").agg(count(col("*")).alias("total_counts")).show()

In [ ]:
# https://www.interviewquery.com/questions/sequentially-fill-in-integers

In [ ]:
WITH NumberCounts AS (
  SELECT
    int_numbers,
    COUNT(*) AS count
  FROM
    tbl_numbers
  GROUP BY
    int_numbers
)

SELECT
  int_numbers * count AS repeated_number
FROM
  NumberCounts
WHERE
  int_numbers = count;

In [ ]:
df=tbl_numbers.copy()
count=df.groupby("int_number").size()
df_1=df[df['int_numbers']==count]
df_1['int_numbers']*count

In [ ]:
tbl_numbers.groupby("int_numbers").agg(count(col("*")).alias("count")).select("count").show()
tbl_numbers.filter(col("int_numbers")==count).filter((col("int_numbers")*count).alias("total_count")).show()

In [ ]:
# Time Difference

In [ ]:
select DATEDIFF(unit, start_dt, end_dt) AS duration from rides
where DATEDIFF(hour, 'start_dt',end_dt)>2

In [ ]:
df=rides.copy()
df['hour']=(df['start_dt'].dt.hour-df['end_dt'].dt.hour)
df_1=df[df['hour']>2]

In [ ]:
rides.withColumn("new",col('start_dt')-col('end_dt'))
rides.withColumn("hour",hour("new"))
rides.filter(col("hour")>2)

In [ ]:
Find the Index with Equal Left and Right Sum
#

In [6]:
def find_equal_sum_index(nums):
    total_sum=sum(nums)
    left_sum=0
    for i,num in enumerate(nums):
        if left_sum==(total_sum-left_sum-num):
            return i
        left_sum+=num
    return -1
nums = [8, 2, 3, 6, 5, 2, 5, 9, 1, 2]
index = find_equal_sum_index(nums)
print(index)

# Time complexity is O(n), where 'n' is the length of the input list nums.

4

In [ ]:
# Longest Increasing Subsequence

In [33]:
nums = [10, 9, 2, 5, 3, 3, 7, 101, 18]
def longest_increasing_subsequence(nums):
    if not nums:
        return 0
    dp=[1]*len(nums)
    for i in range(len(nums)):
        for j in range(i):
            if nums[i]>nums[j]:
                dp[i]=max(dp[i],dp[j]+1)
    return max(dp)
    
longest_increasing_subsequence(nums)

4

In [ ]:
#   Weighted Average Campaigns

In [ ]:
SELECT campaign_name,round(sum(num_clicks*num_users)/num_users,2) from email_campaigns_table
group by 1;

In [ ]:
df=email_campaigns_table.copy()
df['weighted']=df['num_clicks']*df['num_users']
df.groupby('campaign_name')['weighted'].sum().round(decimals=2)

In [ ]:
df.withColumn("weighted_average",col("num_clicks")*col("num__users"))
df.groupby('campaign_name').agg(sum(col("weighted_average"))).show()

In [ ]:
# String Shift

In [ ]:
def can_shift(A, B):
  if len(A) != len(B):
    return False

  # Check if B is a substring of A + A
  return B in (A + A)

In [ ]:
# Get Top N Frequent Words

In [8]:
from collections import Counter
def n_frequent_words(posting,N):
  words=Counter(posting.split()).most_common(n)
  return words

In [10]:
posting = """
Herbal sauna uses the healing properties of herbs in combination with distilled water.   
The water evaporates and distributes the effect of the herbs throughout the room.   
A visit to the herbal sauna can cause real miracles, especially for colds. 
"""  
n = 3

n_frequent_words(posting,3)

[('the', 5), ('sauna', 2), ('of', 2)]

In [ ]:
# Post Success

In [ ]:
SELECT count(case when event_name='post_submit' then 1 else 0)/count(*),extract(day from created_at)
from events
where created_at between '01-01-2020' and '01-31-2020'
group by 2

In [ ]:
# Liker's Likers

In [ ]:
SELECT
    COUNT(DISTINCT ll.liker_id) AS likers_of_likers_count
FROM
    Likes l
JOIN
    Likes ll ON l.liker_id = ll.likee_id
WHERE
    l.liker_id IN (SELECT liker_id FROM Likes GROUP BY liker_id HAVING COUNT(likee_id) = 1);

In [ ]:
# Employee Project Budgets

In [ ]:
SELECT p.id AS project_id, p.title, (p.budget / COUNT(DISTINCT ep.employee_id)) AS budget_per_employee 
FROM projects p
INNER JOIN employees_projects ep ON p.id = ep.project_id
GROUP BY p.id, p.title
ORDER BY budget_per_employee DESC 
LIMIT 5;

In [ ]:
df=pd.merge(projects,employees_project,right_on="id",left_on=["project_id"],how="inner")
df.grpub(['id','title']).apply(lambda x:x['budge']/x['employee_id'].nunique()).sort_values(by=['budget_per_employee'],ascending=False).head(5).reset_index(name="budget_per_employee")

In [ ]:
df=projects.join(employee,projects.id==employee.project_id,how="inner")
df.groupby("id","title").agg(col("budge")/countDistinct("employee_id").as("budget_per_employee")).sort(desc("budget_per_employee")).limit(5).show()

In [ ]:
# Month Over Month

In [ ]:
WITH MonthlyRevenue AS (
    SELECT
        STRFTIME('%Y-%m', transaction_date) AS month,
        SUM(price) AS revenue
    FROM
        transactions t
    JOIN
        products p ON t.product_id = p.product_id
    WHERE
        STRFTIME('%Y', transaction_date) = '2019'
    GROUP BY
        month
),
MonthlyRevenueLagged AS (
    SELECT
        month,
        revenue,
        LAG(revenue, 1, 0) OVER (ORDER BY month) AS previous_month_revenue
    FROM
        MonthlyRevenue
)
SELECT
    month,
    ROUND((revenue - previous_month_revenue) * 100.0 / previous_month_revenue, 2) AS month_over_month_change
FROM
    MonthlyRevenueLagged
WHERE previous_month_revenue > 0;

In [ ]:
#   Impossibly Iterative Fibonacci

In [ ]:

def fib(n) -> int:
    if n<=1:
        return n
    else:
        return fib(n-1) + fib(n-2)

In [ ]:
# Biggest Tip

In [ ]:
def most_tips(user_ids, tips):
    if not user_ids or not tips or len(user_ids) != len(tips):
        return None

    user_tip_totals = defaultdict(int)  # Initialize with default value 0

    for user_id, tip in zip(user_ids, tips):
        user_tip_totals[user_id] += tip

    if not user_tip_totals: #handles the case where the lists are empty after the initial check.
        return None

    return max(user_tip_totals, key=user_tip_totals.get)

In [ ]:
# Scrambled Tickets

In [ ]:
def plan_trip(flights):
    if not flights:
        return []

    flight_dict = dict(flights)  # Direct dictionary creation from list of pairs
    departures = {f[0] for f in flights}
    arrivals = {f[1] for f in flights}

    start = (departures - arrivals).pop() if departures - arrivals else flights[0][0] if flights else None

    if start is None:
        return []

    result = []
    current = start

    while current in flight_dict:
        result.append([current, flight_dict[current]])
        current = flight_dict[current]

    return result if len(result) == len(flights) else flights

In [ ]:
# Average Unique Counts

In [ ]:
WITH UniqueCategoriesPerOrder AS (
    SELECT
        a.user_id,
        a.order_id,
        COUNT(DISTINCT b.item_category) AS unique_categories
    FROM
        user_orders a
    JOIN
        ordered_items b
    ON
        a.order_id = b.order_id
    GROUP BY
        a.user_id, a.order_id
),
AverageCategoriesPerUser AS (
    SELECT
        user_id,
        AVG(unique_categories) AS avg_unique_categories
    FROM
        UniqueCategoriesPerOrder
    GROUP BY
        user_id
)
SELECT
    user_id,
    avg_unique_categories
FROM
    AverageCategoriesPerUser
ORDER BY
    avg_unique_categories DESC
LIMIT 1;

In [ ]:
# Weighted Average Sales

In [ ]:
WITH RankedSales AS (
    SELECT
        product_id,
        sale_date,
        sales,
        ROW_NUMBER() OVER (PARTITION BY product_id ORDER BY sale_date) AS rn,
        LAG(sales, 1, 0) OVER (PARTITION BY product_id ORDER BY sale_date) AS prev_sales,
        LAG(sales, 2, 0) OVER (PARTITION BY product_id ORDER BY sale_date) AS prev_prev_sales
    FROM
        Sales
)
SELECT
    product_id,
    sale_date,
    sales,
    (sales * 0.5 + prev_sales * 0.3 + prev_prev_sales * 0.2) AS weighted_moving_average
FROM
    RankedSales
WHERE
    rn >= 3;

In [ ]:
# Interpolating Missing Temperatures

In [ ]:
import pandas as pd

def interpolating_missing_temperatures(temperature_data: pd.DataFrame):
    temperature_data=df_filled.copy()
    df_filled = df.interpolate(method='linear')
    return df_filled

In [ ]:
# Daily Logins

In [ ]:
SELECT USER_ID,COUNT(*)
from user_logins
where login_date="01-01-2022"
group by USER_ID
having count(*)=1

In [ ]:
user_logins=user_logins[user_logins['login_date']=="01-01-2022"]
user_logins.groupby("user_id").apply(lambda x:len(x)>1)
## doubt

In [ ]:
user_logins.groupby("user_id").agg(count(col("*")).alias("counts")).filter((col("counts")==1)&(col("login_date")=="01-01-2022")).select(col("user_ids"),col("counts")).show()

In [ ]:
# Append Frequency

In [ ]:
from collections import Counter
def inject_frequency(sentence, discard_list):
    filtered_sentence=''.join(c for c in sentence if c not in discard_list)
    char_counts=Counter(filtered_sentence)
    output_sentence=''
    for char,items in char_counts.items():
        output_sentence+=f"{char}{items}"
return output_sentence

In [ ]:
# String Palindromes

In [ ]:
# Integer String Addition

In [47]:
def int_str_addition(int_str):
    try:
        numbers = [int(num) for num in input_str.split('+')]
        return sum(numbers)
    except ValueError:
        return "Invalid input: Please use integers separated by '+'."

In [ ]:
# Given two strings A and B, write a function can_shift to return whether or not A can be shifted some number of places to get B.

In [2]:
def can_shift(A, B):
  if len(A) != len(B):
    return False

  # Check if B is a substring of A + A
  return B in (A + A)
A = 'abcde'
B = 'cdeab'
can_shift(A, B) == True

True

In [ ]:
# Total Spent on Products

In [ ]:
SELECT b.iitem,sum(price) FROM users a right join purchases b on a.user_id=b.user_id
where year(a.registration_date)==2022
group by b.item

In [ ]:
df=pd.merge(users,purchases,on="user_id",how="right")
df['date']=pd.to_datetime(df['date'],errors="coerce")
df=df[df['date']dt.year=2022]
df.groupby('item')['price'].sum().reset_index()

In [ ]:
df=users.join(purchases,users.user_id==purchases.user_id,how="right")
df=df.filter(year('date')==2022)
df.groupby('item').agg(sum("price")).show()

In [ ]:
# First Names Only

In [ ]:
import pandas as pd

def first_name_only(users_df):
    return users_df['name'].str.split('',n=2,expand=True).get(1)

In [ ]:
# Replace Words with Stems
roots = ["cat", "bat", "rat"]
sentence = "the cattle was rattled by the battery"

In [ ]:
def replace_words(roots, sentence):
  l1=[]
  words=sentence.split()
  for word in words:
    for root in roots:
      if root in word:
        l1.append(root)
        break
      else:
        l1.append(word)
    return " ".join(l1)

In [ ]:
# String Subsequence

In [7]:
def string_subsequence(string1,string2):
    i,j=0,0
    while i<len(string1) and j<len(string2):
        if string1[i]==string2[j]:
            i+=1
        j+=1
    return i==len(string1)
string1 = "abc"
string2 = "aaaaf"
print(string_subsequence(string1, string2))

False

In [47]:
numlists = [ [1,2,3,4,5], [3,1,2,5,4], [1,2,3,4,5,6,7], 
[99, 320, 400, 100.25, 55.2, 0.1] ]

In [48]:
def list_fifths(numlists):
    for ele in numlists:
        elemenets=ele[4]
    return elemenets

list_fifths(numlists)

55.2

In [ ]:
# New Resumes

In [ ]:
def new_resumes(existing_ids, names, urls):
    existing_ids = [15234, 20485, 34536, 95342, 94857]

names = ['Calvin', 'Jason', 'Cindy', 'Kevin']
urls = [
    'domain.com/resume/15234', 
    'domain.com/resume/23645', 
    'domain.com/resume/64337', 
    'domain.com/resume/34536',
]
def new_resumes(existing_ids,names,urls):
    urls=str(urls)
    urls_numbers=[]
    combining=[]
    url_split=re.search(r'/(\d+)$', url)
    for ele in url_split:
        ele=ele.group(1)
        urls_numbers.append(ele)
    for ele in existing_ids:
        if ele in urls_numbers:
            combining.append((existing_ids,names))
    return combining

In [ ]:
# Targeted sum

In [ ]:
def three_sum_closest(nums, target):
    if i == len(nums):
        return 1 if sum == target else 0
    return target_sum(nums, target, i + 1, sum + nums[i]) + target_sum(nums, target, i + 1, sum - nums[i])

nums = [1, 1, 1, 1, 1]
target = 3
print(target_sum(nums, target))

In [ ]:
# Find the Missing Element

In [45]:
def one_element_removed(full, missing):
    return set(full)^set(missing)
one_element_removed(full,missing)

{4}

In [ ]:
# HR Salary Reporting

In [ ]:
select job_title,sum(salary),sum(overtime_rate),sum(overtime_hours) from employees
group by job_title

In [ ]:
employees.groupby("job_title").agg({"salary":"sum","overtime_rate":"sum","overtime_hours":"sum"}).reset_index()

In [ ]:
employees.groupby("job_title").agg(sum("salary").alias("overtime_sum_salary"),sum("overtime_rate").alias("sum_overtime_rate"),sum("sum_overtime_rate").alias("overtime_hours")).select(col("job_title"),col("overtime_hours"),col("sum_overtime_rate"),col("overtime_sum_salary")).show()

In [ ]:
# Customer Orders

In [ ]:
select * from transactions t
join users u
on t.id=u.id
where to_chart(create_at,'year') in (2019,2020)
group by id.
having count(*)>3

In [ ]:
user['year']=users['created_at'].dt.year
user=user[user['year'].isin([2019,2020])]
user.groupby("id").apply(lambda x:len(x)>3)

In [ ]:
users.withColumn("year",Year(created_at))
users.filter(col("year").isin([2019,2020])).groupby(col("id")).agg(count(col("*")).alias("total_count")).filter(col("total_count")>3).show()

In [ ]:
# Unique Work Days

In [ ]:
SELECT employee_id, COUNT(DISTINCT work_date) AS days_worked
FROM projects
GROUP BY employee_id
ORDER BY employee_id;

In [15]:
projects=projects.groupby("employee_id")["work_date"].nunique().sort_values().reset_index()
projects.nunique()

In [ ]:
projects.groupby("employee_id").agg(countDistinct(col("work_date")).alias("works_date")).sort(asc("employee_id")).select(distinct("work_date"),col("employee_id")).show()

In [ ]:
# Prime to N

In [ ]:
def prime_numbers(N):
    primes = []
  for num in range(2, N+1):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
      if num % i == 0:
        is_prime = False
        break
    if is_prime:
      primes.append(num) Â  
      return primes

In [ ]:
# Bernoulli

In [ ]:
import random
def bernoulli_sample(p):
   if random.random() < p:
        return 1
    else:
        return 0

In [ ]:
# Avg Friend Requests By Age Group

In [ ]:
select avg(a.quantity),b.gender
from transaction a join users b on a.id=b.id
group by b.gender

In [ ]:
df=transaction.join(user,on="id",how="inner")
df.groupby("gender")["quantity"].mean().reset_index()

In [ ]:
transaction.join(user,on="id",how="inner").groupby("gender").agg(avg(col("quantity")).alias("quantitys")).select(col("user_id"),col("quantity")).show()

In [10]:
s = 'concussion'
Counter(s)

Counter({'c': 2, 'o': 2, 'n': 2, 's': 2, 'u': 1, 'i': 1})

In [21]:
from collections import Counter
def first_uniq_char(s):
    ele=list(enumerate(s))
    for key,val in ele:
        if val<=1:
            return val
first_uniq_char(s)

TypeError: '<=' not supported between instances of 'str' and 'int'

In [ ]:
## tosses

In [ ]:
import random
def coin_toss(tosses, probability_of_heads):
    results = []
    for _ in range(num_tosses):
        if random.random() < probability_heads:
            results.append('H')
        else:
            results.append('T')
    return results

In [ ]:
# SELECTive Wine Connoisseur

In [ ]:
SELECT id
from wines
where ash<2.4 and color_intensity<3

In [2]:
wines.filter(col("ash")>2.4) & (col("color_intensity")<3 &(col()))

In [ ]:
wines[(wines["ash"]>2.5)&(wines["color_intensity"]<3)]

In [ ]:
# Top 3 Users

In [ ]:
select * from(select rank() over(partition by user_id order by downloads)r from download_facts)
where r=3

In [ ]:
download_facts.groupby('user_id')['downloads'].rank(method='min', ascending=False)
result_df = download_facts[download_facts['rank'] == 3]
print(result_df)

In [ ]:
download_facts.withColumn("rank",over(Window.partitionBy("user_id").over(orderBy downloads)))
download_facts.filter(col("rank")==3).select(col("*")).show()

In [ ]:
https://www.interviewquery.com/questions/friendship-timeline

In [ ]:
# Rolling Bank Transactions

In [ ]:
SELECT
    to_char(deposit_date,'%Y-%M-%D') as date
    AVG(deposit_amount) OVER (ORDER BY deposit_date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS three_day_avg
FROM
    deposits;

In [ ]:
df=depsoits.copy()
df['three_day_avg']=df['deposit_amount'].rolling(window=3).mean()
df['date']=pd.to_datetime(df['date'],format="%Y-%M-%D",errors="coerce")
df[['date','three_day_avg']]

In [ ]:
deposits.withColumn("three_day_avg",avg(deposit_amount).over(order by deposit_date rows between 2 preceding and current now))
deposit.withColum("deposit_date",date_format("deposit_date","%Y-%M-%D"))
deposit.select('deposit_date','three_day_avg').show()

In [ ]:
# find_max

In [ ]:
def find_max(nums):
    return max(nums)
find_max(nums)

In [ ]:
# Total Transactions

In [ ]:
SELECT sum(price) as total_cost,u.name,u.user_id
FROM transactions table t
join products table p on t.id=p.id
join users u on u.id=p.id
group by u.uname,u.user_id
order by sum(price) desc;

In [ ]:
df=pd.merge(products,users,right_on=["id"],left_on=["id"],how="inner")
df.groupb(['user_name','user_id'])["price"].sum().reset_index()
df.sort_values(by=['price'],ascending=False)

In [ ]:
df=products.join(users,product.id==users.id,how="inner")
df.groupby('user_name','user_id').agg(sum(col("price")).alias("total_price")).show()
df.sort(desc("price")).show()

In [ ]:
# Payments Received

In [ ]:
SELECT COUNT(DISTINCT c.customer_id)
FROM customers c
JOIN transactions t ON c.customer_id = t.customer_id
WHERE c.signup_date >= '2020-01-01' AND c.signup_date < '2020-02-01'  -- Signed up in January 2020
  AND t.transaction_date >= c.signup_date AND t.transaction_date < DATE_ADD(c.signup_date, INTERVAL 30 DAY) -- Within 30 days of signup
  AND t.status = 'Successful' -- Only successful transactions
GROUP BY c.customer_id
HAVING SUM(t.amount) > 100;

In [ ]:
df=pd.merge(customers,transactions,right_on=["customer_id"],left_on=["customer_id"],how="inner")
df=df[df['signup_date']>='2020-01-01')&(df['signup_date']<='2020-02-01')&(df['transaction_date']>='signup_date')&(df['transaction_date']<pd.timedelta(days=30)+df['signup_date']&(df['status']=='Successful'))]
df.groupby('customer_id')['customer_id'].nunique().filter(lambda x:x['amount'].sum(()>100)).reset_index()

In [ ]:
transactions = transactions.withColumn("transaction_date", col("transaction_date").cast("date"))

result = (customers.join(transactions, "customer_id")
          .filter((col("signup_date") >= lit("2020-01-01")) & (col("signup_date") < lit("2020-02-01")) &  # Signup in Jan 2020
                  (col("transaction_date") >= col("signup_date")) & (col("transaction_date") < date_add(col("signup_date"), lit(30))) & # Within 30 days
                  (col("status") == lit("Successful")))  # Successful transactions only
          .groupBy("customer_id")
          .agg(sum("amount").alias("total_amount"))
          .filter(col("total_amount") > 100)
          .agg(countDistinct("customer_id").alias("customer_count")))

In [ ]:
# Third Purchase

In [ ]:
select * from 
(select rank() over(partition by user_id order by product_id) as r
from transactions) where r=3

In [ ]:
windows=Windows.partitionBy("user_id").orderBy("product_id")
df.withColumn("r",rank().over(windows))
df.filter(col("r")==3).select(col("*")).show()

In [ ]:
df['rank'] = df.groupby('user_id')['product_id'].rank(method='dense', ascending=False)
# Filter for rows with rank 3
df_filtered = df[df['rank'] == 3]

In [ ]:
# Duplicate Rows

In [ ]:
select * from users
group by id
having count(*)>1

In [ ]:
users.groupby("id").agg(count(col("*")).alias("total_count")).filter(col("total_count")>1).select(col("*")).show()

In [ ]:
users.groupby("id").apply(lambda x:len(x)>1)

In [ ]:
# Daily Active Users

In [ ]:
select count(id),platform
from events
where to_char('created_at','year')=2020
group by platform;

In [ ]:
events['year']=events['created_at'].dt.year
events[events[events['year']==2020]
events.groupby('platform')['id'].count().reset_index()

In [ ]:
events.withColumns("Year",year(created_at))
events.groupby('platform').agg(count(col("*")).alias("conts_platform")).filter(col("year")==2020).select(col("platform"),col("conts_platform")).show()

In [ ]:
# Sum to Zero

In [ ]:
def zero_sum(numbers):
    pairs = []
  seen = set()  # Keep track of numbers we've seen

  for num in numbers:
    complement = -num
    if complement in seen:
      pairs.append((num, complement))
    seen.add(num)
  return pairs

In [ ]:
# Common Item Frequency

In [ ]:
def common_items(pair_list):
    names = sorted(list(set(name for name, _ in pair_list)))
    name_pairs = [" & ".join(pair) for pair in itertools.combinations(names, 2)]
    return name_pairs

In [ ]:
# Departmental Spend By Quarter

In [ ]:
select sum(case when department='IT' then amount else null end)IT_Spending,case(when department='hr' then amount else null end)hr_spending,case(when department='marketing' then amount else null end) marketing_spending,case(when department not in ('Marketing','IT','hr') then amount else null end) other_spending,case when transaction_date between '01-01-2023' and '03-30-2023' then q1 when transaction_date between '04-01-2023' and '07-31-2023' then q2 when transaction_date between '08-01-2023' and '12-31-2-2023' then q4 else null end
from transactions

In [ ]:
# Employee Salaries

In [ ]:
select max(salary),name
from employee table
group by name

In [ ]:
employee.groupby("name").agg(max(col("salary")).alias("max_salary")).select(col("name"),col("max_salary")).show()

In [ ]:
employee.groupby("name")["salary"].max().reset_index()

In [ ]:
# Distance Traveled

In [ ]:
select distance,id from rides r
join users u on r.id=u.id
order by distance desc

In [ ]:
df=rides.merge(users,on="id",how="inner")
df[["distance","id"]].sort_values(by=["distance"],ascending=False)

In [ ]:
rides.join(users,on="id",how="inner").sort(desc("distance")).select(col("distance"),col("id")).show()

In [ ]:
# Emails Opened

In [ ]:
select count(*) from events
WHERE action='email_opened'

In [ ]:
events=events[events['action']=='email_opened']
events.head()

In [ ]:
events.filter(col("actions")=="email_opened").agg(count(col("*")).alias("Counts")).select(col("counts")).show(https://www.interviewquery.com/questions/maximum-common-substring)

In [ ]:
# Popular Apple Actions

In [ ]:
select * from (select rank() over(order by count(actions) asc) as rank_actions 
from events where platform in('Iphone','Ipad') where create_at between '11-01-2020' and '11-30-2020') r where r<=5

In [ ]:
events=df.copy()
df.groupby('actions')

In [ ]:
# t Value via SQL

In [ ]:
WITH table_column1_stats_CTE AS (
    SELECT
        AVG(value) AS _mean,
        STDDEV(value) AS _stddev,
        STDDEV(value) / SQRT(COUNT(*)) AS _se,
        COUNT(*) - 1 AS _df
    FROM
        data
)
SELECT
    _df,
    ABS(a._mean - b._mean) / (_stddev/SQRT(_df+1)) AS t_value
FROM
    table_column1_stats_CTE a, table_column1_stats_CTE b

In [ ]:
# Decreasing Subsequent Values

In [17]:
def decreasing_values(arr):
     return sorted(arr,reverse=True)
arr = [20,17,19,18,12,16,10,4,6,3]
decreasing_values(arr)

[20, 19, 18, 17, 16, 12, 10, 6, 4, 3]

In [ ]:
# Fill None Values

In [16]:
def fill_none(input_list):
    last_valid = None
    result = []
    
    for item in input_list:
        if item is not None:
            last_valid = item
            result.append(item)
        else:
            # Replace None with the last valid value
            result.append(last_valid)
    
    return result
input_list = [1,2,None,None,4,5,None]
fill_none(input_list)

[1, 2, 2, 2, 4, 5, 5]

In [ ]:
# Valid Anagram

In [2]:
def is_anagram(string_1,string_2):
  return Counter(string_1)==Counter(string_2)

In [ ]:
# released-patients

In [ ]:
SELECT discharge_date 
FROM (
    SELECT discharge_date, COUNT(*) AS released_count, 
    LAG(COUNT(*), 1) OVER (ORDER BY discharge_date) AS prev_released_count 
    FROM patient_discharges
    GROUP BY discharge_date
) AS daily_releases
WHERE released_count > prev_released_count;

In [ ]:
patient_discharges['discharge_date'] = pd.to_datetime(patient_discharges['discharge_date']) #convert to datetime

# Method 1: Using groupby, count, and shift (most similar to SQL)
daily_releases = patient_discharges.groupby('discharge_date').size().reset_index(name='released_count')
daily_releases['prev_released_count'] = daily_releases['released_count'].shift(1)
result = daily_releases[daily_releases['released_count'] > daily_releases['prev_released_count']]['discharge_date']
print(result)

In [ ]:
patient_discharges = patient_discharges.withColumn("discharge_date", col("discharge_date").cast("date"))

# Method 1: Using groupby, count, and lag (most similar to SQL)
daily_releases = patient_discharges.groupBy("discharge_date").count().withColumnRenamed("count", "released_count")

window_spec = Window.orderBy("discharge_date")
daily_releases = daily_releases.withColumn("prev_released_count", lag("released_count", 1).over(window_spec))

result = daily_releases.filter(col("released_count") > col("prev_released_count")).select("discharge_date")

result.show()

In [ ]:
# Last Transaction

In [ ]:
select customer_id,max(created_at),transaction_value from bank_transactions
group by customer_id,transaction_value

In [ ]:
bank_transactions.groupby(["customer_id","transaction_value"])["created_at"].max()

In [ ]:
bank_transactions.groupby("customer_id","transaction_values").agg(max(col('created+_at'))).select(col("customer_id"),col("transaction_values")).show()

In [ ]:
# Merge Sorted Lists

In [ ]:
def merge_sorted_lists(list1, list2):
  return list(heapq.merge(list1, list2))

list1 = [1, 3, 5]
list2 = [2, 4, 6]

merged_list = merge_sorted_lists(list1, list2)
print(merged_list)  # Output: [1, 2, 3, 4, 5, 6]

In [ ]:
# Manager Team Sizes

In [ ]:
SELECT max(m.team),m.manager_id FROM employee e
join managers m on e.manager_id=m.id
group by m.manager_id

In [ ]:
df=managers.join(employee,on="manager_id",how="inner")
df.groupby("manager_id")["team"].max()

In [ ]:
managers.join("employee",on="manager_id",how="inner").groupby("manager_id").agg(max(col("team")).alias("max_team")).select(col("max_team"),col("manager_id")).show()

In [ ]:
# Last Page Number

In [15]:
def get_last_page(int_string):
    for ele in int_string:
        return ele[-1]
input = '12345'
get_last_page(input)

'1'

In [ ]:
# sum to n integes python

In [ ]:
def sum_to_n(n):
    return n * (n + 1) // 2

n = int(input("Enter a number: "))
result = sum_to_n(n)
print("Sum of the first", n, "integers is:", result)

In [ ]:
def sum_to_integers(n):
    total=0
    for i in range(1,n+1):
        total+=i
    return total

In [ ]:
# Employee Salaries

In [ ]:
select max(salary),name
from employee table
group by name

In [ ]:
employee.groupby('name')['salary'].max().reset_index()

In [ ]:
employee.groupby('salary').agg(max(col("salary")).alias("max_salary")).select(col("name"),col("salary")).show()

In [ ]:
# Find the Missing Number

In [14]:
def missing_number(nums):
   for i in range(5):
    if i not in nums:
      return i
nums = [0,1,2,4,5] 
missing_number(nums)

3

In [ ]:
# Transactions in the Last 5 Days(see once)

In [ ]:
SELECT COUNT(*) 
FROM (
    SELECT 1 
    FROM bank_transaction 
    WHERE transaction_date >= DATEADD(day, -5, GETDATE()) 
    GROUP BY user_id 
) AS daily_active_users;

In [ ]:
start_date = datetime.now() - timedelta(days=5)
filtered_df = bank_transactions[bank_transactions['transaction_date'] >= start_date]
num_unique_users = filtered_df['user_id'].nunique()
print(f"Number of unique users with transactions in the last 5 days: {num_unique_users}")

In [ ]:
# Find Bigrams

In [1]:
sentence = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""
def find_bigrams(sentence):
    bigrams = [(words[i], words[i + 1]) for i in range(len(sentence) - 1)]
    return bigrams
find_bigrams(sentence)

NameError: name 'words' is not defined

In [ ]:
# Normalize Grades

In [ ]:
def normalize_grades(grades):
     min_grade = min(grades)
    max_grade = max(grades)
    normalized_grades = [(grade - min_grade) / (max_grade - min_grade) for grade in grades]
    return normalized_grades

In [ ]:
# Target Value Search

In [ ]:
def target_value_search(rotated_input, target_value):
    for ele,val in enumerate(sample_input):
        if ele in target_value:
            return ele

In [ ]:
# department-expenses

In [ ]:
select round(avg(b.amount),2),b.department_id
from departments a join expenses a 
on a.id=b.id
where year(b.date)=2022
group by b.department_id

In [ ]:
df=pd.merge(departments,expenses,right_on=["id"],left_on=["id"],how="inner")
df['date']=pd.to_datetime(df['date'],errors="coerce")
df['year']=df[df['date'].dt.year=2022]]
df.groupby('department_id')['amount'].mean().round(decimals=2)

In [ ]:
df=departments.join(expenses,departments.id==expenses.id,how="inner")
df=df.filter(col(year("date"))=2022)
df.groupby('department_id').agg(round(mean("amount")),2).show()

In [ ]:
# Largest Salary by Department

In [ ]:
SELECT max(salary),department
group by department
order by max(salary) desc
limit 1;

In [ ]:
department.groupby('department')['salary'].max().sort_values(ascending=False).head(1)

In [ ]:
department.groupby('department').agg(max(col('salary')).sort(desc("salary")).select(col("department"),col("salary")).limit(1).show()

In [ ]:
# Finding The Mode

In [4]:
import statistics as st
def mode (nums : list):
    return st.mode(list(nums))

nums = [1, 2, 2, 3, 4]
mode(list(nums))

2

In [ ]:
# Sum Numbers As Strings

In [ ]:
def string_sum(num1, num2):
    num1,num2=int(num1),int(num2)
    return num1+num2
string_sum(num1,num2)

In [ ]:
# 180 Day Job Postings

In [ ]:
with revoked_jobs as(select job_id,count(case when is_revoked=True then 1 else 0 end) from job_postings group by 1)

select revoked_jobs/count(*)
from revoked_jobs join job_postings b on a.job_id=b.job_id
where date_posted > DATEADD(days, -180, CURRENT_DATE);

In [ ]:
revoked_jobs = df.groupby('job_id')['is_revoked'].sum().reset_index(name='revoked_count')
recent_jobs = df[df['date_posted'] > datetime.now() - timedelta(days=180)]
merged_df = pd.merge(revoked_jobs, recent_jobs, on='job_id', how='right')
ratio = merged_df['revoked_count'].sum() / len(recent_jobs)
print(f"Ratio of revoked jobs: {ratio}")

In [ ]:
df = df.withColumn("date_posted", col("date_posted").cast("date")) 

# Calculate revoked_jobs
revoked_jobs = df.groupBy("job_id") \
    .agg(sum(when(col("is_revoked"), 1).otherwise(0)).alias("revoked_count"))

# Filter for jobs posted within the last 180 days
recent_jobs = df.filter(datediff(current_date(), col("date_posted")) <= 180)

# Join the DataFrames
merged_df = revoked_jobs.join(recent_jobs, on="job_id", how="right")

# Calculate the ratio of revoked jobs
ratio = merged_df.agg(sum("revoked_count") / count("*")).collect()[0][0]

print(f"Ratio of revoked jobs: {ratio}")

In [ ]:
# https://www.interviewquery.com/questions/liked-and-commented

In [ ]:
select count(case when b.action not in('like','comment') then 1 else 0 end)/count(*)
from users_table a join events on a.id=b.user_id

In [ ]:
joined_df=users.join(events,users.id==events.id,how="inner")
ratio = joined_df.withColumn(
    "not_like_comment",
    when(~col("action").isin(["like", "comment"]), 1).otherwise(0)
).agg(
    (count("not_like_comment") / count("*")).alias("ratio")
).collect()[0]["ratio"]
print(f"Ratio of non-like/comment actions: {ratio}")

In [ ]:
df = df_users.merge(df_events, on='id')
df['not_like_comment'] = df['action'].apply(lambda x: 1 if x not in ('like', 'comment') else 0)
ratio = df['not_like_comment'].sum() / len(df)

In [ ]:
# https://www.interviewquery.com/questions/like-tracker

In [ ]:
select count(user_id) as num_users from events
where action='like' and created_at='06-06-2020'

In [ ]:
df=num_users[(num_users['action']=='like')&(num_users['created_at']=='06-06-2020')]
df['user_id'].count()

In [ ]:
df=num_users.filter((col('action')='like')&(col('created_at')=='06-06-2020')))
df['user_id'].count()

In [ ]:
# Impute Median

In [ ]:
import pandas as pd


def cheese_median(df):
    return df.fillna(df['Price'].median())
cheese_median(df_cheeses)

In [ ]:
# 2nd Highest Salary

In [ ]:
select * from (select *,rank() over(order by sal desc) second_highest from departments)a 
where second_highest=2

In [ ]:
df['sal'].sort_values(ascending=False).iloc[1]

In [ ]:
Window=Window.orderBy(desc("sal"))
df.withColumn("rank",rank().over(Window))
df.filter(col("rank")==2)

In [ ]:
# MySQL/the-number-of-rich-customers.sql

In [ ]:
SELECT COUNT(DISTINCT customer_id) AS rich_count
FROM Store
WHERE amount > 500;

In [ ]:
df=store[store['amount']>500]
df['customer_id'].nunique()

In [ ]:
store.filter(col('amount')>500).select(countDistinct('customer_id')).show()

In [ ]:
# Low-Quality Problems check

In [ ]:
with new_table as(select sum(likes)/sum(likes)+sum(dislikes)*100 as rank,problem_id from problems group by problem_id)
    
select problem_id
from new_table 
where rank<60

In [ ]:
df['rank_sum']=df['likes'].sum()/df['likes'].sum+df['dislikes'].sum()*100
df.groupby('problem_id')['rank_sum']
df[df['rank_sum']<60]

In [ ]:
problems.withColumn("sum_likes",sum(col("likes")))
problems.withColumn("sum_dis_likes",sum(col("likes")))
df.withColumn("rank",sum_likes/sum_likes+dislikes)
df.groupby("problem_id").agg(sum(col("rank_sum")).alias("rank_sum")).filter(col("rank_sum")<60)

In [ ]:
# The-Number-of-Rich-Customers/

In [ ]:
SELECT
    COUNT(DISTINCT(customer_id)) AS rich_count
FROM
    Store
WHERE
    amount > 500;

In [ ]:
store[store['amount']>500].nunique()

In [ ]:
store.filter(col('amount')>500).select(countDistinct("customer_id")).show()

In [ ]:
# Number-of-Times-a-Driver-Was-a-Passenger

In [ ]:
WITH T AS (SELECT DISTINCT driver_id FROM Rides)
SELECT t.driver_id, count(passenger_id) AS cnt
FROM
    T AS t
    LEFT JOIN Rides AS r ON t.driver_id = r.passenger_id
GROUP BY 1;

In [ ]:
df=rides['driver_id'].unique()
df_1=pd.merge(df,rides,right_on="driver_id",left_on="passenger_id",how="left")
df_1.groupby("driver_id")["passenger_id"].count().reset_index(name="cnt")

In [ ]:
df=rides.select(distinct("driver_id")).show()
df_1=df.join(rides,df.driver_id==rides.passenger_id,how="inner")
df_1.groupb("driver_id").agg(count(col("passenger_id")).alias('cnt')).show()

In [ ]:
# Total Traveled Distance ð ## check

In [ ]:
select a.user_id,sum(case when b.distance is null then 0 else b.distance end) from users a left rides b on a.user_id=b.user_id
group by 1

In [ ]:
df=pd.merge(users,rides,right_on=["user_id"],how="left")
df.groupby('user_id')["distance"].sum().reset_index()

In [ ]:
df=users.join(rides,users.user_id==rides.user_id,how="left")
df.groupby("user_id").agg(sum(col("distance"))).show()

In [ ]:
# Ticket Agent Analysis

In [ ]:
SELECT COUNT(*),COUNT(CASE WHEN agent_id is not null then 0 else 1)ticket_with_agent,count(case when agent_id is null then 0 else 1 end) tickets_without_agent
from tickets;

In [ ]:
df['ticket_with_agent']=df['agent_id'].apply(lambda x:1 if x['agent_id'].nontull() else 1)
df['ticket_wihtoyt_agent']=df['agent_id'].apply(lambda x:1 if x['agent_id'].istull() else 1)
df.agg(counts={'count'})

In [ ]:

df.withColumn("ticket_with_agent",when(col('ticket_agent').isNull(),1,0))
df.withColumn("ticket_with_agent",when(col('ticket_agent').isNotNull(),0,1))
df.agg(count("*").alias("count"),count('ticket_with_agent').alias('ticket_with_agent'),count('ticket_without_agent').alias('no ticket')).show()

In [ ]:
# Word Frequency

In [2]:
from collections import Counter
def word_frequency(sentences):
    sentences=str(sentences)
    words=Counter(sentences.split())
    return words

In [3]:
sentences = [
  "I love roses",
  "Roses are the best",
  "Roses are red violets are blue"
]
word_frequency(sentences)

Counter({'are': 3,
         "'Roses": 2,
         "['I": 1,
         'love': 1,
         "roses',": 1,
         'the': 1,
         "best',": 1,
         'red': 1,
         'violets': 1,
         "blue']": 1})

In [ ]:
# Common Prefix

In [36]:
import os
def common_prefix(strings):
  return os.path.commonprefix(strings)
strings = ["flowers", "flow", "flight"] 
common_prefix(strings)

'fl'

In [1]:
numbers = {
  'a':3,
  'b':4
}

In [21]:
dictionary = {"key1": 1, "key2": 1, "key3": 7, "key4": 3, "key5": 4, "key6": 7}

In [28]:
def find_unique(dictionary):
    a=[]
    for val in dictionary.values():
        for valuses in val:
            a.append(valuses)
    return a

In [29]:
find_unique(dictionary)

TypeError: 'int' object is not iterable

In [25]:
s={key:set(val) for key,val in dictionary.items()}
print(s)

TypeError: 'int' object is not iterable

In [18]:
def swap_values(numbers):
    res={}
    for key,val in numbers.items():
        return val[1],val[0]
    return res

In [19]:
swap_values(numbers)

TypeError: 'int' object is not subscriptable

In [17]:
full = [1, 2, 3, 4, 5]
missing = [1, 2, 3, 5]
a=[]
for i in full:
    if i not in missing:
        a.append(i)
return a

SyntaxError: 'return' outside function (3686195701.py, line 7)

In [ ]:
## coin_toss

In [ ]:
## ng ram count

In [30]:
word = 'banana'

In [31]:
from nltk import ngrams
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist

ModuleNotFoundError: No module named 'nltk'

In [ ]:
def ngram_count(word, n):
    pass

In [ ]:
# Target Indices

In [ ]:
def sum_pair_indices(array, target):
    seen = {}
    for i, num in enumerate(arr):
        complement = target - num
        if complement in seen:
            return [seen[complement], i]  # Found a pair, return indices
        seen[num] = i 
    return []

In [ ]:
## Group Anagram

In [ ]:
def group_anagrams(words):
    words.sort(key=lambda x:''.join(sorted(x)))
    return [list(group) for _,group in groupby(w,key=lambda x:''.join(sorted(x)))]

In [ ]:
# Flatten JSON

In [ ]:
	out = {}

	def flatten(x, name=''):

		# If the Nested key-value
		# pair is of dict type
		if type(x) is dict:

			for a in x:
				flatten(x[a], name + a + '_')

		# If the Nested key-value
		# pair is of list type
		elif type(x) is list:

			i = 0

			for a in x:
				flatten(a, name + str(i) + '_')
				i += 1
		else:
			out[name[:-1]] = x

	flatten(y)
	return out


# Driver code
print(flatten_json(unflat_json))

In [37]:
nums = [1, 7, 3, 5, 6]
def max_number(nums):
    return max(nums)

In [38]:
max_number(nums)

7

In [ ]:
# String Subsequence

In [ ]:
string1 = 'abc'
string2 = 'asbsc'
string3 = 'acedb'

In [ ]:
##check
def is_subsequence(string1,string2):
    return string1.

In [30]:
import pandas as pd
df=pd.read_csv("file:///C:/Users/00824732/OneDrive%20-%20Amtrak/Desktop/adderss.csv")
df2=pd.read_csv("file:///C:/Users/00824732/OneDrive%20-%20Amtrak/Desktop/df2.csv")

In [31]:
df['address_1']=df['address'].str.split(n=3,expand=True).get(3)
df['city_name']=df['address_1'].str.split(',',n=2,expand=True).get(0)
df['zip']=df['address_1'].str.split(',',n=2,expand=True).get(1)
df['street']=df['address'].str.split(',',expand=True,n=1).get(0)
df=df[['street','city_name','zip']]

In [38]:
df_consolidated=pd.merge(df,df2,right_on=['city'],left_on=['city_name'],how="inner").drop(columns=['city_name'])

In [39]:
df_consolidated

                  street     zip            city       state
0  4860 Sunset Boulevard   94105   San Francisco  California
1     3055 Paradise Lane   84103  Salt Lake City        Utah
2        682 Main Street   48204         Detroit    Michigan
3      9001 Cascade Road   64102     Kansas City    Missouri
4       5853 Leon Street   33605           Tampa     Florida

In [29]:
import pandas as pd

def complete_address(df_addresses: pd.DataFrame, df_cities: pd.DataFrame):
    df=pd.read_csv("adderss.csv")
    df['address_1']=df['address'].str.split(n=3,expand=True).get(3)
    df['city_name']=df['address_1'].str.split(',',n=2,expand=True).get(0)
    df['zip']=df['address_1'].str.split(',',n=2,expand=True).get(1)
    df['street']=df['address'].str.split(',',expand=True,n=1).get(0)
    df=df[['street','city_name','zip']]
    df2=pd.read_csv("df2.csv")
    df_consolidated=pd.merge(df,df2,right_on=['city'],left_on=['city_name'],how="inner").drop(columns=['city_name'])
    return df_consolidated

                  street       city_name     zip
0  4860 Sunset Boulevard   San Francisco   94105
1     3055 Paradise Lane  Salt Lake City   84103
2        682 Main Street         Detroit   48204
3      9001 Cascade Road     Kansas City   64102
4       5853 Leon Street           Tampa   33605

In [ ]:
# Empty Neighborhoods

In [ ]:
SELECT 
    n.neighborhood_name
FROM 
    neighborhoods n
LEFT JOIN 
    users u 
ON 
    n.neighborhood_id = u.neighborhood_id
WHERE 
    u.user_id IS NULL;

In [ ]:
# Above Average Product Prices

In [ ]:
with new_table as(
    select a.product_id,b.product_price,avg(a.quantity*b.price) as average_price from transactions a join products b on a.product_id=b.product_id
    group by 1,2
)

SELECT 
    product_id, 
    product_price, 
    average_price
FROM 
    new_table
WHERE 
    product_price > (
        SELECT 
            AVG(b.product_price)
        FROM 
            products b
    );

In [ ]:
# Session Difference

In [ ]:
select max(created_at)-min(created_at) as no_of_days,user_id from user_sessions
where Extract(YEAR FROM created_at)=2020
group by 1

In [ ]:
users_sessions['created_at']=pd.to_datetime(user_sessions['year'],errors="coerce")
uses_sessions['year']=user_sessions[user_sessions['created_at'].dt.year==2022]
user_sessions.groupby('user_id').apply(lambda x:x['created_at'].max()-x['created_at'].min()).reset_index(name="no_of_days")

In [ ]:
user_session=user_session.filter(year('created_at')=2022)
user_session.groupby('user_id').agg(max("created_at")-min("created_at").alias("no_of_days")).show()

In [ ]:
# Rearranging Digits

In [ ]:
from itertools import permutations

def rearranging_digits(input_digits):
     digits = list(n)

    # Find the pivot point
    for i in range(len(digits) - 2, -1, -1):
        if digits[i] < digits[i + 1]:
            break
        else:
              return None  # Return None if no larger number can be formed
    for j in range(len(digits) - 1, i, -1):
        if digits[j] > digits[i]:
            # Swap and sort the remaining digits
            digits[i], digits[j] = digits[j], digits[i]
            return ''.join(digits[:i + 1] + sorted(digits[i + 1:]))

In [6]:
n = '395'
rearranging_digits(n)

'953'

In [ ]:
# Words in Encrypted String

In [ ]:
def extract_word(encrypted_document, n, target_word):
    decrypted_text = ""
    for char in text:
        if char.isalpha():
            decrypted_char = chr((ord(char) - 65 - shift) % 26 + 65)
            decrypted_text += decrypted_char
        else:
            decrypted_text += char
    return decrypted_text

In [ ]:
## Decreasing subsequence

In [ ]:
def is_decreasing(nums):
    """
    Checks if a list of integers is in decreasing order.

    Args:
        nums: A list of integers.

    Returns:
        True if the list is in decreasing order, False otherwise.
    """

    for i in range(1, len(nums)):
        if nums[i] > nums[i - 1]:
            return False
    return True

In [ ]:
# has_same_characters

In [43]:
def has_same_character(strings):
    if not strings:
        return True
    char_set=set(strings[0])
    for string in strings[1:]:
        if string!=char_set:
            return False
        return True
strings = ["abc", "cba", "bca"]
result = has_same_character(strings)
print(result)  # Output: True

False

In [45]:
my_dict = {'a': 1, 'b': 2, 'c': 1}

def remove_duplicate(my_dict):
    return set(values for values in my_dict.values())
remove_duplicate(my_dict)

{1, 2}

In [50]:
# strings = ["flowers", "flow", "flight"] 
# def common_prefix(strings):
#     return strings[0:1]
# common_prefix(strings)

['flowers']

In [ ]:
# Average Quantity

In [ ]:
select avg(quantity),product_id,year
from transactions table
group by product_id,year

In [ ]:
transactions_table.groupby(["Product","year"])["quantity"].mean().reset_index()

In [ ]:
transactions_table.groupby("Product","Year").agg(acg(col("quantity")).alias("agg_quantity")).select(col("product_id"),col("year"),col("agg_quantity")).show()

In [51]:
def removeDuplicates(arr):
    
    # To track seen elements
    seen = set()
    
    # To maintain the new size of the array
    idx = 0

    for i in range(len(arr)):
        if arr[i] not in seen:
            seen.add(arr[i])
            arr[idx] = arr[i]
            idx += 1

    # Return the size of the array 
    # with unique elements
    return idx

# Driver code
arr = [1, 2, 2, 3, 4, 4, 4, 5, 5]
newSize = removeDuplicates(arr)

for i in range(newSize):
    print(arr[i], end=" ")

1 2 3 4 5

In [ ]:
# Rolling Bank Transactions

In [ ]:
SELECT
    to_char(deposit_date,'%Y-%M-%D') as date
    AVG(deposit_amount) OVER (ORDER BY deposit_date ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS three_day_avg
FROM
    deposits;

In [ ]:
# Find Bigrams

In [ ]:
def find_bigrams(sentence):
    bigrams = [(words[i], words[i + 1]) for i in range(len(sentence) - 1)]
    return bigrams

In [ ]:
# Permutation Palindrome

In [ ]:
def perm_palindrome(str):
    return str[::-1]==str

In [ ]:
# Fewer Orders

In [ ]:
select name from products a join users b on a.user_id=b.id
group by name 
having count(*)<3 or sum(a.order_total)<500

In [ ]:
merged = pd.merge(products, users, left_on='user_id', right_on='id')
grouped = merged.groupby('name').agg(count=('name', 'size'), total_order_sum=('order_total', 'sum')).reset_index()
result = grouped[(grouped['count'] < 3) | (grouped['total_order_sum'] < 500)]
print(result)

In [ ]:
merged = products.join(users, products.user_id == users.id, "inner")

# Group by product name and perform aggregations
grouped = merged.groupBy("name").agg(
    count("*").alias("count"),
    sum("order_total").alias("total_order_sum")
)

# Apply the filter conditions
result = grouped.filter((col("count") < 3) | (col("total_order_sum") < 500))

In [ ]:
# One-Hot Encoder

In [ ]:
import numpy as np
def encode(elements) -> list:
    unique_elements = np.unique(elements)
    mapping = {val: idx for idx, val in enumerate(unique_elements)}
    indices = [mapping[val] for val in elements]
    one_hot = np.eye(len(unique_elements))[indices]
    return one_hot

In [ ]:
# Merge N Sorted Lists

In [ ]:
import itertools
def sort_lists(lists):
    return sorted(itertools.chain.from_iterable(lists))
sort_lists(lists)

In [ ]:
# Stop Words Filter

In [57]:
def stopwords_stripped(paragraph, stopwords):
    stopwords = [
    'I', 
    'as', 
    'to', 
    'you', 
    'your', 
    'but', 
    'be', 
    'a',
]
    a=[]
    for ele in paragraph:
        if ele in stopwords:
            break
        else:
            a.append(ele)
    return a
paragraph="Peter is a guy"
stopwords_stripped(paragraph,"a")

['P', 'e', 't', 'e', 'r', ' ', 'i', 's', ' ']

In [ ]:
# Write a function to get a sample from a standard normal distribution.

In [ ]:
import numpy as np
import pandas  as pd
def get_standard_normal_sample(size):
    return pd.Series(np.random.standard_normal(size))
sample = get_standard_normal_sample(100)
print(sample)

In [ ]:
# Median Household Income

In [ ]:
SELECT 
  city,PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY household) AS median
FROM
  survey_responses
  group by city

In [ ]:
df.groupby('city')['household'].median().reset_index()

In [ ]:
df.groupby("city").agg(median("household")).show()

In [ ]:
# easy_paypal_final_account_balance.sql  ##check

In [ ]:
SELECT
    account_id,
    SUM(
        CASE
            WHEN transaction_type = 'Deposit' THEN amount
            ELSE -amount
        END
    ) AS final_balance
FROM
    transactions
GROUP BY
    account_id;

In [ ]:
##check
def transaction(transaction_type,amount):
    match transaction_type:
        case _ if transaction_type=='deposit':
            return amount
        case _:
            return -amount
df=transaction.copy()
df['amount']= df.apply(lambda row: transaction(row['transaction_type'], row['amount']), axis=1)
df.groupby('account_id')['final_balance'].sum().reset_index()

In [ ]:
transactions = transactions.withColumn(
    "adjusted_amount", 
    when(col("transaction_type") == "Deposit", col("amount")).otherwise(-col("amount"))
)

# Calculate final balance for each account_id
final_balance = transactions.groupBy("account_id").agg(sum("adjusted_amount").alias("final_balance"))

# Show the results
final_balance.show()

In [13]:
import pandas as pd

cheeses = {"Name": [
"Bohemian Goat", 
"Central Coast Bleu", 
"Cowgirl Mozzarella", 
"Cypress Grove Cheddar", 
"Oakdale Colby"], 
"Price" : [15.00, None, 30.00, None, 45.00]}

df_cheeses = pd.DataFrame(cheeses)


def cheese_median(df):
    return df.fillna(df['Price'].median())
cheese_median(df_cheeses)

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu   30.0
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar   30.0
4          Oakdale Colby   45.0

In [11]:
list_x = [1,2,3,4,5]
list_y = [1,2,4,5]
def one_element_removed(list_x,list_y):
  return set(list_x)^set(list_y)
one_element_removed(list_x,list_y)

{3}

In [ ]:
# 5th Largest Number

In [ ]:
## replace words

In [ ]:
def replace_word(word,sentence):
    l1=[]
    words1=sentence.split()
    for ele in word
        if ele in words1:
            l1.append(ele)
        else:
            l1.append(word)
    return "".join(word)

In [ ]:
def fifth_number(num):
    res=[]
    for ele in num:
        if len(ele)>=5:
            sorted=sorted(ele,reverse=True)
            res.append(sorted[4])
        else:
            continue
    return sorted(res)
numlists = [ [1,2,3,4,5], [3,1,2,5,4], [1,2,3,4,5,6,7], 
[99, 320, 400, 100.25, 55.2, 0.1] ]
result = list_fifths(numlists)
print(result)

[99, 320, 400, 100.25, 55.2, 0.1]

:

In [ ]:
https://www.interviewquery.com/questions/5th-largest-number

In [109]:
numlists = [ [1,2,3,4,5], [3,1,2,5,4], [1,2,3,4,5,6,7], 
[99, 320, 400, 100.25, 55.2, 0.1] ]

def list_fifths(numlists):
    return numlists[3]

list_fifths(numlists)

[99, 320, 400, 100.25, 55.2, 0.1]

In [62]:
from functools import reduce
def extract_first(lst):
	lst=sorted(lst)
	ele=[sublist[4] for sublist in lst]
	return ele.sort(reverse=True)

extract_first(numlists)

In [71]:
# ist_of_dict_str = {'x': 0.0, 'y': 5.43}, {'x': 50.0, 'y': 102.78}, {'x': 100.0, 'y': 204.24}
# df=pd.DataFrame(ist_of_dict_str)
# df.sample(n=70,replace=False)

In [73]:
tag_groups = [
    ['data scientist', 'data analyst'], 
    ['data engineer', 'data wrangler'], 
    ['machine learning engineer'], 
    ['data' , 'engineer']]
text = "Today, with the advent of data science, different roles have emerged in the industry. Job postings are abundant of many names such as data scientist, data engineer, data wrangler, deep learning specialist, and machine learning specialist to name a few."

In [85]:
def tag_count(tag_groups,text):
    eles=Counter(text.split())
    results=[]
    for group in tag_groups:
        count=sum(eles[subword] for subword in group if subword in eles )
        results.append(count)
    return results
tag_count(tag_groups,text)

[0, 0, 0, 4]

In [107]:
from fractions import Fraction
weights = {'A': 1, 'B': 1}
def random_weights(weights):
    a=sum(weights.values())
    ele={key:f"{val}/{a}".replace('','') for key,val in weights.items()}
    return ele
random_weights(weights)

('A', '1/2')

In [ ]:
# Top Three Salaries

In [ ]:
select d.first_name+''+d.last_name,d1.name,d.salary
from(select *,rank() over(order by sal desc) as r from departments
)d join departments d1 on d.id=d1.id where d.r<=3
order by d1.name desc,d.salary desc

In [ ]:
# RMS Error

In [ ]:
from sklearn.metrics import rmse
def calculate_rmse(y_pred, y_true):
    return root_mean_squared_error(y_true,y_pred)

ImportError: cannot import name 'rmse' from 'sklearn.metrics' (C:\Users\00824732\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\metrics\__init__.py)

In [17]:
y_pred = [3,4,5]
y_true = [3,4,5]
root_mean_squared_error(y_pred,y_true)

NameError: name 'root_mean_squared_error' is not defined

In [ ]:
# Recurring Character

In [9]:
def recurring_char(input):
    seen = set()
    
    for char in input:
        if char in seen:
            return char
        seen.add(char)
    
    return None
input = "interviewquery"
recurring_char(input)

'i'

In [ ]:
# Uniquely Staffed Consultants

In [ ]:
SELECT d.employee_id,s.made_quota
from deals d  join sales_quotas s 
on d.employee_id=s.employee_id
order by d.employee_id asc

In [ ]:
df=deals.merge(sales_quota,on="employee_id",how="inner")


df[["employee_id","made_quota"]].sort_values(by=["employee_id"],ascending=False)

In [ ]:
df=deals.merge(sales_quota,on="employee_id",how="inner")
df.sort(asc("employee_id")).select(col("employee_id"),col("made_quota")).show()

In [43]:
from collections import Counter
str = 'adccccbbbbc'
def max_repeating(str):
    ele=Counter(str)
    for key,val in ele.items():
        if val>1:
            return key

max_repeating(str)

'c'

In [ ]:
# Total Salary

In [ ]:
select sum(salary) from employees

In [ ]:
df['salary'].sum()

In [ ]:
df.select(col(sum("salary")))

In [ ]:
# Lifetime Plays

In [ ]:
SELECT count(*),date_played,user_id
from song_plays_table
group by date_played,user_id

In [ ]:
df.groupby("date_played","user_id").agg(count(col("*")).alias("counts")).select(col("date_played"),col("user_id"),col("counts")).show()

In [ ]:
songs_plays_table.groupby(["date_played","user_id"]).size().reset_index()

In [4]:
int_list = [8, 16, 24]

In [9]:
import math
def gcd(numbers):
  a=str(numbers)
  return int(gcd(a))
gcd(int_list)

RecursionError: maximum recursion depth exceeded

In [ ]:
# Player Analysis

In [ ]:
SELECT * FROM players
games_played betwee 5 and 10

In [ ]:
players[players["game_played"].between(5,10)]

In [ ]:
players.filter(col("game_played").between(5,10))

In [ ]:
# Marked Lists

In [38]:
list1 = ["ball","ninja","plan"]
list2 = ["cat","egg","zoo"]

In [44]:
def mark_lists(list1, list2):
    return list(zip(list1,list2))

In [45]:
mark_lists(list1,list2)

[('ball', 'cat'), ('ninja', 'egg'), ('plan', 'zoo')]

In [ ]:
# Find Duplicate Numbers in a List

In [46]:
def find_duplicates(nums):
    seen = set()
    duplicates = set()
    
    for item in nums:
        if item in seen:
            duplicates.add(item)
        else:
            seen.add(item)
    
    return list(duplicates)

nums = [1, 2, 3, 1, 2, 3]
find_duplicates(nums)

[1, 2, 3]

In [ ]:
# Sum of Matrix Elements

In [37]:
import numpy as np
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
np.sum(matrix)

ModuleNotFoundError: No module named 'numpy'

In [ ]:
## Frequency

In [ ]:
SELECT attribute_name, COUNT(*) AS frequency
FROM table1 
INNER JOIN table2 ON table1.join_key = table2.join_key
INNER JOIN table3 ON table2.join_key2 = table3.join_key2
WHERE table3.attribute_name IS NOT NULL -- Account for NULLs
GROUP BY attribute_name
ORDER BY frequency DESC;

In [ ]:
df=pd.merge(table1,table2,right_on=["join_key"],left_on=["join_key"],how="inner")
df_1=pd.merge(df,table3,right_on=["join_key2"],left_on=["join_key2"],how="inner")
df_2=df_1[df_1['attribute_name'].notnull()]
df_3=df_2.groupby("attribute_name").size().reset_index(name="frequency")
df_3.sort(desc("frequency"))

In [ ]:
df=table1.join(table2,table1.join_key==table2.join_key,how="inner")
df1=df.join(table3,df.join_key==df.join_key,how="inner")
df1.groupby("attribute_name").agg(count(col("*")).alias("frequency_count")).sort(desc("frequency_count")).show()

In [ ]:
# Given a users table, write a query to return only its duplicate rows.

In [ ]:
select * from users
group by id
having count(*)>1

In [ ]:
user_table.groupby("id").agg(count).filter(col("*")>1).show()

In [29]:
from collections import Counter
res=[1,3,5,7,1]
a=Counter(res)
de=[]
for key,val in a.items():
    if val>1:
        print("True")
    else:
        print("False")

True
False
False
False

In [28]:
import pandas as pd
user_ids = [103, 105, 105, 107, 106, 103, 102, 108, 107, 103, 102]
tips = [2, 5, 1, 0, 2, 1, 1, 0, 0, 2, 2]
a=list(zip(user_ids,tips))
max(a[1])

105

In [16]:
import pandas as pd

# Create a sample DataFrame
data = {'department': ['A', 'A', 'B', 'B', 'C'],
        'sales': [10, 20, 5, 110, 2]}
df = pd.DataFrame(data)

# Group by department and calculate the sum of sales
grouped = df.groupby('department')['sales'].sum()

# Filter the groups based on the having condition
result = grouped[grouped > 15].idxmax()

print(result)

B

In [27]:
arr = ["b12", "a15", "b7", "a3", "c4", "c20"]
sorted(arr,reverse=False)

['a15', 'a3', 'b12', 'b7', 'c20', 'c4']

In [26]:
from collections import Counter
sentences = [
  "I love roses",
  "Roses are the best",
  "Roses are red violets are blue"
]
sentences=str(sentences)
Counter(sentences.split())

Counter({'are': 3,
         "'Roses": 2,
         "['I": 1,
         'love': 1,
         "roses',": 1,
         'the': 1,
         "best',": 1,
         'red': 1,
         'violets': 1,
         "blue']": 1})

In [25]:
from collections import Counter
posting = """
Herbal sauna uses the healing properties of herbs in combination with distilled water.   
The water evaporates and distributes the effect of the herbs throughout the room.   
A visit to the herbal sauna can cause real miracles, especially for colds. 
"""  
n = 3
Counter(posting.split()).most_common(n)

[('the', 5), ('sauna', 2), ('of', 2)]

In [ ]:
# Weekly Aggregation

In [ ]:
def group_by_week_pandas(timestamps):
  df = pd.DataFrame({'timestamp': timestamps})
  df['week_start'] = df['timestamp'] - pd.to_timedelta(df['timestamp'].dt.weekday, unit='D')
  grouped_df = df.groupby('week_start')['timestamp'].apply(list).reset_index()

  return grouped_df['timestamp'].to_list()

In [23]:
arr = [25,30,21,22,14,10,5,26]
def decreasing_values(arr):
    return sorted(arr,reverse=True)
decreasing_values(arr)

[30, 26, 25, 22, 21, 14, 10, 5]

In [20]:
arr= [1, [2, 3], [4, [5, 6]], 7]

In [21]:
def flatten_array(arr):
    a=[]
    for ele in arr:
        if isinstance(ele,list):
            a.extend(flatten_array(ele))
        else:
            a.append(ele)
    return a
flatten_array(arr)

[1, 2, 3, 4, 5, 6, 7]

In [22]:
input =  '12345'
for ele in input.split():
     print(ele[-1])

5

In [ ]:
# Select All Flights

In [ ]:
SELECT * FROM flights

In [ ]:
df.select(col("*")).show()

In [ ]:
df.head()

In [ ]:
# Average Ride Duration

In [ ]:
select avg(end_dt-start_dt) aov, id
from rides table
group by id
order by passenger_user_id asc;

In [ ]:
rides_table["aov"]=rides['end_dt'] - rides['start_dt'] 
df=rides.groupby('id')['aov'].mean().reset_index()
df

In [ ]:
df.withColumn("aov",col("end_dt")-col("start_dt"))
df.groupby("aov").agg(mean(col("aov")).alias("total")).show()

In [ ]:
# Good Grades and Favorite Colors

In [ ]:
import pandas as pd

def grades_colors(students_df: pd.DataFrame):
    students_df=df.copy()
    df_filtered=df[(df['color']=='green')&(df['grade']>90)]
    return df_filtered

In [ ]:
student_df((col('color')=='green')&(col('grade')>90)).show()

In [ ]:
# Same Characters

In [ ]:
def same_characters(input_list):
    result = []
    for s in string_list:
        result.append(len(set(s)) <= 1)
    return result

In [ ]:
## Prime Numbers Identification

In [ ]:

def get_prime_numbers(nums):
   primes = []
    for num in range(2, limit + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

In [ ]:
# Maximal

In [ ]:
def maximal_substring(string1, string2):
    max_substring = ""
    for i in range(len(s)):
        if s[i:] > max_substring:
            max_substring = s[i:]
    return max_substring

In [ ]:
# Sample Time Series

In [ ]:
select *(select rank() over(order by created_at)rows from transactions)
where rows%4=0

In [ ]:
df_1['rank']=df['created_at'].rank(method="dense").astype(int)
df_1[df_1['rank']%4==0]

In [ ]:
df.withColumn("rank",over(Order by created_at))
df.filter(col("rank")%4==0).select("*").show()

In [ ]:
# Sort Strings
# #

In [10]:
def sorting(array):
    return sorted(array)
array = ["apple", "cat", "banana", "zoo", "football"]
sorting(array)

['apple', 'banana', 'cat', 'football', 'zoo']

In [ ]:
# Max Quantity

In [ ]:
select max(quantity),year,product_id from transactions
group by product_id,year
order by year,product_id desc;

In [ ]:
transactions.groupby('product','year').agg(max(count("quantity")).alias("max_quantity")).sort(desc("year")).select(col("year"),col("product_id"),col("max_quantity").show()

In [ ]:
transactions.groupby(["Product","Year"])["quantity"].max().rest_index()

In [ ]:
client_id	ranking	value
1001	1	1000
1001	2	NaN
1001	3	1200
1002	1	1500
1002	2	1250
1002	3	NaN
1003	1	1100
1003	2	NaN

In [ ]:
import pandas as pd

def previous_nan_values(clients_df):
    return clients_df[clients_df.bfill(clients_df['value'])]

In [ ]:
## PYSPARK

In [ ]:
# Previous NaN Values

In [ ]:
import pandas as pd

def previous_nan_values(clients_df):
    return clients_df[clients_df.bfill(clients_df['value'])]

In [ ]:
## pyspark

In [ ]:
window_spec = Window.partitionBy("id").orderBy("id").rowsBetween(Window.unboundedPreceding, 0)
df_bfill = df.withColumn("value_bfill", last("value", ignorenulls=True).over(window_spec))
df_bfill.show()

In [ ]:
# Write a SQL query to find the average number of accepted friend requests for each age group and order the results in descending order.

In [ ]:
SELECT
    u.age_group,
    AVG(CASE WHEN ra.acceptor_id IS NOT NULL THEN 1 ELSE 0 END) AS avg_accepted_requests
FROM
    Users u
LEFT JOIN
    Friend_Requests fr ON u.user_id = fr.requester_id
LEFT JOIN
    Request_Accepted ra ON fr.request_id = ra.request_id
GROUP BY
    u.age_group
ORDER BY
    avg_accepted_requests DESC;

In [ ]:
df=pd.merge(user,friends,right_on=["user_id"],left_on=["requester_id"],how="left")
df_1=pd.merge(df,requester_accepted,right_on=["requester_id"],left_on=["request_id"],how="left",suffix=('_x','_y'))
d_2=df_1.groupby("age_group")["acceptor_id_y"].mean().reset_index()
df_2.sort_values(by=["acceptor_id"],ascending=False)

In [ ]:
df=friends_request.join(users,friends_request.user_id==user.requester_id,how="left")
df_1=df.join(request_accepted,df.request_id==request_accepted.request_id,how="left")
df.groupby("age_group").agg(mean(when(col('acceptor_id').isnotnull(),1,0)).alias("avg_accepted_request")).sort(desc("avg_accepted_requests")).show()

In [ ]:
# SMS Confirmations

In [ ]:
select count(distinct b.phone_numbers ),a.country,a.carrier from sms_sends a join confirmers b on a.phone_numbr=b.phone_number and b.date=02-28-2020'
group by 2,3

In [ ]:
df=pd.merge(sms_sends,confirmers,right_on=["phone_number"],how='inner')
df[df['date']=='02-28-2020'].groupby(['carrier','country'])["phone_number"].nunqiue().reset_index()

In [ ]:
df=sends.join(confirmers,sends.phone_number==confirmers.phone_numbers,how="inner")
df.filter(col('date')=='02-28-2020').groupby("carrier","country").agg(countDistinct("phone_number")).show()

In [ ]:
# Returning Last Element

In [7]:
def last_element(int_list):
    return int_list[-1]


int_list = [0,1,2]
last_element(int_list)

2

In [ ]:
# Business Days

In [ ]:
def delta_buss_days(date1, date2):
    return len(pd.bdate_range(date1,date2))

In [ ]:
from pyspark.sql.functions import udf, date_add
from pyspark.sql.types import DateType

@udf(returnType=DateType())
def add_business_days(date, days):
    return new_date

df = df.withColumn("new_date", add_business_days(df.date_column, 5))

In [ ]:
# Compute Variance

In [8]:
import statistics as st
import numpy as np
def get_variance(test_list):
    return round(np.var(test_list),2)
test_list = [6, 7, 3, 9, 10, 15]
get_variance(test_list)

13.89

In [ ]:
# Top 5 Turnover Risk

In [ ]:
WITH EmployeeProjectCounts AS (
  SELECT
    e.id,
    e.salary,
    COUNT(p.project_id) AS project_count
  FROM
    employees e
  JOIN projects p ON e.id = p.employee_id
  GROUP BY
    e.id, e.salary
)

SELECT
  id,
  salary
FROM
  EmployeeProjectCounts
WHERE
  project_count >= 3
ORDER BY
  salary ASC
LIMIT 5;

In [ ]:
df_1=pd.merge(employee,projects,right_on="id",left_on="employee_id",how="inner")
df_1.groupby(["id","salary"])['project_id'].count().reset_index(name='project_count')
df_2=df_1[df_1["project_count"]>=3]
df_2.sort_values(by=['salary'],ascending=True).head(5)

In [ ]:
df_1=employee.join(project,employee.id==project.employee_id,how="inner")
df_2=df_1.groupby("id","salary").agg(count("project_id").alias("total_count")).show()
df_2.filter(col("total_count")>=3).sort(asc("salary")).limit(5)

In [ ]:
# Liked and Commented

In [ ]:
select count(case when b.action not in('like','comment') then 1 else 0 end)/count(*)
from users_table a join events on a.id=b.user_id

In [ ]:
import pandas as pd
filtered_events = events[~events['action'].isin(['like', 'comment'])]
non_like_comment_count = filtered_events.shape[0]
total_count = events.shape[0]
proportion = non_like_comment_count / total_count

print(proportion)

In [ ]:
joined_df = users_table.join(events, on='id', how='left')
filtered_count = joined_df.filter(F.col('action').notin(['like', 'comment'])).count()
total_count = joined_df.count()
ratio = F.expr(F.lit(filtered_count) / total_count)
print(ration)

In [ ]:
# t Value via Pandas ##checks

In [ ]:
import pandas as pd
from scipy import stats
import numpy as np
stats.ttest_1samp(data, pop_mean)

def t_score(mu0, df: pd.DataFrame):
    return stats.ttest_1samp(data, mu0)

sample_mean = data['var'].mean()
sample_std = data['var'].std()
sample_size = len(data['var'])
t_value = (sample_mean - hypothesized_mean) / (sample_std / np.sqrt(sample_size))

In [ ]:
# Order Addresses https://www.interviewquery.com/questions/order-addresses

In [ ]:
# Uniform Car Maker

In [ ]:
SELECT manufacturer_name 
FROM cars
ORDER BY RAND() 
LIMIT 1;

In [ ]:
random_row = cars.sample(n=1)
manufacturer_name = random_row['manufacturer_name'].iloc[0]

In [ ]:
cars.orderBy(rand()).limit(1)

In [ ]:
# Free Seats

In [ ]:
SELECT
  f.flight_id,
  f.seats - COUNT(fp.flight_id) AS unpurchased_seats
FROM
  flights f
LEFT JOIN flight_purchases fp ON f.flight_id = fp.flight_id
GROUP BY
  f.flight_id, f.seats;

In [ ]:
merged_df = pd.merge(flights, flight_purchases, on='flight_id', how='left')
grouped_df = merged_df.groupby('flight_id').agg({'flight_id': 'count'})
grouped_df.rename(columns={'flight_id': 'purchased_seats'}, inplace=True)
result_df = pd.merge(flights, grouped_df, on='flight_id', how='left')
result_df['unpurchased_seats'] = result_df['seats'] - result_df['purchased_seats'].fillna(0)
result_df = result_df[['flight_id', 'unpurchased_seats']]

In [ ]:
joined_df = flights.join(flight_purchases, on="flight_id", how="left")


unpurchased_seats_df = joined_df.groupBy("flight_id", "seats").agg(
    (col("seats") - count("flight_id")).alias("unpurchased_seats")
)
unpurchased_seats_df.show()

In [ ]:
# Minimum Change

In [ ]:
def minimum_change(cents):
    coin_count = 0
    for value in coin_values:
        while cents >= value:
            cents -= value
            coin_count += 1

    return coin_count

In [ ]:
# Minimum Absolute

In [ ]:
def min_distance(test_input):
    for ele in range(test_input):
        min_difference=min(test_input[ele]-test_input[ele+1])
    return min_difference

In [ ]:
# Released Patients

In [ ]:
SELECT release_date
FROM (
    SELECT release_date, COUNT(*) AS num_discharges,
           LAG(COUNT(*)) OVER (ORDER BY release_date) AS prev_day_discharges
    FROM released_patients table
    GROUP BY discharge_date
) subquery
WHERE num_discharges > prev_day_discharges;

In [ ]:
# Rain on

In [ ]:
import pandas as pd

def median_rainfall(df_rain):
    return df_rain['Inches'].notnull().median()

In [ ]:
# Implementing the Fibonacci Sequence in Three Different Methods

In [ ]:
def fibonacci_recursive(n):
    if n<2:
        return 0
      return fibonacci(num - 1) + fibonacci(num - 2

In [ ]:
# N-gram Dictionary

In [ ]:
def get_ngrams(n,string):
    n_gram_dict={}
    for i in range(len(string)-n+1):
        ngram=word[i:i+n]
        ngram_dict[ngram]=ngram_dict.get(ngram,0)+1
    return n_gram

In [ ]:
# Summing Numeric Strings

In [ ]:
def sum_strings(num_str1, num_str2):
    num_str1,num_str2=int(num_str1),int(num_str2)
    ele=num_str1+num_str2
    return str(ele)f

In [ ]:
# Term Frequency

In [ ]:
def term_frequency(sentences):
    import re
from collections import Counter

def calculate_tf(document):
    document = re.sub(r'[^\w\s]', '', document).lower()
    # Split the document into terms (words)
    terms = document.split()

    # Calculate the total number of terms in the document
    total_terms = len(terms)

    # Calculate TF values using Counter
    term_counts = Counter(terms)

    # Calculate TF for each term
    tf_values = {}
    for term, count in term_counts.items():
        tf_values[term] = count / total_terms

    return tf_values

# Example Usage:
document = "I have a nice car with a nice tires"
tf_values = calculate_tf(document)
print(tf_values)

In [ ]:
# Over 100 Dollars

In [ ]:
import pandas as pd

def transactions_over_100(df_transactions: pd.DataFrame, df_products: pd.DataFrame):
    merged_df=pd.merge(df_transactions,df_products,right_on=["product_id"],left_on=["product_id"],how="inner")
    merged_df['total_gt_100']=merged_df.apply(lambda x:x['amount']>100)

In [ ]:
# Book Availability Update

In [ ]:
import pandas as pd

def update_availability(book_id: int, copies: int, df_books: pd.DataFrame) -> pd.DataFrame:
    return df.loc[df.book_id == 3,'copies_available'] = copies

copies=8
update_availability(book_id,copies,df_books)

In [ ]:
# Cumulative Difference

In [ ]:
SELECT count() over(partition by user order by user_id)
from users join comments on a.id=b.user_id

In [ ]:
df=pd.merge(users,join,right_on=["id"],left_on=['user_id'],how='inner')
df.sort_values(by=['order_id'])
df.groupby('user').cumcount()+1

In [ ]:
# Cumulative Sales By Product

In [ ]:
SELECT product_id,date,sum(sales) over(partition by product_id order by product_id,date)
from sales
group by 1,2

In [ ]:
sales.groupby('product_id','date').cumsum()

In [ ]:
# Alphabet Sum

In [29]:
def sum_alphabet(words):
    words = string.split()
  alphabet_sums = []

  for word in words:
    word_sum = sum(ord(char) - ord('a') + 1 for char in word)
    alphabet_sums.append(word_sum)

  return alphabet_sums
words = ["sport" , "good" , "bad"]
sum_alphabet(words)

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [ ]:
# Third Unique Song ## check

In [ ]:
with new_table as(select id,rank() over(order by name desc) ranks from song_plays_table a)
select min(a.date_played),b.name,a.name from song_plays a join user b on a.user_id=b.user_id and ranks=3
group by 2,3

In [ ]:
df=songs_plays_table.groupby('id')['name'].rank(method="desc").reset_index()
df_1=pd.merge(df,songs_play_tabel,right_on=["id"],left_on=["id"],how="inner")
df[df['rank']==3].groupby(['df_name','df_1_name'])["date_played"].min().reset_index()

In [ ]:
songs_play_table.withColumn("rank",over(order by name desc))
songs_plays_table.filter(col('rank')==3).groupby('id','name').agg(min(col('Date'))).show()

In [ ]:
# Comments Histogram

In [ ]:
SELECT count(*),a.user_id
FROM userstable u
join commentstable c
on u.neighbourhood_id=c.user_id and where to_char(created_at,'Month')='Jan' and to_char(created_at,'Year')=2021
group by 2

In [ ]:
df=userstable.join(commentstable,userstable.user_id==comments_table.user_id,how="inner").show()
df.groupby("user_id").agg(count(col("*")).alias("total_count")).show()

In [ ]:
df=pd.merge(userstable,commentstable,right_on="neighbourhood",left_on="user_id")
df=df[df['created'].dt.month_name]
df.groupby("user_id").size().reset_index(name="count").reset_index()

In [ ]:
# Random Number

In [ ]:
import random
def random_number(x, y=0, count=1):
    result = []
    for _ in range(count):
        result.append(random.randint(x, y))
    return result