In [ ]:
import pandas as pd
import datetime
from datetime import date
import numpy as np
import collections
from collections import Counter

In [ ]:
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [ ]:
## first year of every product sold

In [ ]:
SELECT product_id, year, quantity, price 
FROM Sales 
WHERE (product_id, year) IN (
    SELECT product_id, MIN(year) 
    FROM Sales 
    GROUP BY product_id
);

In [ ]:
df=sales.groupby('product_id')['year'].min().reset_index(name="min_year")
df_1=pd.merge(df,sales,right_on=["product_id","year"])
df_1[['product_year'].isin(df['min_year'])]

In [ ]:
# Big Countries

In [ ]:
SELECT
    name, population, area
FROM
    world
WHERE
    area > 3000000 OR population > 25000000
;

In [ ]:
world[world['area']>3000000)&(world['population']<25000000)][['name','population','area']]

In [ ]:
world.filter((col("area")>3000000)&(col('area')>5000000)).select("name","population","area").show()

In [ ]:
# 2023-09-18-2853-Highest-Salaries-Difference ## check

In [ ]:
select max(s)-min(s)from(select max(salary) as s from salaries group by department) as t;

In [ ]:
df=salaries.copy()
df['salary']=df.groupby('department')['salary'].max()
df['difference']=df['salary'].max()-df['salary'].min()

In [ ]:
df.groupby("department").agg(sum('salaries').alias("max_salary"))

df.select(max(salaries)-min(salaries    ).alias("salaries difference"))

In [ ]:
# Active Businesses

In [ ]:
# Find Cumulative Salary of an Employee

In [ ]:
# Employees With Deductions

In [ ]:
# Find Cities in Each State II

In [ ]:
#  Report Contiguous Dates

In [ ]:
SELECT "failed" AS statues, fail_date AS date_list
FROM failed
WHERE fail_date BETWEEN "2019-01-01" AND "2019-12-31"
UNION ALL
SELECT "succeeded" AS statues, success_date
FROM Succeeded
WHERE success_date BETWEEN "2019-01-01" AND "2019-12-31"
ORDER BY date_list

In [ ]:
# Market Analysis I

In [ ]:
select user_id as buyer_id, join_date, isnull(orders_in_2019, 0) as orders_in_2019
from users 
left join ( select buyer_id, count(order_id) as orders_in_2019 
            from orders
            where year(order_date) = 2019
            group by buyer_id ) A
on users.user_id = A.buyer_id

In [ ]:
df=orders.groupby('buyer_id').agg(count(col('order_id').alias("orders_in_2019")))
df=pd.merge(users,df,right_on="user_id",right_on="buyer_id",how=";eft")
df=df[df['year'].dt.year==2019]
df=df[df['orders_in_2091']].fillna(0)
df[df['user_id','join_date','orders_in_2019']]

In [ ]:
# Market Analysis II

In [ ]:
# Highest Grade For Each Student

In [ ]:
with temp as(select *,rank() over(partition by student_id order by course_id) as rl
             from enrollments)
    select student_id,course_id,grade
    from temp
    where rank=1
    order by student_id

In [ ]:
select student_id, min(course_id) as course_id, grade
from Enrollments
where (student_id, grade) in 
    (select student_id, max(grade)
    from Enrollments
    group by student_id)
group by student_id
order by student_id asc

In [ ]:
df['rank']=enrollments.groupby("student_id")["grade"].rank(ascending=False)
df=df[df['rank']==1]
df.sort_values(by=['student_id'],ascdnding=True)

In [ ]:
# Reported Posts

In [ ]:
select 
  extra as report_reason
  ,count(distinct post_id) as report_count
from Actions
where action_date = '2019-07-04'
  and action = 'report'
group by extra;

In [ ]:
actions[(actions['action']=='report')&(actions['action_date']=='2019-07-04')].groupby("extra").size().reset_index(bane="report_count").reset_index()

In [ ]:
actions.filter((col('action')=='report')&(col('action_date')=='2019-07-04')).groupby("extra").agg(count(col("*")).alias("report_count")).show()

In [ ]:
#  Reported Posts II
# #

In [ ]:
# Social Media and Posts/# 1141. User Activity for the Past 30 Days I.sql

In [ ]:
SELECT activity_date AS day, COUNT(DISTINCT user_id) AS active_users 
FROM Activity
WHERE activity_date>DATE("2019-07-27")-INTERVAL 30 DAYS
GROUP BY activity_date

In [ ]:
select activity_date,count(distinct user_id) as user_id
from activity
where datediff("2019-07-27",activity_date)<30
order by activity_date

In [ ]:
df=activity.copy()
df['difference']=df['activity_date']-pd.to_datetime("2019-07-27")
df.groupby('activity_date').nunique().reset-index()

In [ ]:
df = df.withColumn("activity_date", F.to_date("activity_date", "yyyy-MM-dd"))

# Calculate the date difference
end_date = F.lit("2019-07-27")
df = df.withColumn("date_diff", F.datediff(end_date, "activity_date"))

# Filter data within the last 30 days
df = df.filter(F.col("date_diff") < 30)

# Group by activity_date and count distinct users
result_df = df.groupBy("activity_date").agg(F.countDistinct("user_id").alias("active_users"))

# Show the results
result_df.show()

In [ ]:
# 1667. Fix Names in a Table

In [ ]:
SELECT
  user_id,
  CONCAT(
    UPPER(SUBSTRING(name, 1, 1)),
    LOWER(SUBSTRING(name, 2))
  ) AS name
FROM Users
ORDER BY 1;

In [ ]:
df['name']=df['name'].str.title().sort_values(by=["user_id"])

df[['user_id','name']]

In [ ]:
Users.withColum("Name",initcap("name"))
users.select("name","user_id").sort(asc("user_id"))

In [ ]:
# 37-01978-employees-whose-manager-left-the-company.sql

In [ ]:
select m.employee_id
from Employees m
left join Employees e
on m.manager_id = e.employee_id 
where e.employee_id is null and m.manager_id is not null and m.salary < 30000
order by m.employee_id

In [ ]:
df=pd.merge(employees,employees,right_on=["manager_id"],left_on=["employee_id"],how="left")
df1=df[(df['employee_id'].notnull())&(df['manager_id'].notnull)&(df['salary']<30000)]
df.sort_values(by=['employee_id'])

In [ ]:
df=employee.alias("e1").join(employees.alias("e2"),e1.manager_id==e2.manager_id)
df.filter((col('employee_id').isNotNull())&(col('manager_id').isNotNull())&(col('salary')<30000)).sort(asc("employee_id")).show()

In [ ]:
# Customers Who Never Order.md

In [ ]:
SELECT c.Name as Customers
FROM Customers c
WHERE c.id not in (
SELECT o.CustomerId FROM Orders o
);

In [ ]:
df=pd.merge(customers,orders,right_on=["id"],left_on=["id"])
df['name']

In [ ]:
df=customers.join(orders,customer.id==orders.id,how="inner")
df.select("name")

In [ ]:
# actors-and-directors-who-cooperated-at-least-three-times

In [ ]:
SELECT actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(1) >= 3
ORDER BY NULL

In [ ]:
ActorDirector.groupby(["actor_id","director_id"]).apply(lambda x:len(x)>=3).sort_values(na_position="last")

In [ ]:
ActorDirector.groupby("actor_id","director_id").agg(count(col("*")).alias("total_cost")).asc_null_first().show()

In [ ]:
# Highest Salaries Difference

In [ ]:
SELECT max(s) - min(s) AS salary_difference
FROM
    (
        SELECT max(salary) AS s
        FROM Salaries
        GROUP BY department
    ) AS t;

In [ ]:
df=salaries.groupby("department")["salary"].max()
df["salary_difference"]=df['salary'].max()-df['salary'].min

In [ ]:
df=salaries.groupby("department").agg(max("salary")).show()
df.filter(col(max("salary"))-col(min("salary")))

In [ ]:
# Get the Second Most Recent Activity
# #

In [ ]:
SELECT username, activity, startDate, endDate
FROM (
    SELECT 
        username, activity, startDate, endDate,
        RANK() OVER (PARTITION BY username ORDER BY endDate DESC) AS rank_num
    FROM UserActivity
) AS RankedActivity
WHERE rank_num = 2
ORDER BY username, endDate;

In [ ]:
df["rank"]=UserActivity.groupby('username')['endDate'].rank(method="dense",asending=False)
df[df["rank"]==2][["username","activity","startDate","endDate"]]
df.sort_values(by=["username","endDATE"])

In [ ]:
Window=Window.partitionBy('username').orderBy(desc("endDate"))
UserActivity.withColumn("rank_num",rank().over(Window))
df.filter(col("rank_num")==2).select("username","activity","startDate","endDate").show()

In [ ]:
# Article Views I

In [ ]:
select author_id as id
from Views
where author_id = viewer_id
group by author_id
order by author_id asc

In [ ]:
df=views[views['author_id']==views['viewer_id']]
df.groupby('author_id').sort_values(by=['author_id'],ascending=False)['author_id']

In [ ]:
df_1=df.where(col("author_id")==col("viewer_id")).show()
df_1.groupby('author_id').sort(asc("author_id")).select(col("author_id")).show()

In [ ]:
# Second Degree Follower

In [ ]:
SELECT f1.follower, COUNT(DISTINCT f2.follower) AS num FROM
follow AS f1 JOIN follow AS f2 ON f1.follower = f2.followee
GROUP BY f1.follower ORDER BY f1.follower;

In [ ]:
df=pd.merge(follow,follow,right_on=["follower"],left_on=["follower"])
df.groupby("follower").nunique().sort_values("follower").reset_index()

In [ ]:
df=follower.join(follow,follow.follow==follower,follow=follower,how="left")
df.groupby("follower").agg(countDistinct(col("*"))).sort(desc("follower")).show()

In [ ]:
# Bank Account Summary II

In [ ]:
SELECT u.name AS NAME,SUM(t.amount) AS BALANCE
FROM Transactions t LEFT JOIN Users u
ON u.account = t.account
GROUP BY u.account 
# Aggregate function can go directly after HAVING
HAVING SUM(t.amount)>10000;

In [ ]:
df=pd.merge(transactions,user,right_on=["account"],left_on=["account"],how="left")
df.groupby("account").apply(lambda x:x['amount'].sum()>10000).reset_index(name="balance")

In [ ]:
df=transactions.joun(users,transactions.user_id==users.account,how="left")
df.groupby("account").agg(sum("amount").alias("balance")).filter(col("balance")>10000).show()

In [ ]:
##Swap Salary.

In [ ]:
update salary set sex=case when 'm' then 'f' else 'm'
end;

In [ ]:
import pandas as pd
def new_column(gender):
    match gender:
        case _ if gender=='f':
            return 'm'
        case _ if gender=='m':
            return 'f'
        case _:
            return 'unknown'
salary['gender'] = pd_df['gender'].apply( new_column)

In [ ]:
import pyspark
from pyspark.sql.functions import expr
salary.withcolumn("new_column",expr("Case when 'm' then 'f' else 'm' end")).show()

In [ ]:
# -Tasks-Count-in-the-Weekend

In [ ]:
SELECT
    sum(weekday(submit_date) IN (5, 6)) AS weekend_cnt,
    sum(weekday(submit_date) NOT IN (5, 6)) AS working_cnt
FROM Tasks;

In [ ]:
    tasks['weekend_cnt']=tasks['weekend_cnt'].day
    tasks['weekend_cnt']= np.where(tasks['weekend_cnt'].between(5, 6, inclusive='neither'), 'weekend_cnt')
    tasks['working_cnt']= np.where(~tasks['weekend_cnt'].between(5, 6, inclusive='neither'), 'working_cnt')
    tasks.agg({'weekend_cnt':'sum','working_cnt':'sum'})

In [ ]:
def classify_and_sum(df):
    df = df.withColumn("day_of_week", F.dayofweek("weekend_cnt")) 
    df = df.withColumn(
        "weekend_cnt_flag", 
        F.when(
            F.col("day_of_week").isin(6, 7),  # Assuming Saturday and Sunday are 6 and 7
            "weekend_cnt"
        ).otherwise("working_cnt"))

df.agg({'weekend_cnt':'sum','working_cnt':'sum'})

In [ ]:
# MySQL/unpopular-books.sql

In [ ]:
SELECT b.book_id, 
       b.NAME 
FROM   books AS b 
       LEFT JOIN orders AS o 
              ON b.book_id = o.book_id 
                 AND dispatch_date BETWEEN '2018-06-23' AND '2019-6-23' 
WHERE  Datediff('2019-06-23', b.available_from) > 30 
GROUP BY book_id,b.book_name
HAVING Sum(IFNULL(o.quantity, 0)) < 10 ORDER  BY NULL

In [ ]:
df=pd.merge(orders,books,right_on=["book_id"],left_on=["book_id"],how="left")
df['dispatch_date']=df[(df['dispatch_date']>='2018-06-23')&(df['dispatch_date']<='2019-06-23')]
df['date_diff']=(pd.to_datetime('2019-06-23') - b['available_from']).dt.days
df=df[df['date_diff']>30]
df.groupby(['book_id','book_name']).filter(lambda x:x['quantity'].fillna(0).sum()<10).sort_values(na_positio=True).reset_index()

In [ ]:
df=orders.join(books,order.book_id==books.book_id,how="left")
df.filter(col("dispatch_date")>='2018-06-23')&(col('dispatch_date')<='2019-06-23').alias("dispatch_date")).show

In [ ]:
#  Monthly Transactions I

In [ ]:
SELECT Date_format(trans_date, '%Y-%m')       AS month, 
       country, 
       Count(id)                              AS trans_count, 
       Count(IF(state = 'approved', 1, NULL)) AS approved_count, 
       SUM(amount)                            AS trans_total_amount, 
       SUM(IF(state = 'approved', amount, 0)) AS approved_total_amount 
FROM   transactions 
GROUP  BY Date_format(trans_date, '%Y-%m'), 
          country 
ORDER BY NULL

In [ ]:
# Popularity Percentage

In [ ]:
# Median Employee Salary

In [ ]:
#  Calculate Compressed Mean

In [ ]:
SELECT
    ROUND(
        SUM(item_count * order_occurrences) / SUM(order_occurrences),
        2
    ) AS average_items_per_order
FROM Orders;

In [ ]:
orders['rate']=orders['item_count']*orders['order_occurences']
orders['average']=orders['rate'].sum()/orders['order_occurences'].sum().round(decimals=2)

In [ ]:
orders.withColum("average",col("item_count")*col("order_occurences"))
orders.filter(round(col("average")/sum("order_occurence"),2)).show()

In [ ]:
# count-occurrences

In [ ]:
# Market Analysis III

In [ ]:
#  Product Sales Analysis III

In [ ]:
# Students and Examinations

In [ ]:
#  Product Sales Analysis II

In [ ]:
SELECT product_id, SUM(quantity) AS total_quantity
FROM Sales
GROUP BY 1;

In [ ]:
sales.groupby('product_id')['quantity'].sum().reset_index()

In [ ]:
sales.groupby('product_id').agg)sum(col("quantity").alias("sum")).show()

In [ ]:
# Count Student Number in Departments

In [ ]:
ELECT
    d.dept_id,
    d.dept_name,
    COUNT(s.student_id) AS student_number
FROM Department d
LEFT JOIN Student s
    ON s.dept_id = d.dept_id
GROUP BY
    d.dept_id,
    d.dept_name;

In [ ]:
df=pd.merge(departments,students,on="dept_id",how="left")
df.groupby(["dept_id","dept_name"]).size().reset_index(name="student_number")

In [ ]:
df=departments.join(students,departments.dept_id==students.dept_id,how="left")
df.groupby("dept_id","dept_name").agg(count(col("*").alias("student_number")).show()

In [ ]:
# Winning Candidate

In [ ]:
# Find Expensive Cities

In [ ]:
SELECT city 
FROM Listings
GROUP BY city 
HAVING AVG(price)> (SELECT avg(price) FROM Listings)
ORDER BY 1;

In [ ]:
with new_cte as(select avg(price) from listing)
    select city from listings group by city havi

In [ ]:
df=city.groupby('city')['price'].mean().reset_index()
avg_price=df['price'].mean()
df[df['avg_price']>avg_price].sort_values(by=['city'])

In [ ]:
df=city.groupby('city').agg(mean("price").alias("mean_price")).show()
df_1=df.join(city,df.city==city.city,how="inner")
df_1.filter(col("mean_price")>mean("price")).show()

In [ ]:
#  Friday Purchases II

In [ ]:
# friendly-movies-streamed-last-month.sql

In [ ]:
select distinct title
from Content 
join TVProgram using(content_id)
where kids_content = 'Y' 
	and content_type = 'Movies' 
	and (month(program_date), year(program_date)) = (6, 2020)

In [ ]:
df=pd.merge(content,TVProgram,right_on=["content_id"],left_on=["content_id"])

df[df['kids_content']=='Y')&(df['content_type']=='Movies')&(df['program_date'].strftie("%d","%Y"))]

In [ ]:
df=content.join(tvprogram,content_content_id==tvprogra.content_id)
df.filter(col('kids_content')=='y')&(col('content_type')=='Movies')

In [ ]:
# Friend Requests II: Who Has the Most Friends

In [ ]:
# Project Employees II

In [ ]:
select project_id
from Project
group by project_id
having count(employee_id) >= (
 select count(employee_id) as cnt
 from Project
 group by project_id
 order by cnt desc
 limit 1
);

In [ ]:
df=project.groupby('project_id')['employee_id'].size().reset_index(name="employee_count")
df_1=pd.merge(df,project,right_on=["project_id"],left=["project_id"],how="inner")
df_2=df_1.groupby('project_id')['df_employee_id'].size().reset_index(name="count").reset_index()
df_2[df_2['count']>=df_1["employee_count"]]["df_project_id"]

In [ ]:
df=project.groupby('project_id').agg(count(col("employee_id")).alias("employee_count")).show()
df_1=df.join(project,df.project_id==project.employee_id,how="inner")
df_1.groupby('project_id').agg(count(col("employee_id")).alias("count"))
df_1.filter(col("employee_count")>df.filter(col("employee_count"))).select("project_id")

In [ ]:
# Viewers Turned Streamers

In [ ]:
# -Most-Frequently-Ordered-Products-for-Each-Customer

In [ ]:
SELECT customer_id, T.product_id, product_name
FROM(
    SELECT customer_id, product_id,
    RANK() OVER( PARTITION BY customer_id ORDER BY COUNT(*) DESC ) AS RK
    FROM Orders o
    GROUP BY customer_id, product_id
) T
LEFT JOIN Products p on p.product_id = T.product_id
WHERE RK=1

In [ ]:
##sellers with no sale

In [ ]:
SELECT DISTINCT s.seller_name
FROM seller s
LEFT JOIN orders o ON s.seller_id = o.seller_id AND YEAR(o.sale_date) = 2020
WHERE o.seller_id IS NULL
ORDER BY s.seller_name;

In [ ]:
df=pd.to_datetime(df['sales_date'],errors="coerce")

df=pd.merge(sellers,order,on="seller_id",how="left")
df[df['sales_date'].dt.year=2020)&(df['order.seller_id'].null())]

In [ ]:
### recent orders

In [ ]:
# Bikes Last Time Used

In [ ]:
SELECT  bike_number
       ,MAX(end_time) AS end_time
FROM Bikes
GROUP BY  bike_number
ORDER BY end_time DESC

In [ ]:
bikes.groupby('bike_number')['end_time'].sort_values(ascending=False).max().reset_index()

In [ ]:
bikes.groupby('bike_number').agg(max(col("end_time")).alias("end_time")).sort(desc("end_time")).show()

In [ ]:
# Accepted-Candidates-From-the-Interviews

In [ ]:
SELECT candidate_id
FROM
    Candidates AS c
    LEFT JOIN Rounds AS r ON c.interview_id = r.interview_id
WHERE years_of_exp >= 2
GROUP BY c.interview_id
HAVING sum(score) > 15;

In [ ]:
##check
df=pd.merge(candidates,rounds,right_on=["interview_id"],how="left")
df[df['years_of_exp']>=2].groupby("interview_id").apply(lambda x:sum(x)>15)['candidate_id']

In [ ]:
df=candidate.join(rounds,candidate.interview_id==rounds.interview_id,how="left")
df.filter(col('year_of_exp')>=2).groupby('interview_id').agg(sum(col("score")>15)).select("candidate_id").show()

In [ ]:
# The Category of Each Member in the Store

In [ ]:
SELECT
    m.member_id,
    name,
    CASE
        WHEN count(v.visit_id) = 0 THEN 'Bronze'
        WHEN 100 * count(charged_amount) / count(
            v.visit_id
        ) >= 80 THEN 'Diamond'
        WHEN 100 * count(charged_amount) / count(v.visit_id) >= 50 THEN 'Gold'
        ELSE 'Silver'
    END AS category
FROM
    Members AS m
    LEFT JOIN Visits AS v ON m.member_id = v.member_id
    LEFT JOIN Purchases AS p ON v.visit_id = p.visit_id
GROUP BY member_id;

In [ ]:
# Total Sales Amount by Year

In [ ]:
# Customers Who Bought Products A and B but Not C

In [ ]:
SELECT customer_id, customer_name
FROM
    Customers
    LEFT JOIN Orders USING (customer_id)
GROUP BY 1
HAVING SUM(product_name = 'A') > 0 AND SUM(product_name = 'B') > 0 AND SUM(product_name = 'C') = 0
ORDER BY 1;

In [ ]:
import pandas as pd

def find_customers(customers_df, orders_df):

    merged_df = customers_df.merge(orders_df, on='customer_id', how='left')

    result_df = merged_df.groupby('customer_id', as_index=False).agg(
        {'customer_name': 'first',
         'product_name': lambda x: (x == 'A').sum() > 0,
         'product_name': lambda x: (x == 'B').sum() > 0,
         'product_name': lambda x: (x == 'C').sum() == 0
        }
    )

    result_df = result_df[result_df['product_name']].drop(columns='product_name') 
    result_df = result_df.rename(columns={'product_name': 'has_A', 'product_name': 'has_B', 'product_name': 'has_C'})
    result_df = result_df[result_df['has_A'] & result_df['has_B'] & ~result_df['has_C']]
    result_df = result_df[['customer_id', 'customer_name']]

    return result_df

# Example Usage (Assuming you have pandas DataFrames 'customers_df' and 'orders_df')
result = find_customers(customers_df, orders_df)
print(result)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, when

def find_customers_pyspark(spark, customers_df, orders_df):

    # Join DataFrames
    merged_df = customers_df.join(orders_df, on='customer_id', how='left')

    # Aggregate and Filter
    result_df = merged_df.groupBy('customer_id', 'customer_name') \
        .agg(
            sum(when(col('product_name') == 'A', 1).otherwise(0)).alias('has_A'),
            sum(when(col('product_name') == 'B', 1).otherwise(0)).alias('has_B'),
            sum(when(col('product_name') == 'C', 1).otherwise(0)).alias('has_C')
        ) \
        .filter(col('has_A') > 0) \
        .filter(col('has_B') > 0) \
        .filter(col('has_C') == 0) \
        .select('customer_id', 'customer_name')

    return result_df

# Example Usage (Assuming you have SparkSession 'spark' and Spark DataFrames 'customers_df' and 'orders_df')
result = find_customers_pyspark(spark, customers_df, orders_df)
result.show()

In [ ]:
# orders-with-maximum-quantity-above-average.sql

In [ ]:
select order_id from OrdersDetails
group by order_id
having max(quantity) > (
  select max(avg_quantity) from
  (select order_id, sum(quantity) / count(product_id) as avg_quantity 
    from OrdersDetails
    group by order_id
  ) t
);

In [ ]:
df=orderDetails.groupby("order_id")["quantity"].max().reset_index()
df_1=order_details.groupby("order_id")["quantity"].sum()/orderdetails["product_id"].count().reset_index()
df_2=pd.merge(df,df_1,right_on=["order_id"],left_on=["order_id"])
df_2["avg_quantitys"]=df_2["quantity"].max()
df_2["quantities"]=["quantity"].max()
df_2[df_2["quantitys"]>df_2["avg_quantites"]]["order_id"]

In [ ]:
# Leetcode-178. Rank Scores.sql

In [ ]:
SELECT Score, DENSE_RANK() OVER (PARTITION BY Score ORDER BY Score DESC) AS Rank
FROM Scores

In [ ]:
score.groubpy('score')['score'].rank(method="dense")

In [ ]:
window=Window.partitionBy("score").orderBy("Score")
df.withColumn("rank",over(window))
df.select("rank","score").show()

In [ ]:
# Actors and Directors Who Cooperated At Least Three Times.sql

In [ ]:
SELECT actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3

In [ ]:
df=ActorDirectoru.copy()
df.groupby(["actor_id","director_id"]).size().reset_index(name="count")
df[df["count"]>=3]

In [ ]:
df.groupby("actor_id","director_id").agg(count(col("*")).alias("total_count")).filter(col("total_count")).show()

In [ ]:
# Weather Type in Each Country

In [ ]:
SELECT c.country_name, (CASE WHEN AVG(weather_state) <= 15 THEN "Cold"
        WHEN AVG(weather_state) >= 25 THEN "Hot"
        ELSE "Warm" 
        END) AS weather_type
FROM Countries c
    JOIN Weather w USING(country_id)
    
# Select for specific month 
WHERE LEFT(day, 7) = "2019-11"
GROUP BY w.country_id
;

In [ ]:
november_weather = Weather[Weather['day'].str.startswith('2019-11')]
merged_df = pd.merge(Countries, november_weather, on='country_id')
grouped_df = merged_df.groupby('country_id')['weather_state'].mean().reset_index()
def categorize_weather(avg_weather):
    if avg_weather <= 15:
        return "Cold"
    elif avg_weather >= 25:
        return "Hot"
    else:
        return "Warm"

grouped_df['weather_type'] = grouped_df['weather_state'].apply(categorize_weather)
result_df = pd.merge(grouped_df, Countries[['country_id', 'country_name']], on='country_id')
result_df = result_df[['country_name', 'weather_type']]

In [ ]:
df=weather.filter(col('day').startswith('2019-11'))
df_1=df.join(countries,df.country_id==countries.country_id,how="inner")
df_1.groupby('country_id').agg(mean(col("weather_state")).alias("average_weather")).show()

def classify_weather(average_weather):
    if average_weather<=15:
        return "Cold"
    elif average_weather>=25:
        return "Hot"
    else:
        return "Warm"
    
udf=udf(classify_weather,returnType=StringType())
df_1.withColumn("classifiy_weather",classify_weather(df_1["weather_state"]))
df_1.select("country_name","weather_type","classifiy_weather")

In [ ]:
# MySQL/loan-types.sql

In [ ]:
SELECT user_id
FROM Loans 
WHERE loan_type IN ('Refinance','Mortgage')
GROUP BY 1 
HAVING COUNT(DISTINCT loan_type) = 2
ORDER BY 1;

In [ ]:
loans[loans['loan_type'].isin(['Refinance','Mortgage'])].groupby('user_d').apply(lambda x:len(x)==2).sort_values(ascending=False)

In [ ]:
loans.filter(col('loan_type').isin(['Refinance','Mortgage'])).groupby("user_id").agg(countDistinct(col("loan_type")).alias("total")).filter(col('total')==2).show()

In [ ]:
# All People Report to the Given Manager

In [ ]:
SELECT e1.employee_id
FROM
    Employees AS e1
    JOIN Employees AS e2 ON e1.manager_id = e2.employee_id
    JOIN Employees AS e3 ON e2.manager_id = e3.employee_id
WHERE e1.employee_id != 1 AND e3.manager_id = 1;

In [ ]:
df=pd.merge(employee,employees,right_on=["manager_id"],left_on=["employee_id"])
df_1=df.merge(employee,right_on=["manager_id"],left_on=["employee_id"])
df_2=df[(df['employee_id']!=1)&(df['manager_id']==1)]
df_2['employee_id']

In [ ]:
df=employee.join(employee.alias("e2"),employee.manager_id==e2.employee_id,how="inner")
df_1=df.join(employee,df.manager_id==employee.employee_id,how="inner")
df_3=df_1.filter(col('employee_id')!=1)&(col('manager_id')==1)
df_3.select('employee_id')

In [ ]:
# not-boring-movies-leetcode-mssql

In [ ]:
SELECT
    id,
    movie,
    description,
    rating
FROM Cinema
WHERE
    id%2 != 0
    AND
    description != 'boring'
ORDER BY
    rating DESC

In [ ]:
df_1=df[(df['id']%2!=0)&(df['description']=='boring')]
df_1.sort_values(by=['rating'],ascending=False)

In [ ]:
df.filter((col('id')%2!=0)&(~col('description').contains('boring'))).sort(desc("rating")).show()

In [ ]:
# highest-grade-for-each-student.sql

In [ ]:
select student_id, min(course_id) as course_id, grade
from Enrollments
where (student_id, grade) in 
    (select student_id, max(grade)
    from Enrollments
    group by student_id)
group by student_id, grade
order by student_id asc

In [ ]:
max_grades = df.groupby('student_id')['grade'].max().reset_index(name='max_grade')
merged_df = pd.merge(df, max_grades, on='student_id')
filtered_df = merged_df[merged_df['grade'] == merged_df['max_grade']]
result_df = filtered_df.groupby(['student_id', 'grade']).agg({'course_id': 'min'}).reset_index()
result_df = result_df.sort_values('student_id')

In [ ]:
max_grades=enrollements.groupby('student_id','grade').agg(max("grade")).show()
df=enrollements.join(df,enrollements.student_id==df.student_id,how="inner")
 # 3. Filter for rows with max grade
  filtered_df = merged_df.filter(merged_df["grade"] == merged_df["max_grade"])

  # 4. Find min course_id for each student with max grade
  result_df = filtered_df.groupBy("student_id", "grade").agg(F.min("course_id").alias("course_id")) \
                     .sort("student_id")
result_df.show()

In [ ]:
SELECT product_id, SUM(quantity) AS total_quantity
FROM Sales
GROUP BY 1;

In [ ]:
df.groupby('product_id')['quantity'].sum().reset_index(name="total_quantity")

In [ ]:
df.groupby('product_id').agg({'sum':'quantity'})

In [ ]:
#  Employee Bonus.sql

In [ ]:
select name, bonus
from employee
left join bonus on employee.empid=bonus.empid
where bonus is null or bonus<1000

In [ ]:
df_one=pd.merge('employee','bonus',on="emp_id",how="left")
df_one[(df_one['bonus'].notnull()0)&(df_one['bonus']<1000)]

In [ ]:
df=employee.join(bonus,employee.emp_id==bonus.emp_id,how="left")
df.filter((col('bonus').isNotNull())&(col('bonus')<1000).show()

In [ ]:
# Product Sales Analysis I

In [ ]:
SELECT p.product_name, s.year, s.price
FROM Sales s LEFT JOIN Product p ON
    s.product_id = p.product_id

In [ ]:
df_1=pd.merge(sales,products,on="product_id",how='left')
df_1[['product_name','year','price']]

In [ ]:
df=sales.join(products,sales.product_id==products.product_id,how="left")
df.select("product_name","year","price").show()

In [ ]:
# Number of Comments per Post.sql

In [ ]:
SELECT s1.sub_id AS post_id, IFNULL(COUNT(DISTINCT s2.sub_id),0) AS number_of_comments
FROM Submissions s1 LEFT JOIN Submissions s2 ON s1.sub_id = s2.parent_id
WHERE s1.parent_id IS NULL
GROUP BY s1.sub_id
;

In [ ]:
df_1=pd.merge(submissions,submissions,right_on=["sub_id"],left_on=["sub_id"],how="left")
df_1=df[df['parent_id'].isnull()]
df_1.groupby("sub_id").nunique().fillna(0).reset_index()

In [ ]:
df_1=submissions.alias("s1").join(submissions.alias("s2"),s1.sub_id==s2.sub_id,how="left")

In [ ]:
# count-student-number-in-departments

In [ ]:
SELECT
    d.dept_id,
    d.dept_name,
    COUNT(s.student_id) AS student_number
FROM Department d
LEFT JOIN Student s
    ON s.dept_id = d.dept_id
GROUP BY
    d.dept_id,
    d.dept_name;

In [ ]:
df=pd.merge(department,students,right_on="students",left_on="dept_id",how="left")
df.groupby(["dept_id","dept_name"])["student_id"].count().reset_index(name="student_number")d
df.head()

In [ ]:
df=department.join(students,department.dept_id==student.dept_id,how="left")
df.groupby("dept_id","dept_name").agg(count(col("student_id")).alias("student_number")).show()

In [ ]:
# department-top-three-salaries

In [ ]:
with employee_rank as(

    select dense_rank() over(partition by d.name order by e.salary desc)
    from employee join department on e.eid=d.id
)
    select  Department,
    Employee,
    Salary
FROM rank
WHERE salary_ranking <= 3

In [ ]:
    (
    tips[tips["tip"] < 2]
    .assign(rnk_min=tips.groupby(["sex"])["tip"].rank(method="min"))
    .query("rnk_min < 3")
    .sort_values(["sex", "rnk_min"])
)

In [ ]:
df=employee.join(department,employee.id==department.id,how="inner")
window=Window.PartitionBy("name").orderBy(desc("salary"))
df.withColumn("rank",over(window))
df.filter(col("rank")<=3).select(col("department"),col("employee")).show()

In [ ]:
# managers-with-at-least-5-direct-reports-leetcode-mssql-

In [ ]:
SELECT m.name 
FROM Employee e JOIN Employee m ON e.managerId = m.id
GROUP BY m.name
HAVING COUNT(e.id) >= 5

In [ ]:
df=pd.merge(employee,employee,right="manager_id",left_on="id",how="inner")
df.groupby("name")["id"].count().apply(lambda x:len(x)>=5)

In [ ]:
df=employee.alias("e1").join(employee.alias("e2"),e1.manager_id==e2.id,how="inner")
df.groupby("name").agg(count(col("id")).alias("total_count")).filter(col("total_count")>=5).show()

In [ ]:
# Team Scores in Football Tournament

In [ ]:
# sales day of the week

In [ ]:
SELECT i.item_category AS Category,
    SUM(CASE WHEN DAYOFWEEK(o.order_date) = 2 THEN quantity ELSE 0 END) AS Monday,
    SUM(CASE WHEN DAYOFWEEK(o.order_date) = 3 THEN quantity ELSE 0 END) AS Tuesday,
    SUM(CASE WHEN DAYOFWEEK(o.order_date) = 4 THEN quantity ELSE 0 END) AS Wednesday,
    SUM(CASE WHEN DAYOFWEEK(o.order_date) = 5 THEN quantity ELSE 0 END) AS Thursday,
    SUM(CASE WHEN DAYOFWEEK(o.order_date) = 6 THEN quantity ELSE 0 END) AS Friday,
    SUM(CASE WHEN DAYOFWEEK(o.order_date) = 7 THEN quantity ELSE 0 END) AS Saturday,
    SUM(CASE WHEN DAYOFWEEK(o.order_date) = 1 THEN quantity ELSE 0 END) AS Sunday
FROM Items i
LEFT JOIN Orders o
ON i.item_id = o.item_id
GROUP BY i.item_category
ORDER BY i.item_category;

In [ ]:
# article-views-ii.

In [ ]:
SELECT DISTINCT viewer_id AS id 
FROM   views 
GROUP  BY viewer_id, 
          view_date 
HAVING Count(DISTINCT article_id) > 1 
ORDER  BY id

In [ ]:
# Reformat Department Table

In [ ]:
select id, 
	sum(case when month = 'jan' then revenue else null end) as Jan_Revenue,
	sum(case when month = 'feb' then revenue else null end) as Feb_Revenue,
	sum(case when month = 'mar' then revenue else null end) as Mar_Revenue,
	sum(case when month = 'apr' then revenue else null end) as Apr_Revenue,
	sum(case when month = 'may' then revenue else null end) as May_Revenue,
	sum(case when month = 'jun' then revenue else null end) as Jun_Revenue,
	sum(case when month = 'jul' then revenue else null end) as Jul_Revenue,
	sum(case when month = 'aug' then revenue else null end) as Aug_Revenue,
	sum(case when month = 'sep' then revenue else null end) as Sep_Revenue,
	sum(case when month = 'oct' then revenue else null end) as Oct_Revenue,
	sum(case when month = 'nov' then revenue else null end) as Nov_Revenue,
	sum(case when month = 'dec' then revenue else null end) as Dec_Revenue
from department
group by id
order by id

In [ ]:
df_pivot = df.pivot_table(index='id', columns='month', values='revenue', aggfunc='sum', fill_value=0)
df_pivot.columns = ['Jan_Revenue', 'Feb_Revenue', 'Mar_Revenue', 'Apr_Revenue'] 
df_pivot = df_pivot.sort_values('id')

In [ ]:
df.groupBy("id") \
    .agg(
        sum(when(col("month") == "Jan", col("revenue"))).alias("Jan_Revenue"),
        sum(when(col("month") == "Feb", col("revenue"))).alias("Feb_Revenue"),
        sum(when(col("month") == "Mar", col("revenue"))).alias("Mar_Revenue"),
        sum(when(col("month") == "Apr", col("revenue"))).alias("Apr_Revenue"),
        # Add other months similarly
    ) \
    .orderBy("id")

# Show the result
df.show()

In [ ]:
# MySQL/employee-bonus.sql

In [ ]:
SELECT
    Employee.name, Bonus.bonus
FROM
    Employee
        LEFT JOIN
    Bonus ON Employee.empid = Bonus.empid
WHERE
    Bonus.bonus < 1000 OR Bonus.bonus IS NULL

In [ ]:
df=pd.merge(employee,bonus,right_on=["empid"],left_on=["emp_id"],how="left")
df_1=df[(df['bonus']<1000)&(df['bonus'].isnul())]
df_1[["name","bonus"]]

In [ ]:
df_1=df.filter((col('bonus')<1000)&(col('bonus').isNull()))
df_1.select("employee_name","bonus").show()

In [ ]:
# Unpopular Books

In [ ]:
SELECT b.book_id, 
       b.NAME 
FROM   books AS b 
       LEFT JOIN orders AS o 
              ON b.book_id = o.book_id 
                 AND dispatch_date BETWEEN '2018-06-23' AND '2019-6-23' 
WHERE  Datediff('2019-06-23', b.available_from) > 30 
GROUP BY book_id 
HAVING Sum(IFNULL(o.quantity, 0)) < 10 ORDER  BY NULL

In [ ]:
df=pd.merge(orders,books,on="book_id",how='left')
df[(df['dispatch_date']>='2018-06-23')&(df['dispatch_date']<='2018-06-23')]
df['available_from']=pd.to_datetime('2019-06-23')-df['available_from']>30
df.groupby('id').apply(lambda x:x['quantity'].sum()<10)

In [ ]:
# he-number-of-employees-which-report-to-each-employee.sql

In [ ]:
select e1.reports_to as employee_id,
       e2.name,
       count(e1.reports_to) as reports_count,
       round(avg(e1.age),0) as average_age
from employees e1
join employees e2
on e1.reports_to=e2.employee_id
group by e1.reports_to
order by e1.reports_to

In [ ]:
# Write an SQL query to report the number of accounts that bought a subscription in 2021 but did not have any stream session.

# The query result format is in the following example.

In [ ]:
# Write an SQL query to report the IDs of the candidates who have at least two years of experience and the sum of the score of their interview rounds is strictly greater than 15. check

In [ ]:
SELECT candidate_id
FROM
    Candidates AS c
    LEFT JOIN Rounds AS r ON c.interview_id = r.interview_id
WHERE years_of_exp >= 2
GROUP BY c.interview_id
HAVING sum(score) > 15;

In [ ]:
df=pd.merge('rounds','candidate',right_on=["interview_id"],left_on=["interview_id"],how="left")
df=df[df['year_of_exp']>=2]
df.groubpy('interview_id').apply(lambda x:x['score'].sum()>15).reset_index()

In [ ]:
df=candidate.join(rounds,candidate.interview_id==round.interview_id,how="left")
df.filter(col("year_of_exp")>=2)
df.groupby('interview').agg(sum("score").alias("sum_score")).filter(col("sum_score")>15)

In [ ]:
# Activity Participants

In [ ]:
# Ads Performance

In [ ]:
# New Users Daily Count

In [ ]:
# Students Report By Geography

In [ ]:
# users-that-actively-request-confirmation-messages.sql

In [ ]:
SELECT
DISTINCT c1.user_id As user_id
FROM
Confirmations AS c1
JOIN
Confirmations AS c2
ON
c1.user_id = c2.user_id
WHERE
c1.time_stamp < c2.time_stamp
AND
TIMESTAMPDIFF(SECOND, c1.time_stamp, c2.time_stamp) <  24*60*60
ORDER BY user_id

In [ ]:
## sort the olympic table

In [ ]:
SELECT country, gold_medals, silver_medals, bronze_medals
FROM Olympic
ORDER BY gold_medals DESC, silver_medals DESC, bronze_medals DESC, country ASC;

In [ ]:
olympic.sort_values(by=['gold_medals','silver_medal','bronze_medal','country'],ascending=[False,False,False,True])[['country','gold_medals','silver_medals','bronze_medals']]

In [ ]:
olympics.orderBy([gold_medals,silver_medals,bronze_medals,country],ascending=[False,False,False,True]).select("country","gold_medals","silver_medals","bronze_medals")

In [ ]:
## find the cut off score

In [ ]:
sELECT school_id, IFNULL(min(score), -1) as score
FROM Schools LEFT JOIN Exam ON capacity >= student_count
GROUP BY school_id
ORDER BY NULL;

In [ ]:
df=pd.merge(schools,exam,right_on=["capcity"],left_on=["student_count"])
df[df['capacity']>=df['student_count']]
df.groupby('school_id')['score'].sum.fillna(-1).reset_index(name="score").sort_values(na_position=True)

In [ ]:
df=schools.join(exam,schools.)

In [ ]:
# Find-Latest-Salaries/

In [ ]:
SELECT
	emp_id,
	firstname,
	lastname,
	max( salary ) AS salary,
	department_id 
FROM
	Salary 
GROUP BY
	emp_id 
ORDER BY
	emp_id;

In [ ]:
salary.groupby(['emp_id',"firstname","lastname","department_id"])["salary"].max().sort_values(by=["emp_id"],ascending=True).reset_index()

In [ ]:
salary.groupby('emp_id','firstname','lastname','department_id').agg(sum("salary")).sort(asc("emp_id")).show()

In [ ]:
# Find Customers With Positive Revenue this Year

In [ ]:
SELECT
    customer_id
FROM Customers
WHERE year = '2021' AND revenue > 0;

In [ ]:
df=Customer.copy()
df[((df['year']='2021')&(df['revenue']>0))]

In [ ]:
Customers.select(year==2021 & revenue>0)

In [ ]:
# Students-With-Invalid-Departments

In [ ]:

SELECT id, name
FROM Students
WHERE department_id NOT IN (SELECT id FROM Departments);

In [ ]:
merged-df=pd.merge(students,department,on="id",how="left",suffixes=('_left', '_right'))
merged=merged_df[merged_df['value_right'].isnull()].drop('value_right', axis=1)
merged[["id","name"]]

In [ ]:
df=students.join(departments,students.id==departments.id,how="left")
df.select("id","name").show()

In [ ]:
#  Second Day Verification
# #

In [ ]:
select user_id
from email as e
join text as t
on e.email_id=t.email_id
and datediff(action_date,signup_date)=1
and signup_action='verified'
order by user_id

In [ ]:
df=pd.merge(email,text,right_on=["email_id"],left_on=["email_id"],how="inner")
df=df[df['signup_action']=='verified']
df['difference']=df[df['action_date']-df['signup_date']]
df['difference']=df[df['difference']==1]
df['user_id'].sort_values(by=['user_id'])

In [ ]:
df=email.join(text,email.email_id==text.email_di,how="inner")
df_1=df.filter(col("signup_action")=='verified').show()
df.withColumn("difference",col("action_date")-col("signup_date"))
df.filter(col("difference")==1).sort(asc("user_id")).show()

In [ ]:
# Trips and Users

In [ ]:
# Consecutive Transactions with Increasing Amounts

In [ ]:
# Find All Unique Email Domains

In [ ]:
SELECT
  SUBSTRING_INDEX(email, '@', -1) AS email_domain,
  COUNT(*) AS count
FROM Emails
WHERE email LIKE '%.com'
GROUP BY 1
ORDER BY 1;

In [ ]:
df_com = Emails[Emails['email'].str.endswith('.com')]
df_com['email_domain'] = df_com['email'].str.rsplit('@', n=1).str[-1]
domain_counts = df_com.groupby('email_domain').size().reset_index(name='count')
domain_counts = domain_counts.sort_values('email_domain')

In [ ]:
df=emails.filter(col('email').endswith('com')).filter(split(col('email'), "@").getItem(-1).alias("email_domain"))
df.groupby("email_domain").agg(count(col("*")).alias("count")).sort(desc("email_domain")).show()

In [ ]:
# leetcode_SQL/convert-date-format.sql

In [ ]:
select to_char(day,'DD, Mon dd, YYYY') from days

In [ ]:
days[days['day'].strftime("%d, %B %d,YYYY")]

In [ ]:
days.select(F.date_format('day', 'DD, MMM dd, YYYY').alias('formatted_date'))

In [ ]:
# All People Report to the Given Manager

In [ ]:
SELECT DISTINCT e1.employee_id
FROM employees e1
LEFT JOIN employees e2 ON e1.manager_id = e2.employee_id
LEFT JOIN employees e3 ON e2.manager_id = e3.employee_id
LEFT JOIN employees e4 ON e3.manager_id = e4.employee_id
WHERE e4.manager_id IS NULL

In [ ]:
SELECT e1.employee_id
FROM
    Employees AS e1
    JOIN Employees AS e2 ON e1.manager_id = e2.employee_id
    JOIN Employees AS e3 ON e2.manager_id = e3.employee_id
WHERE e1.employee_id != 1 AND e3.manager_id = 1;

In [ ]:
# 3056.Snaps Analysis

In [ ]:
select age_bucket,round(100*sum(case when activity_type="send" then time_spend else null end) as send),round(100*sum(case when activity_type="open" then time_spend else 0 end) as open
from activites join age using(user_id) group by 1;

In [ ]:
#  Find Products with Three Consec

In [ ]:
SELECT product_id, name FROM Products WHERE name REGEXP '(^|[^0-9])[0-9]{3}([^0-9]|$)' ORDER BY 1;

In [ ]:
# Page Recommendations

In [ ]:
# Compute the Rank as a Percentage
# #

In [ ]:
## total distanec travelled

In [ ]:
SELECT user_id, name, IFNULL(SUM(distance), 0) AS 'traveled distance'
FROM
    Users
    LEFT JOIN Rides USING (user_id)
GROUP BY 1
ORDER BY 1;

In [ ]:
#  Customers with Maximum Number of Transactions on Consecutive Days

In [ ]:
with new_cte as(

    select seat_id-row() over(order by seat_id) as r
    from cinema
    where free=1
),new_cte1 as(

    select min(seat_id),max(seat_id),count(1) as len,rank() over(order by count(1) desc) as consecutive_seat_len from t group by r)
    SELECT first_seat_id, last_seat_id, consecutive_seats_len
FROM P
WHERE rk = 1
ORDER BY 1;

In [ ]:
# Calculate Parking Fees and Duration
# #

In [ ]:
# Average Selling Price

In [ ]:
select p.product_id, 
round(
    (sum(price * units)::decimal / sum(units))
 , 2) as average_price
from Prices p
inner join UnitsSold us on p.product_id = us.product_id and 
    us.purchase_date between p.start_date and p.end_date
group by p.product_id

In [ ]:
# Order and Deliver/# 1251. Average Selling Price.sql

In [ ]:
SELECT p.product_id, ROUND(SUM(u.units*p.price)/SUM(u.units),2) AS average_price
FROM Prices p JOIN UnitsSold u USING(product_id)
WHERE u.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY 1
;

In [ ]:
df=pd.merge(price,unitsold,how="inner",right_on=["product_id"],left_on=["product_id"])
df[df['purchase_date']>='start_date')&(df['purchase_date']<='end_date')].groupby('product_id')['price'].apply(lambda x:x.sum/x.sum)

In [ ]:
df=price.join(unitssold,price.product_id==unitssold.product_id,how="inner")
df.withColumn("sum_price",col("units")*col("price"))
df=df.filter(col("purchase_date")>='start_date')&(col('purchase_date')<='end_date'))
df.groupby("product_id").agg(round(sum("sum_price")/sum("units").alias("average_price"),2)).show()

In [ ]:
# Top Three Wineries

In [ ]:
SELECT winery, AVG(rating) AS average_rating 
FROM wine_reviews 
GROUP BY winery 
ORDER BY average_rating DESC 
LIMIT 3;

In [ ]:
wine_reviews.groupby('winery')['rating'].mean().sort_values(ascending=False).reset_index()

In [ ]:
wine_review.groupby('winer')..agg(avg("value").alias("average")).sort(desc("average")).show()

In [ ]:
# User Activity for the Past 30 Days II

In [ ]:
SELECT IFNULL(ROUND(COUNT(DISTINCT session_id)/COUNT(DISTINCT user_id),2),0.00) AS average_sessions_per_user
FROM Activity
WHERE activity_date BETWEEN DATE_SUB("2019-07-27",INTERVAL 29 DAY) AND "2019-07-27";

In [ ]:
SELECT IFNULL(ROUND(COUNT(DISTINCT session_id) / COUNT(DISTINCT user_id), 2), 0.00) AS average_sessions_per_user
FROM Activity
WHERE DATEDIFF("2019-07-27", activity_date) < 30;

In [ ]:
# Pizza Toppings Cost Analysis

In [ ]:
SELECT CONCAT(t1.topping_name, ",", t2.topping_name, ",", t3.topping_name) AS pizza,
	   ROUND(t1.cost + t2.cost + t3.cost, 2) AS total_cost
FROM Toppings t1
INNER JOIN Toppings t2
ON t1.topping_name < t2.topping_name
INNER JOIN Toppings t3
ON t2.topping_name < t3.topping_name
ORDER BY 2 DESC, 1;

In [ ]:
# Tree Node

In [ ]:
# Binary Tree Nodes

In [ ]:
#  Snaps Analysis

In [ ]:
# Find Circular Gift Exchange Chains

In [ ]:
#  Top Travellers.

In [ ]:
SELECT name, COALESCE(SUM(distance), 0) AS travelled_distance
FROM Users u
LEFT JOIN Rides r ON u.id = r.user_id
GROUP BY u.id
ORDER BY travelled_distance DESC, name ASC;

In [ ]:
# Find Peak Calling Hours for Each City

In [ ]:
with t as(select *,rank() over(partition by city order by cnt desc) rank from (select city,hour(call_time) as h,count(1) as cnt from calls group by 1,2)t)
    select city
    from t
    where rank=1
    order by 2 desc,1 desc

In [ ]:
# Students With Invalid Departments

In [ ]:
SELECT s.id, s.name 
FROM Students s 
# Because the SELECT information is from Student table
    LEFT JOIN Departments d ON d.id = s.department_id
WHERE d.name IS NULL

In [ ]:
df=pd.merge(students,departments,right_on=["id"],left_on=["department_id"],how="inner")
df[df['name']..isnull()]

In [ ]:
df=students.join(departments,students.id==departments.department_id,how="inner")
df.filter(col('name').isNull())

In [ ]:
# Count Salary Categories

In [ ]:
SELECT 'Low Salary' AS category,
       COUNT(*) AS accounts_count
FROM Accounts
WHERE income < 20000
UNION ALL
SELECT 'Average Salary' AS category,
       COUNT(*) AS accounts_count
FROM Accounts
WHERE income BETWEEN 20000 AND 50000
UNION ALL
SELECT 'High Salary' AS category,
       COUNT(*) AS accounts_count
FROM Accounts
WHERE income > 50000;

In [ ]:
    # Customer Purchasing Behavior Analysis

In [ ]:
# Calculate Trapping Rain Water

In [ ]:
# Premier League Table Ranking III

In [ ]:
# . Status of Flight Tickets

In [ ]:
# Premier League Table Ranking

In [ ]:
# Premier League Table Ranking II

In [ ]:
# Invalid Tweets

In [ ]:
## unique orders and customers per month

In [ ]:
SELECT
    DATE_FORMAT(order_date, '%Y-%m') AS month,
    COUNT(order_id) AS order_count,
    COUNT(DISTINCT customer_id) AS customer_count
FROM Orders
WHERE invoice > 20
GROUP BY month;

In [ ]:
df=Orders.copy()
df['order_date']=pd.to_datetime(df['order_date'],errors="coerce")
df['month']=df['order_date'].dt.strftime("%y-%m")
df.groupby('month').agg(order_count={})

In [ ]:
df.withColumn("month",to_datetime("order_date"))
df.groupby(date_format("order_date","%y-%m")).agg(count("order_id").alias("order_count"),countDistinct("customer_id").alias("customer_count")).filter(col("invoice")>20).show()

In [ ]:
## employees with missing information

In [ ]:
# Replace Employee ID With The Unique Identifier

In [ ]:
SELECT
  EmployeeUNI.unique_id,
  Employees.name
FROM Employees
LEFT JOIN EmployeeUNI
  USING (id);

In [ ]:
df=pd.merge(employees,employeeuni,right_on=["id"],left_on=["id"],how="left")
df[["employee_unique_id","name"]]

In [ ]:
df=employee.alias("e1").join("employees",e1.id==employees_id,how="left")
df.select(col("unique_id")).show()

In [ ]:
# Convert Date Format

In [ ]:
SELECT DATE_FORMAT(day, "%W, %M %e, %Y") AS day
FROM Days;

In [ ]:
days['day']=days.dt.strftime("%W,%M,%e,%Y")

In [ ]:
days.withColumn("days",date_format("date","%W,%M,%e,%Y"))

In [ ]:
## Invalid tweets

In [ ]:
select tweet_id
from Tweets
where length(content) > 15;

In [ ]:
tweets['content'].apply(lambda x:len(x)>15)

In [ ]:
tweets.agg(len(content).alias("length")).filter(col("length")>15).show()

In [ ]:
# Invalid Tweets II

In [ ]:
    SELECT tweet_id
FROM Tweets
WHERE
    LENGTH(content) > 140
    OR (LENGTH(content) - LENGTH(REPLACE(content, '@', ''))) > 3
    OR (LENGTH(content) - LENGTH(REPLACE(content, '#', ''))) > 3
ORDER BY 1;

In [ ]:
def find_invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    invalid_tweets = tweets[
        (tweets["content"].str.len() > 140)
        | (tweets["content"].str.count("@") > 3)
        | (tweets["content"].str.count("#") > 3)
    ].sort_values(by="tweet_id")
    return invalid_tweets[["tweet_id"]]

In [ ]:
def filter_tweets(df):
 

  filtered_df = df.filter(
      (F.length('content') > 140) |
      (F.length('content') - F.length(F.regexp_replace('content', '@', '')) > 3) |
      (F.length('content') - F.length(F.regexp_replace('content', '#', '')) > 3)
  )

  return filtered_df

# Assuming 'df' is your Spark DataFrame containing the tweets data
filtered_tweets_df = filter_tweets(df)

# Select 'tweet_id' and order by it
result_df = filtered_tweets_df.select('tweet_id').orderBy('tweet_id')

# Show the results
result_df.show()

In [ ]:
#  Find Longest Calls

In [ ]:
# Movie Rating

In [ ]:
# Running Total for Different Genders

In [ ]:
select gender,day,sum(score_points) over(partition by gender order by gender,day) as total from scores;

In [ ]:
total.groupby(['gender','day'])['score_points'].cumsum().reset_index()

In [ ]:
df.withColumn("total",sum("score_points").over(partition by gender order by gender,day))
df.select("gender","day")

In [ ]:
# leetcode/SQL/1075. Project Employees I.sql

In [ ]:
select project_id , round(avg(experience_years), 2) as average_years
from project as p
left join employee as e
on p.employee_id = e.employee_id
group by project_id

In [ ]:
df=pd.merge(project,employee,right_on="employee_id",left_on="employee_id",how="left")
df.groupby("project_id")["experince_years"].mean().round().reset_index()

In [ ]:
df=project.join(employee,project.employee_id==employee.employee_id,on="left")
df.groupby("project_id").agg(round(mean(col("experience_years")),2)).show()

In [ ]:
# Fill Missing Client Data [Accenture SQL Interview Question]

In [ ]:
WITH RECURSIVE cte_a AS 
(
SELECT 
product_id, name, category
FROM products

WHERE category IS NOT NULL

UNION ALL

SELECT p.product_id, p.name, a.category
FROM products p
JOIN cte_a a ON p.product_id = a.product_id + 1
WHERE p.category IS NULL
)

SELECT product_id, category, name FROM  cte_a
ORDER BY product_id ASC

In [ ]:
# countries-you-can-safely-invest-in.sql

In [ ]:
SELECT co.name AS country
FROM person p
INNER JOIN country co ON SUBSTRING(phone_number, 1, 3) = country_code
INNER JOIN calls c ON (p.id = c.caller_id OR p.id = c.callee_id)
GROUP BY co.name
HAVING AVG(duration) > (SELECT AVG(duration) as avg_duration FROM calls)
ORDER BY NULL;

In [ ]:
# Investments in 2016

In [ ]:
# Customers Who Bought All Products

In [ ]:
select customer_id
from customers
group by customer_di
having count(distinct product_id)=(select count(distinct product_key) from product) order by null

In [ ]:
df=pd.merge(customers,products,right_on=["customer_id"],left_on=["product_id"],how="left")
df.groupby('customer_id')

In [ ]:
#  Customers Who Bought All Products

In [ ]:
# Employees Whose Manager Left the Company

In [ ]:
# LeetCode/Customer Placing the Largest Number of Orders.sql

In [ ]:
SELECT customer_number 
FROM orders
GROUP BY customer_number
ORDER BY COUNT(customer_number) DESC 
LIMIT 1;

In [ ]:
orders.groupby("customer").size().sort_values(ascending=False).reset_index(name="customer_number").head(1)

In [ ]:
orders.groupby("customer").agg(count(col("*")).alias("total_count")).sort(desc("total_count")).select("customer_number").limit(1).show()

In [ ]:
# employees earning more than their managers

In [ ]:
SELECT e.id, e.name, e.salary, e.managerId
FROM Employees e
JOIN Employees m ON e.managerId = m.id
WHERE e.salary > m.salary;

In [ ]:
df=pd.merge(employee,employee,right_on=["manager_id"],left_on=["id"],how="inner",suffix=('_x','_y'))
df[df['salary_x']>df_['salary_y']][['id_x','name_x','manager_id_y']]

In [ ]:
df=employee.alias("e1").join(employee.alias("e2"),e1.manager_id==e2.id,how="inner")
df.filter(col("salary_x")>col("salary_y")).select("id","name","manager_id")

In [ ]:
# Last Person to Fit in the Bus

In [ ]:
select * from queue q1 join queue q2 on q1.turn>=q2.turn
group by q1.turn
having sum(q2.weight)<=1000
order by q1.turn dec
limit 1

In [ ]:
merged = queue.alias("q1").join(queue.alias("q2"), col("q1.turn") >= col("q2.turn"))

# Step 2: Group by `q1.turn` and calculate the sum of `q2.weight`
grouped = merged.groupBy("q1.turn").agg(spark_sum(col("q2.weight")).alias("total_weight"))

# Step 3: Filter where `total_weight <= 1000` (having clause)
filtered = grouped.filter(col("total_weight") <= 1000)
result = filtered.orderBy(col("q1.turn").desc()).limit(1)

# Display the result
result.show()

In [ ]:
merged = pd.merge(queue, queue, how='inner', suffixes=('_q1', '_q2'))

# Filter based on the condition `turn_q1 >= turn_q2`
filtered = merged[merged['turn_q1'] >= merged['turn_q2']]

# Group by `turn_q1` and calculate the sum of weights for `q2`
grouped = filtered.groupby('turn_q1').agg(total_weight=('weight_q2', 'sum'))

# Apply the `having` clause (`sum(q2.weight) <= 1000`)
final_result = grouped[grouped['total_weight'] <= 1000]

# Sort the results and select the top row (`limit 1`)
result = final_result.sort_index(ascending=False).head(1)

In [ ]:
# leetcode/SQL/584. Find Customer Referee.sql

In [ ]:
select name
from customer
where referee_id != 2 or referee_id is NULL

In [ ]:
customer[(customer['referee_id']!=2)&(customer['referee_id'].notnull())]

In [ ]:
customer.filter(col('refere_id')!=2)&(col('referee_id').isNotNull()).select("name")

In [ ]:
# Calculate the Influence of Each Salesperson

In [ ]:
# Count Occurrences in Text

In [ ]:
SELECT 'bull' AS word, count(*) AS count
FROM Files
WHERE content LIKE '% bull %'
UNION
SELECT 'bear' AS word, count(*) AS count
FROM Files
WHERE content LIKE '% bear %';

In [ ]:
import pandas as pd

def count_word_occurrences(df, word):
 
  return pd.Series({word: df[df['content'].str.contains(f" {word} ")]['content'].count()})

# Assuming 'Files' is your pandas DataFrame
df_bull = count_word_occurrences(Files, 'bull')
df_bear = count_word_occurrences(Files, 'bear')

# Concatenate the results into a single DataFrame
result_df = pd.concat([df_bull, df_bear], axis=0).reset_index().rename(columns={'index': 'word', 0: 'count'})

print(result_df)

In [ ]:
from pyspark.sql import functions as F

def count_words(df, word):
  return df.filter(F.col("content").like(f"% {word} %")).select(F.lit(word).alias("word"), F.count("*").alias("count"))

# Assuming 'Files' is your Spark DataFrame
df_bull = count_words(Files, "bull")
df_bear = count_words(Files, "bear")

# Union the results
result_df = df_bull.union(df_bear)

# Show the results

In [ ]:
# fix-product-name-format.sql

In [ ]:
SELECT LOWER(TRIM(product_name)) product_name,
       substring(sale_date, 1, 7) sale_date,
       count(sale_id) total
FROM sales
GROUP BY 1, 2
ORDER BY 1, 2;

In [ ]:
# Average Time of Process per Machine

In [ ]:
SELECT s.machine_id, ROUND(AVG(e.timestamp-s.timestamp), 3) AS processing_time
FROM Activity s JOIN Activity e ON
    s.machine_id = e.machine_id AND s.process_id = e.process_id AND
    s.activity_type = 'start' AND e.activity_type = 'end'
GROUP BY s.machine_id;

In [ ]:
df=pd.merge(activity,activity,right_on=["machine_id"],left_on=["machine_id"],how="inner")
df=df[df['activity_type'=='start']&(df['activity_type']='end')]
df.groupby('machine_id').apply(lambda x:(x['timestamp']-x['s_time_stamp']).mean().round(decimal=3).reset_index(name="processingtime")

In [ ]:
df=activity.alias("e1").join(activity.alias("e2"),e1.machine_id==e2.machine_id,how="inner")
df=df.filter(col('activity_type')=='start')(col('activity_type')=='emd')
df.withColumn('difference',col('e1_timestamp')-col("s_time_stamp"))
df.groupby("machine_id").agg(mean(col("difference"))).show()

In [ ]:
# Group Employees of the Same Salary

In [ ]:
SELECT
    salary,
    GROUP_CONCAT(name ORDER BY name SEPARATOR ',') AS employees
FROM
    Employees
GROUP BY
    salary;

In [ ]:
df.groupby('salary')['name'].apply(lambda x: ','.join(sorted(x))).reset_index(name='employees')

In [ ]:
df.withColumn(
    "employees", 
    F.concat_ws(",", F.sort_array(F.col("names"), asc=True).getField("name"))
).show()

In [ ]:
    # The Latest Login in 2020

In [ ]:
SELECT user_id,
       MAX(time_stamp) AS last_stamp
FROM Logins
WHERE YEAR(time_stamp) = 2020
GROUP BY user_id
ORDER BY NULL;

In [ ]:
df=login.copy()
df[df['year'].dt.year==2020].groupby("user_id")["time_stamp"].max().sort_value(nna_position='first').reset_index()

In [ ]:
df.withColumn("time_stamp", F.to_timestamp("time_stamp"))
df=logins.filter(year(col('time_stamp')==2020)).groupby('user_id').agg(max(col("time_stamp"))).show()
df.orderBy(F.lit(None))

In [ ]:
# Consecutive Numbers

In [ ]:
##product price for each store

In [ ]:
SELECT
  product_id,
  MAX(CASE WHEN store = 'store1' THEN price END) AS store1,
  MAX(CASE WHEN store = 'store2' THEN price END) AS store2,
  MAX(CASE WHEN store = 'store3' THEN price END) AS store3
FROM Products
GROUP BY 1
ORDER BY NULL;

In [ ]:
df.groupby('product_id').agg(
        store1=('price', lambda x: x[df['store'] == 'store1'].max()),
        store2=('price', lambda x: x[df['store'] == 'store2'].max()),
        store3=('price', lambda x: x[df['store'] == 'store3'].max())
    )

In [ ]:
df.groupby('product-id').agg(max(when(col(df['stotre']=='store1').a==,max(when(col('store')=='store2').alias("store2")),max(when(col('store')=='store3').alias("store3")))))

In [ ]:
## top traveller

In [ ]:
SELECT name, IFNULL(SUM(distance),0) AS travelled_distance
FROM Users u
LEFT JOIN Rides r ON u.id = r.user_id
GROUP BY u.id
ORDER BY travelled_distance DESC, name ASC

In [ ]:
df=pd.merge(users,rides,right_on=["id"],left_0n=["user_id"],how="left")
df_1=df.groupby("id")["distance"].sum().reset_index()
df_1=df_1.fillna(0)
df_1.sort_values(by=['travelled_distance','name'],ascending=[False,True])

In [ ]:
df=users.join(rides,users.id==rides.user_id,how="left")
df_1=df.groupby('id').agg(sum(col("distance"))).show()
df_1.fillna(0,subset=['distance'])
df_1.orderBy(['travelled_distance','name'],ascending=[False,True])

In [ ]:
# Number-of-Rich-Customers/

In [ ]:
SELECT
    COUNT(DISTINCT(customer_id)) AS rich_count
FROM
    Store
WHERE
    amount > 500;

In [ ]:
df=store[store['amount']>500]
df['customer_id'].nunique()

In [ ]:
df=store.filter(col("amount")>500)
df.select(countDistinct("customer_id")).show()

In [ ]:
# Manager of the Largest Department

In [ ]:
with temp_table as(

    select dept_id,count(*)
    from employee
    group by 1
)
    select * from temp_table as t1 join employee e2 on t1.id=t2.id
where cnt=(select max(cnt) from temp_table)
order by 2;

In [ ]:
WITH temp_table AS (
    SELECT 
        dept_id, 
        COUNT(*) AS cnt
    FROM 
        employee
    GROUP BY 
        dept_id
    HAVING 
        COUNT(*) = (SELECT MAX(COUNT(*)) FROM employee GROUP BY dept_id)
)

-- Step 2: Join the temporary table with the employee table to fetch details of the largest department(s)
SELECT 
    e.*
FROM 
    temp_table t1
JOIN 
    employee e ON t1.dept_id = e.dept_id
ORDER BY 
    dept_id;

In [ ]:
#  Managers with at Least 5 Direct Reports

In [ ]:
SELECT Manager.name
FROM Employee
INNER JOIN Employee AS Manager
  ON (Employee.managerId = Manager.id)
GROUP BY Manager.id
HAVING COUNT(*) >= 5;

In [ ]:
df=pd.merge(employee,employee,right_on=["manager_id"],left_on=["id"])
df.groupby("manager_id").apply(lambda x:len(x)>5).reset_index()

In [ ]:
df=employee.as("e1").join("employee",e1.manager_id==e.id,how='inner')
df.groupby("manager_id","name").agg(count(col("*")).alias("total")).filter(col("total")>=5).show()

In [ ]:
# Friday Purchase III

In [ ]:
# Rolling Average Steps

In [ ]:
# Friday Purchases I

In [ ]:
# first-letter-capitalization-ii/

In [ ]:
# Odd and Even Transactions

In [ ]:
select transaction_date,case when id%2=0 then sum(sal) else 0 end as odd_sum,case when id%2!=0 then sum(sal) else 0 end as even_sum
from transactions
group by 1
order by 1

In [ ]:
# Tournament Winners

In [ ]:
# Classes More Than 5 Students

In [ ]:
select class from courses group by class having count(distinct student) >= 5

In [ ]:
courses.groupby('class').filter(lambda x:x['students'].nunique()>=5)

In [ ]:
courses.groupby('class').agg(countDistinct("students").alias("total_student_count")).filter(col("total_student_count")>=5)

In [ ]:
# Not Boring Movies

In [ ]:
SELECT *
FROM cinema
WHERE id MOD 2 <> 0 AND description <> "boring"
ORDER BY rating DESC

In [ ]:
df=cinema[cinema['id']%2==0)&(~cinema['description'].contains('boring'))]
df.sort_values(by=['rating'],ascending=False)

In [ ]:
cinema.filter((col('id')<>0)&(col('description').str.contains('boring')).sort(desc("rating"))..select(col("*")).show()

In [ ]:
# count-student-number-in-departments

In [ ]:
SELECT
    d.dept_id,
    d.dept_name,
    COUNT(s.student_id) AS student_number
FROM Department d
LEFT JOIN Student s
    ON s.dept_id = d.dept_id
GROUP BY
    d.dept_id,
    d.dept_name;

In [ ]:
department_1=pd.merge(departments,students,righ_on="dept_id",left_on="dept_id",how="inner")
department_1.groupby(["dept_id","dept_name"])["student_id"].count().reset_index()

In [ ]:
df=departments.join(students,departments.dept_id==students.dept_id)
df.groupby("dept_id","dept_name").agg(count(col("student_id"))).show()

In [ ]:
# Count Apples and Oranges

In [ ]:
select sum(ifnull(box.apple_count, 0) + ifnull(chest.apple_count, 0)) as apple_count,
    sum(ifnull(box.orange_count, 0) + ifnull(chest.orange_count, 0)) as orange_count
    from Boxes as box
    left join Chests as chest
    on box.chest_id = chest.chest_id;

In [ ]:
# Number-of-Accounts-That-Did-Not-Stream

In [ ]:
SELECT count(DISTINCT sub.account_id) AS accounts_count
FROM
    Subscriptions AS sub
    LEFT JOIN Streams AS ss ON sub.account_id = ss.account_id
WHERE
    year(start_date) <= 2021
    AND year(end_date) >= 2021
    AND (year(stream_date) != 2021 OR stream_date > end_date);

In [ ]:
df=pd.merge(subscriptions,stream,right_on=["account_id"],left_on=["account_id"],how="left")
df_1=df[(df['statr_date'].year==2021)&(df['end_date'].year==2021)]
df_1[(df_1['stream_date']!=2021)|(df['stream_date']>df['end_date'])]

In [ ]:
df=subscriptions.join(stream,subscriptions.account_id==stream.account_id,how="left")
df_1=df.filter(year(start_date)==2021)&(year('end_date')==2021)
df_1.filter(year("stream_date")!=2021)&(col('stream_date')>col("end_date")).show()

In [ ]:
# employees-whose-manager-left-the-company.sql

In [ ]:
SELECT employee_id
FROM Employees a
WHERE salary < 30000 
      AND manager_id IS NOT NULL
      AND NOT EXISTS (SELECT 1 
                      FROM Employees b
                      WHERE b.employee_id = a.manager_id)
ORDER BY employee_id;

In [ ]:
# products-worth-over-invoices.sql

In [ ]:
SELECT name, 
       Sum(rest)     rest, 
       Sum(paid)     paid, 
       Sum(canceled) canceled, 
       Sum(refunded) refunded 
FROM   product p 
       INNER JOIN invoice i 
               ON p.product_id = i.product_id 
GROUP  BY name 
ORDER  BY name;

In [ ]:
df=pd.merge(product,invoice,right_on=["product_id"],left_on=["product_id"],how="inner")
df.groupby("name").agg("rest":"sum","paid":"sum","cancelled":"sum","refunded":"sum").sort_values(by=["name"]).reset_index()

In [ ]:
df=products.join(invoice,products.product_id==invoice.product_id,how="inner")
df.groupby("name").agg(sum(col("reset").alias("rest"),sum(col("paid").alias("paid"),sum("cancelled").alias("cancelled"),sum("Refunded").alias("refunded")))).sort("name").show()

In [ ]:
# bank-account-summary

In [ ]:
SELECT u.name, SUM(amount) as balance
FROM Transactions
JOIN Users u
USING (account)
GROUP BY account
HAVING balance>10000;

In [ ]:
df=pd.merge(transactions,users,on="account_id",how="inner")
df.groupby('account')['amount'].sum().reset_index(name="balance")
df[df["balance"]>10000]

In [ ]:
# Bank Account Summary II.sql

In [ ]:
SELECT u.name AS NAME,SUM(t.amount) AS BALANCE
FROM Transactions t LEFT JOIN Users u
ON u.account = t.account
GROUP BY u.account 
# Aggregate function can go directly after HAVING
HAVING SUM(t.amount)>10000;

In [ ]:
df=pd.merge(transactions,user,right_on=["account"],left_on=["account"],how="left")
df.groupby('account')

In [ ]:
df=transactions.users(transaction.account==users.account,how="left")
df.groupby('account').agg(sum("amount").alias("balance")).filter(col("balance")>10000).show()

In [ ]:
df=transactions.join(accounts,transactions.account=accounts.accoumt,how="inner")
df.groupby("account").agg(sum(col("amount")).alias("balance")).filter(col("balance")>10000).show(fp)

In [ ]:
# Accepted-Candidates-From-the-Interviews

In [ ]:
SELECT candidate_id
FROM
    Candidates AS c
    LEFT JOIN Rounds AS r ON c.interview_id = r.interview_id
WHERE years_of_exp >= 2
GROUP BY c.interview_id
HAVING sum(score) > 15;

In [ ]:
df=pd.merge(candidates,rounds,right_on=["interview_id"],right_on=["interview_id"],how="left")
df[df['years_of_exp']>=2].groupby("interview_id").apply(lambda x:x['salary'].sum()>15)

In [ ]:
## apples and oranges

In [ ]:
select a.sale_date, a.sold_num - b.sold_num
from Sales a left join Sales b
on a.sale_date = b.sale_date
where a.fruit = 'apples' and b.fruit = 'oranges'

In [ ]:
df=pd.merge(sales,sales,right_on=["sales_date"],left_on=["sales_date"],how="left")
df_1=df[(df['fruit']=='apples')&(df['fruit']=='oranges')]
df_1['difference']=df['sold_num']-df['sold_num']
df[['sales_date','difference']]

In [ ]:
# ad-free-sessions.sql

In [ ]:
SELECT p.session_id
FROM   playback p
       LEFT JOIN ads a
              ON p.customer_id = a.customer_id
                 AND a.timestamp BETWEEN p.start_time AND p.end_time
WHERE  a.customer_id IS NULL;

In [ ]:
df=pd.merge(playbak,ads,right_on=["customer_id"],left_on=["customer_id"],how="left")
df=df[df['time_stamp']>=df['start_time']&(df['time_stamp']<=df['end_time'])]
df[df['customer'].isnull()]['session_id']

In [ ]:
df=playbooks.join(ads,playbooks.customer_id==ads.customer_id,how="left")
df.filter(col("time_stamp")>col('start_time')&(col('time_stamp')<=col('end_time')))
df.filter(col("customer_id").IsNull()).select("session_id")

In [ ]:
# the-number-of-users-that-are-eligible-for-discount.sql

In [ ]:
SELECT COUNT(DISTINCT user_id) AS user_cnt
    FROM Purchases
    WHERE time_stamp >= startDate AND time_stamp <= endDate AND amount >= minAmount

In [ ]:
df=Purchases[Purchasesp"time_stamp]>='start_date']&(Purchases['time_stamp]<='enddate')&(Purchases['amount']>='minAmount')

In [ ]:
# leetflex-banned-accounts.sql

In [ ]:
select distinct l1.account_id
from LogInfo l1 
join LogInfo l2
on l1.account_id = l2.account_id and l1.ip_address != l2.ip_address
where not (l1.login > l2.logout or l1.logout < l2.login)

In [ ]:
df=pd.merge(logInfo,logInfo,right_on=["account_id"],left_on=["account_id"],how="inner")
df[(df['logInfo_address']!=df['logInfoAddress'])&(~df['loginfo.login']>df['logut'])]

In [ ]:
df=logInfo.alias("e1").join(loginfo.alias("e2"),e1.account_id==e2.account_id)
df.filter(~(col('l1.login')>col('l1.logout')|(col('l2.logout')<col('l2.login')))

In [ ]:
# find-followers-count.sql

In [ ]:
SELECT user_id, 
       Count(follower_id) AS followers_count 
FROM   followers 
GROUP  BY user_id 
ORDER  BY user_id;

In [ ]:
followers.groupby('user_id').size().sort_values(by=['user_id']).reset_index(name="followers_count")

In [ ]:
followers.groupby('user_id').agg(count(col("follower_id")).alias("followers_count")).sort(asc("followers_count")).show()

In [ ]:
#  Recyclable and Low Fat Products

In [ ]:
SELECT product_id
FROM   Products
WHERE  low_fats = 'Y'
       AND recyclable = 'Y'
ORDER  BY NULL;

In [ ]:
products[products['low_fats']=='Y')&(products['recyclable']=='Y')].sort(na_position=True)

In [ ]:
products.filter(col('low_fats')=='Y')&(COL('recyclable')=='y')

In [ ]:
# Percentage of Users Attended a Contest

In [ ]:
SELECT
  contest_id,
  ROUND(
    COUNT(user_id) * 100 / (
      SELECT COUNT(*)
      FROM Users
    ),
    2
  ) AS percentage
FROM Register
GROUP BY 1
ORDER BY percentage DESC, contest_id;

In [ ]:
# immediate-food-delivery-i.sql @@check

In [ ]:
SELECT Round(100 * Sum(order_date = customer_pref_delivery_date) / Count(*), 2) 
       AS 
       immediate_percentage 
FROM   delivery;

In [ ]:
import pandas as pd

def calculate_immediate_percentage(delivery_df):
  

  # Create a boolean Series indicating whether order_date matches preferred delivery date
  immediate_deliveries = (delivery_df['order_date'] == delivery_df['customer_pref_delivery_date'])

  # Calculate the percentage of immediate deliveries
  immediate_percentage = (immediate_deliveries.sum() / len(delivery_df)) * 100

  # Round the percentage to 2 decimal places
  immediate_percentage = round(immediate_percentage, 2)

  return immediate_percentage
result = calculate_immediate_percentage(delivery_df)
print(f"Immediate Delivery Percentage: {result}%")

In [ ]:
df=delivery_df.filter(col('order_date')==col('customer_pref_delivery_date').alias("immediate_delivery"))
percentage=df.filter(round(sum(col("immediate_delivert"))/count(delivery_df)),2)*100

In [ ]:
from pyspark.sql import functions as F

def calculate_immediate_percentage(delivery_df):
  
  total_orders = delivery_df.count()
  num_immediate_deliveries = delivery_df.filter(F.col("order_date") == F.col("customer_pref_delivery_date")).count()

  immediate_percentage = (num_immediate_deliveries / total_orders) * 100
  return round(immediate_percentage, 2)
result = calculate_immediate_percentage(delivery_df)

print(f"Immediate Percentage: {result}%")

In [ ]:
# Write a SQL query for a report that provides the pairs (actor_id, director_id) where the actor have cooperated with the director at least 3 times.

In [ ]:
select actor_id,director_id
from ActorDirectory
group by actor_id,directory_id
having count(*)>=3

In [ ]:
Actors=ActorDirectory.groupby(["actor_id","directory_id"]).apply(lambda x:len(x)>=3)
Actor

In [ ]:
filter_actor=Actor_directory.select("actor_id","directory_id").groupby("actor_id","directory_id").agg(count("*").alias("count_support")).show()
filter_actor.filter(col("count_support")>3)

In [ ]:
# products-ordered-in-a-periods

In [ ]:
SELECT
    p.product_name,
    sum_unit [unit]
FROM Products p JOIN (
    SELECT
        product_id,
        SUM(unit) [sum_unit]
    FROM Orders
    WHERE MONTH(order_date) = 2
        AND YEAR(order_date) = 2020
    GROUP BY product_id
) o ON p.product_id = o.product_id
WHERE sum_unit >= 100

In [ ]:
df=orders[orders['order_date'].dt.Month==2)&(order['order_date'].dt.Year==2020)].groupby('product_id')["unit"].sum().reset_index(name="sum_unit")
df_1=pd.merge(df,products,right_on=["product_id"],left_on=["product_id"],how="inner")
df_2=df_1[df_1['sum_unit']>=100]
df_2[["product_name","sum_unit"]]

In [ ]:
df=orders.filter(month('order_date')==2)&(year('order_date')==2020)).groupby("product_id").sum("unit").alias("sum_unit").show()
df_1=df.join(orders,df.product_id==orders.product_id,how="inner")
df_2=df_1.filter(col("sum_unit")>=100)
df_2[["product_name","sum_unit"]]

In [ ]:
# patients-with-a-condition

In [ ]:
select *
from Patients
where conditions like '% DIAB1%' or 
      conditions like 'DIAB1%'

In [ ]:
df[df['conditions'].str.contains('DIAB')]

In [ ]:
df.filter(col("conditions").contains('DIAB')).select(col('*')).show()

In [ ]:
# Capital Gain Loss.sql

In [ ]:
select stock_name, sum(if(operation='sell', price,-price)) as capital_gain_loss
from stocks
group by stock_name

In [ ]:
import pandas as pd
def calculate_capital_gain_loss(stocks_df):

  stocks_df['signed_price'] = stocks_df.apply(lambda row: row['price'] if row['operation'] == 'sell' else -row['price'], axis=1)
  # Group by stock_name and sum the signed_price to get capital_gain_loss
  result_df = stocks_df.groupby('stock_name')['signed_price'].sum().reset_index(name='capital_gain_loss')
  return result_df

In [ ]:
df.withColumn("capital_gain_loss",expr("case when operation='sell' then price else -price end"))

In [ ]:
df.groupby("stock_name").agg(sum("capital_gain_loss")).show()

In [ ]:
# Market Analysis

In [ ]:
SELECT
  Users.user_id AS buyer_id,
  Users.join_date,
  COUNT(Orders.order_id) AS orders_in_2019
FROM Users
LEFT JOIN Orders
  ON (Users.user_id = Orders.buyer_id AND YEAR(order_date) = '2019')
GROUP BY 1;

In [ ]:
df=pd.merge(users,orders,right_on=["user_id"],left_on=["buyer_id"],how="left")
df=df[df['order_date'].dt.year==2019]
df.groupby(["user_id","join_date"])['order_id'].size().reset_index(name="orders_in_2019")

In [ ]:
df=users.join(orders,user.user_id==orders.buyer_id,how="left")
df=df.filter(col(Year(order_date)==2019))
df.groupby("user_id","join_date").agg(count(col("order_id").alias("counts")))

In [ ]:
# Department Highest Salary

In [ ]:
select * from(select rank() over(partitionby deptname order by sal desc) highest_rank from )

In [ ]:
## Customers who never order

In [ ]:
select
    Name as Customers
from
    Customers
where
    Id
not in(
    select CustomerId from Orders
);

In [ ]:
df=pd.merge(customer,orders,right_on=["id"],left_on=["CustomerId"],how="inner",suffix=('_x','_y'))
df[df['id']!=df['CustomerId']]['name']

In [ ]:
df=customers.join(orders,customer.id==orders.CustoemrId,how="inner")
df.filter(col('id')!=col("CustomerId")).select("name").show()

In [ ]:
# Fix Names in a Table

In [ ]:
select initcap(name) from users

In [ ]:
users['name'].str.title()

In [ ]:
users.withColumn("name",initcap("name"))
users.select("name").show()

In [ ]:
# Shortest Distance in a Line

In [ ]:
# Delete Duplicate Emails

In [ ]:
DELETE p1
FROM Person p1, Person p2
WHERE p1.Email = p2.Email AND p1.Id > p2.Id

In [ ]:
person.drop_duplicates(subset=[['email'],keep='first'])

In [ ]:
person.dropDuplicates(["email"]).show()

In [ ]:
## session bar chart

In [ ]:
SELECT '[0-5>' AS bin, COUNT(1) AS total FROM Sessions WHERE duration < 300
UNION
SELECT '[5-10>' AS bin, COUNT(1) AS total FROM Sessions WHERE 300 <= duration AND duration < 600
UNION
SELECT '[10-15>' AS bin, COUNT(1) AS total FROM Sessions WHERE 600 <= duration AND duration < 900
UNION
SELECT '15 or more' AS bin, COUNT(1) AS total FROM Sessions WHERE 900 <= duration;

In [ ]:
# . Find the Team Size

In [ ]:
select e1.employee_id,count(*) team_size
		from employee e1 left join employee e2on e1.team_id = e2.team_id
group by e1.employee_id;

In [ ]:
df=pd.merge(employee,employee,right_on=["team_id"],left_on=["team_id"],how="left")
df.groupby('employee_id').size().reset_index(name="Team_size")

In [ ]:
df=employee.alias("e1").join("employee",e1.employee_id==e2.employee_id,how="left")
df.groupby('employee_id').agg(count(col('*'))).show()

In [ ]:
# List the Products Ordered in a Period

In [ ]:
SELECT p.product_name, 
       o.unit 
FROM   (SELECT product_id, 
               Sum(unit) AS unit 
        FROM   orders 
        WHERE  order_date BETWEEN '2020-02-01' AND '2020-02-29' 
        GROUP  BY product_id 
        HAVING unit >= 100) o 
       INNER JOIN products p 
               ON o.product_id = p.product_id

In [ ]:
# Restaurant Growth
# #

In [4]:
word = 'banana'
word.split(' ')

['banana']

In [ ]:
# Product Price at a Given Date

In [ ]:
# employees-whose-manager-left-the-company.sql

In [ ]:
select
    employee_id
from Employees
where manager_id is not NULL and manager_id not in (select employee_id from Employees) and salary < 30000
order by 1

In [ ]:
df=employee[(employee['manager_id'].notnull())&(col("salary")<30000)]
df=pd.merge(df,employees,right_on=["employee_id"],left_on=["manager_id"],how="left")
df.sort_values(by=["employee_id"],ascending=True)

In [ ]:
df=employee.filter((col('manager_id').isNotNull())&(col('salary')<30000))
df_1=df.join(employee,df.employee_id==employee.manager_id,how="inner")
df.sort(asc("em[;pyee_id]")).show()

In [ ]:
# Find Active Users

In [ ]:
# Election Results

In [ ]:
#  Get Highest Answer Rate Question

In [ ]:
# Customers Who Never Order.

In [ ]:
select customer from customers where id not in(select id from customer)

In [ ]:
SELECT Customers.name AS Customers
FROM Customers
LEFT JOIN Orders
  ON (Customers.id = Orders.customerId)
WHERE Orders.id IS NULL;

In [ ]:
# Total Traveled Distance
# #

In [ ]:
# Count Artist Occurrences On Spotify Ranking List
# #

In [ ]:
select artist,count(1)
from spotify
group by artist

In [ ]:
# Find Top Scoring Students II
# #

In [ ]:
#  User Activities within Time Bounds
# #

In [ ]:
# Class Performance

In [ ]:
# Product Sales Analysis V
# #

In [ ]:
SELECT s.user_id,
       SUM(s.quantity * p.price) AS spending
FROM Sales s INNER JOIN Product p ON s.product_id = p.product_id
GROUP BY s.user_id
ORDER BY spending DESC, s.user_id ASC;

In [ ]:
df=pd.merge(sales,product,right_on=["product_id"],left_on=["product_id"])
df['spending']=df['quantity']*df['price']
df_1=df.groupby('user_id')["spending"].sum().reset_index()
df_1.sort_values(by=['spending','user_id'],ascending=[False,True])

In [ ]:
df_1=sales.join(product,sales.product_id==product.product_id,how="inner")
df_1.withColumn("spending",col("quantity")*col("price"))
df_2=df_1.groupby("user_id").agg(sum("spending")).show()
df_2.orderBy(['spending','user_id'],ascending=[False,True]).show()

In [ ]:
# Change Null Values in a Table to the Previous Value

In [ ]:
# Sort the Olympic Table

In [ ]:
SELECT *
FROM Olympic
ORDER BY 2 DESC, 3 DESC, 4 DESC, 1;

In [ ]:
olympic.sort_values([2,3,4],asending=[False,False,False])

In [ ]:
olympic.orderBy([2,3,4],ascending=[False,False,False]) #see

In [ ]:
# Consecutive Available Seats II

In [ ]:
# Game Play Analysis II

In [ ]:
#  Maximize Items

In [ ]:
#  Shortest Distance in a Plane

In [ ]:
#  Loan Types

In [ ]:
SELECT user_id
FROM Loans
GROUP BY 1
HAVING SUM(loan_type = 'Refinance') > 0 AND SUM(loan_type = 'Mortgage') > 0
ORDER BY 1;

In [ ]:
SELECT user_id
FROM Loans
WHERE loan_type IN ('Refinance', 'Mortgage')
GROUP BY user_id
HAVING COUNT(DISTINCT loan_type) = 2
ORDER BY user_id;

In [ ]:
grouped_df = loans_df.groupby('user_id').agg(
    has_refinance=('loan_type', lambda x: (x == 'Refinance').any()),
    has_mortgage=('loan_type', lambda x: (x == 'Mortgage').any())
)
result_df = grouped_df[(grouped_df['has_refinance'] == True) & (grouped_df['has_mortgage'] == True)]
result_df = result_df.reset_index()[['user_id']]
result_df = result_df.sort_values('user_id')

In [ ]:
# Article Views II

In [ ]:
SELECT DISTINCT viewer_id AS id 
FROM   views 
GROUP  BY viewer_id, 
          view_date 
HAVING Count(DISTINCT article_id) > 1 
ORDER  BY id

In [ ]:
df=views.groupby(['viewer_id','view_date']).filter(lambda x:x['article_id']:nunique()>1).sort_values(by=['id'])
df['viewer_id'].unique()

In [ ]:
df_1=df.groupby('viwere_id','view_date').agg(countDistinct("article_id").alias("count")).filter(col("count")>1).sort(asc("id"))
df_1.select('viewer_id').distinct().show()

In [ ]:
# fFind Bursty Behavior

In [ ]:
#  Monthly Transactions II

In [ ]:
# Game Play Analysis I
# #

In [ ]:
SELECT player_id, 
       Min(event_date) first_login 
FROM   activity 
GROUP  BY player_id 
ORDER  BY NULL

In [ ]:
#  Game Play Analysis III

In [ ]:
# Department Top Three Salaries

In [ ]:
WITH rank AS (
    SELECT
        d.name AS Department,
        e.name AS Employee,
        e.salary AS Salary,
        DENSE_RANK() OVER (PARTITION BY d.name ORDER BY e.salary DESC) AS salary_ranking
    FROM
        Employee e JOIN Department d ON e.departmentId = d.id
)

SELECT
    Department,
    Employee,
    Salary
FROM rank
WHERE salary_ranking <= 3

In [ ]:
df = pd.merge(employees, departments, on='departmentId')

# Rank employees within each department by salary (descending order)
df['salary_ranking'] = df.groupby('departmentId')['salary'].rank(ascending=False)

# Select top 3 employees from each department based on salary
result_df = df[df['salary_ranking'] <= 3][['departmentId', 'name_x', 'salary']]

# Rename columns for clarity (assuming 'name_x' refers to the employee name)
result_df.columns = ['Department', 'Employee', 'Salary']

# Print the result
print(result_df)

In [ ]:
df=employees.join(departments,employees.departmentId=department.departmentid)
df.withColumn("rank",dense_rank().over(Window.partitionBy("driver").orderBy(desc("salary"))))
df.filter(col("rank")<=3).select("departmentId","name","salary").show()

In [ ]:
# Customer Who Visited but Did Not Make Any Transactions

In [ ]:
SELECT
  Visits.customer_id,
  COUNT(Visits.visit_id) AS count_no_trans
FROM Visits
LEFT JOIN Transactions
  USING (visit_id)
WHERE Transactions.transaction_id IS NULL
GROUP BY 1;

In [ ]:
df=pd.merge(transactions,customer,right_on=["visit_id"],left_on=["visit_id"],how="left")
df[df['transactiond_id'].isnotnull()]
df.groupby('customer_id')['visit_id'].count().reset_index()

In [ ]:
df=visits.join(transactions,visits.visit_id==transactions_id,how="left")
df=df.filter(col('transaction_id').isNotNull())
df.groupby('customer_id').agg(count(col("visit-id")).alias("counts")).show()

In [ ]:
## patients with a condition

In [ ]:
select distinct patient_id, patient_name, conditions
from patients
where conditions like '%DIAB1%'

In [ ]:
df=patients[patients['condition'].str.contains('DIAB')]
df[['patient_id','patient_name','conditions']].unique()

In [ ]:
df=patients.filter(col('conditions').contains('DIAB'))
df.select("patient_id","patient_name","conditions").distinct()

In [ ]:
# Find the Missing IDs

In [ ]:
with recursive cte (ids) as
(
    select 1 as ids
    
    union all
    
    select ids + 1 
    from cte 
    where ids < (select max(customer_id) from Customers)
)
select ids
from cte
where ids not in (select customer_id from Customers)
order by ids

In [ ]:
# Find Users With Valid E-Mails

In [ ]:
SELECT *
FROM Users
WHERE REGEXP_LIKE(mail, '^[a-zA-Z][a-zA-Z0-9\_\.\-]*@leetcode.com')

In [ ]:
users[users['email'].str.contains('@leetcode.com')]
## The second method
filtered_df = Users[Users['mail'].str.match('^[a-zA-Z][a-zA-Z0-9\_\.\-]*@leetcode.com')]
print(filtered_df)

In [ ]:
Users.filter(regexp_extract(col("mail"), "^[a-zA-Z][a-zA-Z0-9\_\.\-]*@leetcode\.com", 0) != "")
## second method
email.filter(col('email').contains('@leetcode.com'))

In [ ]:
# 1378-replace-employee-id-with-the-unique-identifier.sql

In [ ]:
SELECT unique_id, name
FROM Employees
LEFT JOIN  EmployeeUNI
USING (id);

In [ ]:
df=pd.merge(employee,employeeUnit,on="id",how="left")
df[["unique_id","name"]]

In [ ]:
employee.join(employeeUnit,employee.id==employeeUnit.id,how="left").select(col("unique_id"),col("name"))

In [ ]:
# Friends With No Mutual Friends

In [ ]:
# Arrange Table by Gender

In [ ]:
# Longest Team Pass Streak

In [ ]:
# Employees Project Allocation

In [ ]:
select  employee_id, project_id, employee_name, project_workload from(select team,avg(work_load) avg_workload from employee group by 1) a join employee e using (employee_id) join a using(team)
where workload>avg_workload
order by 1,2

In [ ]:
df=employee.groupby('team')['work_load'].mean().reset_index()
df_1=pd.merge(df,employee,right_on=["employee"],left_on=["team"],how="inner")
df_1=df_1[df_1['work_load']>df_1['avg_workload']]
df_1.sort_values(by=['employee_id','project_id'])

In [ ]:
df=employee.groupby('team').agg(mean(col("work_load"))).show()
df_1=df.join(employee,df.team==df.employee,how="inner")
df_1=df_1.filter(col('work_load')>col("avg_workload"))
df_1.orderBy(['employee_id','project_id'])

In [ ]:
#  Form a Chemical Bond

In [ ]:
SELECT a.symbol AS metal, b.symbol AS nonmetal
FROM
    Elements AS a,
    Elements AS b
WHERE a.type = 'Metal' AND b.type = 'Nonmetal';

In [ ]:
# CEO Subordinate Hierarchy
# #

In [ ]:
# Find Third Transaction

In [ ]:
# Symmetric Coordinates
# #

In [ ]:
# Find Overlapping Shifts II

In [ ]:
# Find Overlapping Shifts
# #

In [ ]:
# Server Utilization Time

In [ ]:
# Find Trending Hashtags II

In [ ]:
# Tasks Count in the Weekend

In [ ]:
# Employee Task Duration and Concurrent Tasks

In [ ]:
# Calculate Orders Within Each Interval

In [ ]:
# Classifying Triangles by Lengths leetcode slq

In [ ]:
select case when x==y and y==z then 'equ' when y==z then 'Iscole' else 'scalene' end from triangles

In [ ]:
def type_trianle(type):
    if x==6

In [ ]:
# Find Candidates for Data Scientist Position

In [ ]:
SELECT candidate_id
FROM Candidates
WHERE skill IN ('Python', 'Tableau', 'PostgreSQL')
GROUP BY 1
HAVING COUNT(1) = 3
ORDER BY 1;

In [ ]:
# Find Candidates for Data Scientist Position II

In [ ]:
# Combine Two Tables

In [ ]:
SELECT FirstName, LastName, City, State
FROM Person
LEFT JOIN Address
ON Person.PersonId = Address.PersonId

In [ ]:
df=pd.merge(person,address,right_on=["PersonId"],left_on=["PersonId"],how="left")
df[['FirstName','LastName','City','State']]

In [ ]:
df=person.join(address,person.person_id==address.person_id,how="left")
df.select("FirstName","LastName","State").show()

In [ ]:
#  Nth Highest Salary

In [ ]:
WITH T AS (SELECT salary, DENSE_RANK() OVER (ORDER BY salary DESC) AS rk FROM Employee)
SELECT (SELECT DISTINCT salary FROM T WHERE rk = 2) AS SecondHighestSalary;

In [ ]:
def find_second_highest_salary(employees_df,n):


  employees_df['rank'] = employees_df['salary'].rank(method='dense', ascending=False)

  second_highest_salary = employees_df[employees_df['rank'] == n]['salary']

  # Return the second highest salary if it exists, otherwise return None
  return second_highest_salary.values[0] if not second_highest_salary.empty else None


second_highest_salary = find_second_highest_salary(employees_df,2)

print(f"Second Highest Salary: {second_highest_salary}")

In [ ]:
n=value
employee.withColumn("rank",over(Window.order by(desc("salary"). desc()))
employee.filter(col("rank")=="n").select(distinct('salary')).show()

In [ ]:
# Second Highest Salary

In [ ]:
WITH T AS (SELECT salary, DENSE_RANK() OVER (ORDER BY salary DESC) AS rk FROM Employee)
SELECT (SELECT DISTINCT salary FROM T WHERE rk = 2) AS SecondHighestSalary;

In [ ]:
def find_second_highest_salary(employees_df):
 

  # Calculate rank for each salary in descending order
  employees_df['rank'] = employees_df['salary'].rank(method='dense', ascending=False)

  # Filter for the second highest salary (rank = 2)
  second_highest_salary = employees_df[employees_df['rank'] == 2]['salary']

  # Return the second highest salary if it exists, otherwise return None
  return second_highest_salary.values[0] if not second_highest_salary.empty else None

# Example usage:
# Assuming 'employees_df' is your pandas DataFrame
# Replace 'employees_df' with the actual name of your DataFrame
second_highest_salary = find_second_highest_salary(employees_df)

print(f"Second Highest Salary: {second_highest_salary}")

In [ ]:
employee.withColumn("rank",over(Window.order by(desc("salary"). desc()))
employee.filter(col("rank")==2).select(distinct('salary')).show()

In [ ]:
# Dynamic Pivoting of a Table

In [ ]:
# Dynamic Unpivoting of a Table

In [ ]:
# Find Top Performing Driver

In [ ]:
# Find Median Given Frequency of Numbers

In [ ]:
#  Find the Start and End Number of Continuous Ranges

In [ ]:
#  Human Traffic of Stadium
# #

In [ ]:
# The First Day of the Maximum Recorded Degree in Each City

In [ ]:
WITH
    T AS (
        SELECT
            *,
            RANK() OVER (
                PARTITION BY city_id
                ORDER BY degree DESC, day
            ) AS rk
        FROM Weather
    )
SELECT city_id, day, degree
FROM T
WHERE rk = 1
ORDER BY 1;

In [ ]:
#  Game Play Analysis IV

In [ ]:
# Triangle Judgement

In [ ]:
#  Sales Person.sql

In [ ]:
select salesperson.name
from orders o join company c on (o.com_id = c.com_id and c.name = 'RED')
right join salesperson on salesperson.sales_id = o.sales_id
where o.sales_id is null;

In [ ]:
df=pd.merge(orders,company,right_on=["com_id"],left_on=["com_id"],how="inner")
df_1=pd.merge(df,salesperson,right_on=["sales_id"],left_on=["sales_id"],how="right")
df_1[df_1['sales_id'].notnull()]['name']

In [ ]:
df=orders.join(company,orders.com_id==company.com_id,how="inner")
df_1=df.join(salesperson,df.sales_id==salesperson.sales_id,how="right")
df_1.filter(df_1.sales_id.isNotNull()).select("name").show()

In [ ]:
# MySQL/recyclable-and-low-fat-products.sql

In [ ]:
SELECT product_id
FROM   Products
WHERE  low_fats = 'Y'
       AND recyclable = 'Y'
ORDER  BY NULL;

In [ ]:
products[(products['low_fats']=='Y')&(products['recyclable']=='Y')].sort_values(na_position=True)

In [ ]:
products.filter((col("low_fats")=='Y')&(col("recyclable")=='Y')  #check

In [ ]:
# MySQL/find-followers-count.sql

In [ ]:
SELECT user_id, 
       Count(follower_id) AS followers_count 
FROM   followers 
GROUP  BY user_id 
ORDER  BY user_id;

In [ ]:
followers.groupby('user_id')['follower_id'].count().sort_values(by=['user_id']).reset_index()

In [ ]:
followers.groupby('user_id').agg(count(col("follower_id"))).sort(asc("user_id")).show()

In [ ]:
# 1581-customer-who-visited-but-did-not-make-any-transactions.sql

In [ ]:
SELECT customer_id, COUNT(*) as count_no_trans
FROM Visits
WHERE visit_id NOT IN (SELECT DISTINCT visit_id FROM Transactions)
GROUP BY customer_id;

In [ ]:
df=pd.merge(visits,visits,right_on=["visit_id"],left_on=["visit_id"],how="inner",suffix=('_x','_y'))
df_1=df[df['visit_id_x']!=df[visit_id_y]]
df_1.groupby("customer_id").size().reset_index(name="counts")

In [ ]:
df=visits.alias("v1").join(visit.alias("v2"),v1.visit_id==v2.visit_id,how="inner")
df.filter(col("v1.visit_id")!=col("v2.visit_id")).groupby("v1.customer_id").agg(count(col("*")).alias("count_no_trans")).show()

In [ ]:
# 1873-calculate-special-bonus.sql

In [ ]:
select employee_id, if(employee_id%2=1 and name not like'M%', salary,0) as bonus from Employees;

In [ ]:
df=bonus.copy()
df['bonus']=df[df['id']%2==1)&(~df['name'].str.startswith('M'))]
df[['employee_id','bonus']]

In [ ]:
bonus.filter((col('employee_id')%2=1)&(~col('name').startswith('M')))

In [ ]:
## Artcile Views

In [ ]:
SELECT DISTINCT author_id AS id 
FROM   views 
WHERE  author_id = viewer_id 
ORDER  BY id

In [ ]:
df[df['author_id']==df["viewer_id"]].sort_values(by=['id'],ascending=True) ##chekc

In [ ]:
df.filter(col("author_id")==col("viewer_id")).sort(asc("id")).select(distinct("author_id").alias("id"))

In [ ]:
# Project Employees III

In [ ]:
WITH
    T AS (
        SELECT
            *,
            RANK() OVER (
                PARTITION BY project_id
                ORDER BY experience_years DESC
            ) AS rk
        FROM
            Project
            JOIN Employee USING (employee_id)
    )
SELECT project_id, employee_id
FROM T
WHERE rk = 1;

In [ ]:
Window=Window.partitionBy('project_id').orderBy(desc("experience_years"))
project.withColumn("rank",rank().over(window))
df=project.join(employee,project.employee_id=employee.employee_id,how="inner")
df.filter(col("rank")==1).select("project_id","employee_id")

In [ ]:
df['rank']=project.groupby('project_id')['experience'].rank(method="dense",ascending=False)
df_1=pd.merge(df,employee,on=["employee_id"],how="inner")
df_1[df_1['rank']==1][['project_id','employee_id']]

In [ ]:
# Exchange Seats

In [ ]:
# daily-leads-and-partners.sql

In [ ]:
SELECT date_id,
       make_name,
       COUNT(DISTINCT lead_id) AS unique_leads,
       COUNT(DISTINCT partner_id) AS unique_partners
FROM DailySales
GROUP BY 1, 2
ORDER BY NULL; ##check

In [ ]:
dailysales.groupby(['date_id','make_name']).agg(unique_leads={'lead_id':'nunique'},'unique_partners'={'unique_partners':'nunique'}).reset_index()

In [ ]:
dailysales.groupby(['date_id','make_name']).agg(countDistinct(col("lead_id")),countDistinct(col("unique_partners"))).

In [ ]:
# Maximum Transaction Each Day

In [ ]:
SELECT 

    DATE(transaction_date) as transaction_date,

    MAX(amount) as max_transaction_amount

FROM transactions

GROUP BY DATE(transaction_date);

In [ ]:
# sellers-with-no-sales.sql

In [ ]:
select distinct seller_name
from sellers s left join orders
on s.seller_id=o.seller_id
and year(date)=2020
order by 1

In [ ]:
## Total time spent by employee

In [ ]:
SELECT event_day AS day, emp_id, SUM(out_time - in_time) AS total_time
FROM Employees
GROUP BY event_day, emp_id;

In [ ]:
df=employee.copy()
df['tota_time']=df['out_time']-df['in_time']
df.groupby(['event_day','emp_id'])["total_time"].sum().reset_index()

In [ ]:
df.withColumn("total_time",col(sum("out_time"))-col(sum(col("in_time"))))
df.groupby("event_day","emp_id").agg(sum(col("total_time"))).show()

In [ ]:
#  Find Latest Salaries

In [ ]:
SELECT
	emp_id,
	firstname,
	lastname,
	max( salary ) AS salary,
	department_id 
FROM
	Salary 
GROUP BY
	emp_id 
ORDER BY
	emp_id;

In [ ]:
df=salary.copy()
df.groupby(["emp_id","first_name","last_name"])['salary'].max().sort_values(ascending=False).reset_index()

In [ ]:
df.groupby("emp_id","first_name","last_name").agg(sum(col("salary")).alias("max")).show()

In [ ]:
# count-artist-occurrences-on-spotify-ranking-list.sql

In [ ]:

SELECT
    artist,
    count(1) AS occurrences
FROM Spotify
GROUP BY artist
ORDER BY occurrences DESC, artist ASC;

In [ ]:
spotify.groupby('artist').size().reset_index(name="occuerence")

In [ ]:
spotify.groupby("artist").agg(count(col("*")).alias("occuerence")).show()

In [ ]:
#  Game Play Analysis V

In [ ]:
# Rising Temperature

In [ ]:
select  *
from weather w1 join weather w2 on DateDiff(w1.date,w2.date)==1 and w1.temperature>w2.temperature

In [ ]:
Immediate Food Delivery I
#

In [ ]:
# Calculate Product Final Price

In [ ]:
# Number of Trusted Contacts of a Customer

In [ ]:
#  Immediate Food Delivery II

In [ ]:
# Immediate Food Delivery III

In [ ]:
SELECT  order_date
       ,round(100*SUM(IF(customer_pref_delivery_date = order_date,1,0))/COUNT(*),2) AS immediate_percentage
FROM Delivery
GROUP BY  order_date
ORDER BY order_date

In [ ]:
import pandas as pd

def calculate_immediate_percentage(df):
   

    df['immediate_delivery'] = (df['customer_pref_delivery_date'] == df['order_date']).astype(int)
    
    grouped_df = df.groupby('order_date').agg(
        immediate_percentage=('immediate_delivery', lambda x: round(100 * x.sum() / len(x), 2))
    ).reset_index()
    
    return grouped_df
result_df = calculate_immediate_percentage(Delivery)

print(result_df)

In [ ]:
windowSpec = Window.partitionBy("order_date")

result_df = Delivery.withColumn(
    "immediate_delivery", 
    when(col("customer_pref_delivery_date") == col("order_date"), 1).otherwise(0)
).groupBy("order_date") \
.agg(
    round(
        (sum("immediate_delivery") / count("*")) * 100, 
        2
    ).alias("immediate_percentage")
).orderBy("order_date")

In [ ]:
## customer order frequency

In [ ]:
select o.customer_id, name
from
Orders o
join
Product p
on o.product_id = p.product_id
join
Customers c
on o.customer_id = c.customer_id
group by 1, 2
having sum(case when date_format(order_date, '%Y-%m')='2020-06'
then price*quantity end) >= 100
and 
sum(case when date_format(order_date, '%Y-%m')='2020-07'
then price*quantity end) >= 100

In [ ]:
# Rank Scores.sql

In [ ]:
    SELECT Score, DENSE_RANK() OVER (PARTITION BY Score ORDER BY Score DESC) AS Rank
    FROM Scores

In [ ]:
df.groupby('Score')['Score'].rank(method='dense', ascending=False)
print(df)

In [ ]:
df.withColumn("dense_rank",dense_rank().over(partitionBy("score").orderBy("score").desc()))
df.select("score","rank").show()

In [ ]:
# leetcode_SQL/sales-analysis-iii.sql

In [ ]:
SELECT product_id, 
       product_name 
FROM   product 
WHERE  product_id NOT IN (SELECT product_id 
                          FROM   sales 
                          WHERE  sale_date NOT BETWEEN 
                                 '2019-01-01' AND '2019-03-31');

In [ ]:
df=pd.merge(product,product,right_on=["product_id"],left_on=["product_id"],how="inner")
df_2=df[(df['product_id']!=df['product_id'])&(df['sales_date']>='2019-01-01')&(df['sales_date']<='2019-03-31')]
df_2[["product_id","product_name"]]

In [ ]:
df=product.alias("p1").join(product.alias("p2"),p1.product_id==p2.product_id,how="inner")
df2=df.filter(col("p1.product_id")!=col("p2.product_id"))&(col('sales_date')>='2019-01-01')&(col('sales_date')<='2019-03-31')
df2.select("product_id","product_name").show()

In [ ]:
# highest-salaries-difference.sql

In [ ]:
SELECT ABS(
    (
        SELECT MAX(salary)
        FROM Salaries
        WHERE DEPARTMENT = "Marketing"
    )
    - 
    (
        SELECT MAX(salary)
        FROM Salaries
        WHERE DEPARTMENT = "Engineering"
    )
) AS salary_difference;

In [ ]:
salary_difference_marketing=salaries[salariees['department']=='Marketing']['salary'].max()
salary_difference_engineering=salaries[salariees['department']=='Engineering']['salary'].max()
abs(salary_difference_marketing-salary_difference_engineering)

In [ ]:
salaries_marketing=salaries.filter(col("department")=="Marketing").agg(max("salary"))
salaries_engineering=salaries.filter(col("department")=="Engineerng").agg(max("salary"))
abs(salaries_marketing-salaries_engineering)

In [ ]:
## Tweets rolling average

In [ ]:
select 
  user_id,
  tweet_date,
  round(avg(tweet_count) over (partition by user_id order by tweet_date rows between 2 preceding and current row), 2) as rolling_avg_3_days
from 
    tweets
group by 
    user_id,
    tweet_date,
    tweet_count;

In [ ]:
import pandas as pd

def calculate_rolling_avg_3_days(tweets_df):
   

       tweets_df = tweets_df.sort_values(by=['user_id', 'tweet_date'])

    # Calculate rolling average using rolling() and mean()
    tweets_df['rolling_avg_3_days'] = tweets_df.groupby('user_id')['tweet_count'].rolling(window=3, min_periods=1).mean().values

    # Round the rolling average to 2 decimal places
    tweets_df['rolling_avg_3_days'] = tweets_df['rolling_avg_3_days'].round(2)

    return tweets_df[['user_id', 'tweet_date', 'rolling_avg_3_days']]

# Example usage:
# Assuming 'tweets_df' is your pandas DataFrame
result_df = calculate_rolling_avg_3_days(tweets_df)

In [ ]:
def calculate_rolling_avg_3_days(tweets_df):
 
  windowSpec = Window.partitionBy("user_id").orderBy("tweet_date").rowsBetween(-2, 0)
  result_df = tweets_df.withColumn(
      "rolling_avg_3_days", 
      F.round(F.avg("tweet_count").over(windowSpec), 2)
  )
  return result_df

# Assuming 'tweets_df' is your Spark DataFrame
result_df = calculate_rolling_avg_3_days(tweets_df)

result_df.show()

In [ ]:
# Write your MySQL query statement below

In [ ]:

SELECT q.*, IFNULL(npv, 0) AS npv
FROM
    Queries AS q
    LEFT JOIN NPV AS n USING (id, year);

In [ ]:
df=pd.merge(queries,npv,right_on=["id","year"],how="left")
df_1=df['npv'].fillna(0)
df_1.head()

In [ ]:
df_1=queries.join(npv,queries.id==npv.i)
df.withColumn("npv", when(col("npv").isNull(), lit(0)).otherwise(col("npv")))

In [ ]:
# -Number-of-Times-a-Driver-Was-a-Passenger

In [ ]:
WITH T AS (SELECT DISTINCT driver_id FROM Rides)
SELECT t.driver_id, count(passenger_id) AS cnt
FROM
    T AS t
    LEFT JOIN Rides AS r ON t.driver_id = r.passenger_id
GROUP BY 1;

In [ ]:
df_1=rides['drive_id'].unique()
df_2=pd.merged(df_1,rides,right_on=["driver_id"],left_on=["passenger_id"],how="left")
df.groupby("driver_id")["passenger_id"].count().reset_index()

In [ ]:
df_1=df.select(distinct("driver_id")).show()
df_2=df_1.join(rides,df_1.driver_id==rides.passenger_id,how="left")
df_2.groupby("driver_id").agg(count(col("passenger_id"))).show()

In [ ]:
# Low-Quality Problems

In [ ]:
SELECT problem_id
FROM Problems
WHERE likes / (likes + dislikes) < 0.6
ORDER BY problem_id;

In [ ]:
df[df['likes']/df['likes']+df['dislikes']<0.6].sort_values(by=['problem_id'])['problem_id']

In [ ]:
df.withColumn("count_dislikes",col("likes")/col("dislikes"))
df.filter(col("likes")/col("count_dislikes")).alias("count"))
df.filter(col("count")<0.6).sort(asc("problem_id")).select("problem_id")

In [ ]:
# MySQL/calculate-the-influence-of-each-salesperson.sql

In [ ]:
SELECT sp.salesperson_id, sp.name, SUM(IFNULL(price, 0)) AS total
FROM Salesperson sp
LEFT JOIN Customer c ON sp.salesperson_id = c.salesperson_id
LEFT JOIN Sales s ON c.customer_id = s.customer_id
GROUP BY sp.salesperson_id, sp.name
ORDER BY NULL;

In [ ]:
df=pd.merge(sales_person,customer,right_on="customer_id",left_on="customer_id",how="left")
df_1=pd.merge(df,sales,right_on=["customer_id"],right_on=["customer_id"],how="left")
df_1['price'].fillna(0,inplace=True)
df_1.groupby(["salesperson_id","name"])['price'].sum().sort_values(na_position=True).reset_index()

In [ ]:
df=sales_person.join(customers,sales_person.customer_id==customers.customer_id,how="left")
df1=df.join(sales,df.customer_id==sales.customer_id,how="left")
total_sales_df = joined_df.groupBy("sp.salesperson_id", "sp.name") \
  .agg(sum(coalesce(col("s.price"), lit(0))).alias("total")) \
  .orderBy(col("total").desc())  # Order by total descending (NULL last)

# Show the result
total_sales_df.show()

In [ ]:
# Merge Overlapping Events in the Same Hall

In [ ]:
# article-views-ii.sql

In [ ]:
SELECT DISTINCT viewer_id AS id 
FROM   views 
GROUP  BY viewer_id, 
          view_date 
HAVING Count(DISTINCT article_id) > 1 
ORDER  BY id

In [ ]:
# Queries Quality and Percentage

In [ ]:
SELECT 
	query_name,
	ROUND(AVG(rating / position), 2) AS quality,
	ROUND(AVG(rating < 3) * 100, 2) AS poor_query_percentage 
FROM 
	Queries
GROUP BY 
	query_name;

In [ ]:
# Biggest Single Number

In [ ]:
select max(num) from(select num from number group by 1 having count(num)==1) as t

In [ ]:
df=number.groupby('num').filter(lambda x:x['num'].count()==1).reset_index()
df['num'].max()

In [ ]:
df=number.groupby('num').agg(count(col("num")).alias("counts")).filter(col("counts")==1)
filtered_df.agg(max(col("num"))).collect()[0][0]f

In [ ]:
# find-products-with-valid-serial-numbers.sql

In [ ]:
# regular expression
SELECT product_id, product_name, description
FROM products
WHERE description REGEXP "SN[0-9]{4}-[0-9]{4}[^0-9]*$"
ORDER BY 1;

In [ ]:
# Sales Analysis II

In [ ]:
SELECT buyer_id
FROM
    Sales
    JOIN Product USING (product_id)
GROUP BY 1
HAVING SUM(product_name = 'S8') > 0 AND SUM(product_name = 'iPhone') = 0;

In [ ]:
# Sales Analysis III checks

In [ ]:
select distinct s.product_id, p.product_name
from sales s join product p 
on s.product_id=p.product_id
where s.sale_date between '2019-01-01' and '2019-03-31'

In [ ]:
    df=pd.merge(sales,products,right_on=['product_id'],left_on=['product_id'],how="inner")
    df=df[df['sales_date']>='2019-01-01')&(df['sales_date']<='2019-03-31')]
    df[['product_id','product_name']].drop_duplicates

In [ ]:
df=sales.join(sales.product_id==product.product_id,how="inner")
df.filter(col('sales_date')>='2019-01-01')&(col('sales_date')<='2019-03-31').select('product_d',"product_name").distinct()

In [ ]:
# Sales by Day of the Week

In [ ]:
# Fix Product Name Format

In [ ]:
select product_name,sales_date,count(1) as total_count from(select lower(trim(product_name) as product,date_format(sales_date,'%y-%m') as date from sales) a group by 1,2 order by 1,2)

In [ ]:
df=df[(df['product_name'].str.lower())&(df['sales_date'].dt.strftime('%Y-%M'))]
df.groupby(['product_name','sales_date']).size().reset()
df.sort_values(by=['product_name','sales_date'])

In [ ]:
df.withColumn("date_part",date_format(to_date("timestamp_column"), "yy-MM"))
df=df.filter(lower(col('product_name')))
df_1=df.groupby('product_name','date_part').agg(count(col("*")).alias("total_count")).show()
df_1.orderBy(['product_name','date_part'])

In [ ]:
# Order and Deliver/# 1484. Group Sold Products By The Date.sql

In [ ]:
SELECT DISTINCT sell_date, COUNT(DISTINCT product) AS num_sold, 
    GROUP_CONCAT(DISTINCT product ORDER BY product ASC SEPARATOR ',') AS products # aggregate the product names in one cell
FROM Activities 
GROUP BY sell_date
;

In [ ]:
result_df = df.groupby('sell_date').agg(
    num_sold=('product', 'nunique'),
    products=('product', lambda x: ','.join(sorted(x.unique())))
)

In [ ]:
result_df = df.groupBy("sell_date") \
    .agg(
        countDistinct("product").alias("num_sold"),
        collect_set("product").alias("product_set")
    ) \
    .withColumn("products", concat_ws(",", sort_array("product_set")))

In [ ]:
# MySQL/users-with-two-purchases-within-seven-days.sql

In [ ]:
WITH purchase_cte AS
(
    SELECT user_id,
           purchase_date,
           LAG(purchase_date) OVER (PARTITION BY user_id
                                    ORDER BY purchase_date) AS prev_purchase_date
    FROM purchases
)

SELECT DISTINCT user_id
FROM  purchase_cte
WHERE DATEDIFF(purchase_date, prev_purchase_date) <= 7;

In [ ]:
def get_users_with_purchases_within_7_days(purchases_df):
  purchases_df['prev_purchase_date'] = purchases_df.groupby('user_id')['purchase_date'].shift(1)
  purchases_df['time_diff'] = (purchases_df['purchase_date'] - purchases_df['prev_purchase_date']).dt.days
  filtered_df = purchases_df[purchases_df['time_diff'] <= 7]
  return filtered_df['user_id'].unique()

user_ids = get_users_with_purchases_within_7_days(purchases)

print(user_ids)

In [ ]:
from pyspark.sql.window import Window

def get_users_with_purchases_within_7_days(purchases_df):

  windowSpec = Window.partitionBy("user_id").orderBy("purchase_date")
  purchases_df = purchases_df.withColumn("prev_purchase_date", F.lag("purchase_date").over(windowSpec))
  purchases_df = purchases_df.withColumn("time_diff", F.datediff(F.col("purchase_date"), F.col("prev_purchase_date")))
  filtered_df = purchases_df.filter(F.col("time_diff") <= 7)
  return filtered_df.select("user_id").distinct().rdd.flatMap(lambda x: x).collect()

# Assuming 'purchases' is your Spark DataFrame
user_ids = get_users_with_purchases_within_7_days(purchases)

print(user_ids)

In [ ]:
# Sales Analysis I.sql

In [ ]:
SELECT 
    seller_id, 
    SUM(sales_price) AS total_sales_price, 
    DENSE_RANK() OVER (ORDER BY SUM(sales_price) DESC) AS rank
FROM 
    sales
GROUP BY 
    seller_id
HAVING 
    rank = 1;

In [ ]:
df=sales.copy()
df_1=df.groupby('seller_id')['sales_price'].sum().reset_index()
df_1['rank']=df['total_sales_price'].rank(method="dense",ascending=False)
df_1[df_1['rank']==1]

In [ ]:
# Products With Three or More Orders in Two Consecutive Years

In [ ]:
# Find Followers Count

In [ ]:
SELECT user_id, 
       Count(follower_id) AS followers_count 
FROM   followers 
GROUP  BY user_id 
ORDER  BY user_id;

In [ ]:
followers.groupby('user_id').agg(count("follower_id")).sort(asc("user_id")).show()

In [ ]:
followers.groupby('user_id')['follower_id'].count().sort_values().reset_index()

In [ ]:
#  Product Sales Analysis IV

In [ ]:
WITH spending_cte AS (
    SELECT s.user_id,
           s.product_id,
           RANK() OVER(PARTITION BY s.user_id ORDER BY SUM(s.quantity * p.price) DESC) AS rnk
    FROM Sales s INNER JOIN Product p ON s.product_id = p.product_id
    GROUP BY s.user_id, s.product_id
    ORDER BY NULL
)

SELECT user_id, product_id
FROM spending_cte
WHERE rnk = 1;

In [ ]:
# Concatenate the Name and the Profession

In [ ]:
SELECT person_id, CONCAT(name, "(", substring(profession, 1, 1), ")") AS name
FROM Person
ORDER BY person_id DESC;

In [ ]:
df['name'] = df['name'] + ' (' + df['profession'].str[0] + ')' 

# Sort by 'person_id' in descending order
df = df.sort_values(by='person_id', ascending=False)

# Select the desired columns
result_df = df[['person_id', 'name']]

In [ ]:
df.withColumn("professions",substring(profession,1,1))
cdf.select(concat(col("name"),lit("("),col("profession"),lit(")"))).show()

In [ ]:
#  Books with NULL Ratings

In [ ]:
SELECT book_id,
       title,
       author,
       published_year
FROM books
WHERE rating is NULL
ORDER BY 1 ASC;

In [ ]:
books=books[books['rating'].isnull()]
books.sort_values(by=['book_id'],ascending=True)[['book_id','title','author','published_year']]

In [ ]:
books=books.filter(col('rating').isNull())
books.sort(asc("book_id")).select("book_id","title","author","published_year")

In [ ]:
# Find Valid Emails

In [ ]:
SELECT user_id, email 
FROM users
WHERE email REGEXP '^[a-zA-Z0-9_]+@[a-zA-Z]+\.com$'
ORDER BY 1;

In [ ]:
#  First Letter Capitalization II

In [ ]:
select Initcap(title)
from

In [ ]:
df["name"]=df["title"].str.title()
df["name"]

In [ ]:
df.withColumn("name",Initcap("title"))
df.show()

In [ ]:
# Team Dominance by Pass Success

In [ ]:
# Generate the Invoice

In [ ]:
#  All the Matches of the League

In [ ]:
SELECT t1.team_name AS home_team, t2.team_name AS away_team
FROM
    Teams AS t1
    CROSS JOIN Teams AS t2
WHERE t1.team_name != t2.team_name;

In [ ]:
cross_joined_df = teams_df.merge(teams_df, how='cross')
cross_joined_df.columns = ['home_team', 'away_team']
result_df = cross_joined_df[cross_joined_df['home_team'] != cross_joined_df['away_team']]
print(result_df)

In [ ]:
cross_joined_df = teams_df.crossJoin(teams_df)

cross_joined_df = cross_joined_df.withColumnRenamed("team_name", "home_team") \
                               .withColumnRenamed("team_name_right", "away_team")
result_df = cross_joined_df.filter(col("home_team") != col("away_team"))

result_df.show()

In [ ]:
#  Year on Year Growth Rate

In [ ]:
with t as(

    select product_id,year(transaction_date),sum(spend) as total_spend
    from user_transaction
    group by 1,2
),t as(select t1.year,t1.product_id,t1.spend,t2.spend from t t1 join t t2 on t1.year=t2.year+1)
    
    select ((t1.spend-t2.spend)/t2.spend*100,2)
    from s
    order by1

In [ ]:
# Find Cities in Each State

In [ ]:
SELECT
    state,
    GROUP_CONCAT(city ORDER BY city SEPARATOR ', ') cities
FROM cities
GROUP BY 1
ORDER BY 1;

In [ ]:
 result_df = cities_df \
      .groupBy("state") \
      .agg(collect_list("city").alias("city_list")) \
      .withColumn("cities", concat_ws(", ", sort_array(col("city_list")))) \
      .drop("city_list") \
      .orderBy("state")

result_df

In [ ]:
def find_cities(cities: pd.DataFrame) -> pd.DataFrame:
    result = (
        cities.groupby("state")["city"]
        .apply(lambda x: ", ".join(sorted(x)))
        .reset_index()
    )
    result.columns = ["state", "cities"]
    return result

In [ ]:
# Bitwise User Permissions Analysis

In [ ]:
SELECT
    BIT_AND(permissions) AS common_perms,
    BIT_OR(permissions) AS any_perms
FROM user_permissions;

In [ ]:
# Top Percentile Fraud

In [ ]:
# Classifying Triangles by Lengths

In [ ]:
SELECT
    CASE
        WHEN A + B <= C
        OR A + C <= B
        OR B + C <= A THEN 'Not A Triangle'
        WHEN A = B
        AND B = c THEN 'Equilateral'
        WHEN (A = B) + (B = C) + (A = C) = 1 THEN 'Isosceles'
        ELSE 'Scalene'
    END AS triangle_type
FROM Triangles;

In [ ]:
def is_triangle(a,b,c):
    if a+b<=c or a+c<=b:
        return 'not a triangle'
    elif a==b and b==c:
        return "equilaterla"
    elif a==b+b==c+a==c==1:
        return 'isosceles'
    else:
        return 'scalene'

df

In [ ]:
def classify_triangle(a, b, c):
    if a + b <= c or a + c <= b or b + c <= a:
        return "Not A Triangle"
    elif a == b and b == c:
        return "Equilateral"
    elif (a == b) + (b == c) + (a == c) == 1:  # Check for exactly one pair of equal sides
        return "Isosceles"
    else:
        return "Scalene"

# Apply the classification logic using a UDF
classify_udf = udf(classify_triangle, StringType())

# Calculate and display the triangle types
result_df = df.withColumn("triangle_type", classify_udf(col("A"), col("B"), col("C")))
result_df.show()

In [ ]:
# Number of Unique Subjects Taught by Each Teacher

In [ ]:
select teacher_id,count(*)
from teacher
group by 1;

In [ ]:
teacher.groupby('teacher_id').size().reset_index()

In [ ]:
teacher.groupby("teacher_id").agg(count(col("*"))).show()

In [ ]:
# Flight Occupancy and Waitlist Analysis

In [ ]:
SELECT
    flight_id,
    LEAST(COUNT(passenger_id), capacity) AS booked_cnt,
    GREATEST(COUNT(passenger_id) - capacity, 0) AS waitlist_cnt
FROM
    Flights
    LEFT JOIN Passengers USING (flight_id)
GROUP BY 1
ORDER BY 1;

In [ ]:
import pandas as pd

def flight_occupancy(flights_df, passengers_df):

  # Perform a left join to combine flights and passengers data
  merged_df = flights_df.merge(passengers_df, on='flight_id', how='left')

  # Group by flight_id and count passengers
  grouped_df = merged_df.groupby('flight_id').agg(
      passenger_count=('passenger_id', 'count')
  ).reset_index()

  # Merge back with flights_df to get capacity
  result_df = grouped_df.merge(flights_df[['flight_id', 'capacity']], on='flight_id', how='left')

  # Calculate booked_cnt and waitlist_cnt
  result_df['booked_cnt'] = result_df.apply(
      lambda row: min(row['passenger_count'], row['capacity']), axis=1
  )
  result_df['waitlist_cnt'] = result_df.apply(
      lambda row: max(row['passenger_count'] - row['capacity'], 0), axis=1
  )

  # Sort by flight_id
  result_df = result_df.sort_values('flight_id')

  return result_df[['flight_id', 'booked_cnt', 'waitlist_cnt']]

# Example Usage:
flights_df = pd.DataFrame({
    'flight_id': [1, 2, 3],
    'capacity': [150, 100, 200]
})

passengers_df = pd.DataFrame({
    'flight_id': [1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
    'passenger_id': range(1, 21) 
})

result_df = flight_occupancy(flights_df, passengers_df)
print(result_df)